package ${glPackageBaseCommonCBean};

import ${glPackageBaseCommonSqlClause}.*;

/**
 * Condition-Bean context. (referring to s2pager)
 * 
 * @author ${database.ClassAuthor}
 */
public class ${glConditionBeanContextName} {

    /** The thread-local for this. */
    private static final ThreadLocal${database.filterGenericsString(${glConditionBeanInterfaceName})} _threadLocal = new ThreadLocal${database.filterGenericsString(${glConditionBeanInterfaceName})}();

    /** The database product name. */
    private static String _databaseProductName;

    /**
     * Get fetch-narrowing-bean on thread.
     * 
     * @return Condition-bean context. (Nullable)
     */
    public static ${glConditionBeanInterfaceName} getConditionBeanOnThread() {
        return (${glConditionBeanInterfaceName})_threadLocal.get();
    }

    /**
     * Set condition-bean on thread.
     * 
     * @param cb Condition-bean. (NotNull)
     */
    public static void setConditionBeanOnThread(${glConditionBeanInterfaceName} cb) {
        if (cb == null) {
            String msg = "The argument[cb] must not be null.";
            throw new IllegalArgumentException(msg);
        }
        _threadLocal.set(cb);
    }

    /**
     * Is existing condition-bean on thread?
     * 
     * @return Determination.
     */
    public static boolean isExistConditionBeanOnThread() {
        return (_threadLocal.get() != null);
    }

    /**
     * Clear condition-bean on thread.
     */
    public static void clearConditionBeanOnThread() {
        _threadLocal.set(null);
    }

    /**
     * Is the argument condition-bean?
     * 
     * @param dtoInstance Dto instance.
     * @return Determination.
     */
    public static boolean isTheArgumentConditionBean(final Object dtoInstance) {
        if (dtoInstance instanceof ${glConditionBeanInterfaceName}) {
            return true;
        } else {
            return false;
        }
    }

    /**
     * Is the type condition-bean?
     * 
     * @param dtoClass DtoClass.
     * @return Determination.
     */
    public static boolean isTheTypeConditionBean(final Class dtoClass) {
        if (${glConditionBeanInterfaceName}.class.isAssignableFrom(dtoClass)) {
            return true;
        } else {
            return false;
        }
    }

    /**
     * Get database product name.
     * 
     * @return Database product name.
     */
    public static String getDatabaseProductName() {
        return _databaseProductName;
    }

    /**
     * Set database product name.
     * 
     * @param name Database product name. (NotNull)
     */
    public static void setDatabaseProductName(String name) {
        if (_databaseProductName != null) {
            String msg = "Already set up: current=" + _databaseProductName + " your=" + name;
            throw new IllegalStateException(msg);
        }
        _databaseProductName = name;
    }

    public static ${glSqlClauseName} createSqlClause(String tableDbName) {
        final String databaseProductName = getDatabaseProductName();
        if (databaseProductName == null) {
            return new ${glSqlClauseName}${database.DaoGenDbName}(tableDbName);
        } else {
            final String name = databaseProductName.toLowerCase();
            if (name.startsWith("derby")) {
                return new ${glSqlClauseName}Derby(tableDbName);
            } else if (name.startsWith("oracle")) {
                return new ${glSqlClauseName}Oracle(tableDbName);
            } else if (name.startsWith("firebird")) {
                return new ${glSqlClauseName}Firebird(tableDbName);
            } else if (name.startsWith("mysql")) {
                return new ${glSqlClauseName}MySql(tableDbName);
            } else if (name.startsWith("postgre")) {
                return new ${glSqlClauseName}PostgreSql(tableDbName);
            } else if (name.startsWith("mssql")) {
                return new ${glSqlClauseName}SqlServer(tableDbName);
            } else if (name.startsWith("db2")) {
                return new ${glSqlClauseName}Db2(tableDbName);
            } else {
                return new ${glSqlClauseName}${database.DaoGenDbName}(tableDbName);
            }
        }
    }
}
