${database.allClassCopyright}package ${glPackageBaseCommonCBean};

import ${glPackageBaseCommonSqlClause}.${glOrderByClauseName};

/**
 * The order-by-bean as interface.
 * 
 * @author ${database.ClassAuthor}
 */
public interface ${glOrderByBeanInterfaceName} extends ${glSelectResourceInterfaceName} {

    /**
     * Get sql component of order-by clause.
     * 
     * @return Sql component of order-by clause. (NotNull)
     */
    public ${glOrderByClauseName} getSqlComponentOfOrderByClause();

    /**
     * Get order-by clause.
     * 
     * @return Order-by clause. (NotNull)
     */
    public String getOrderByClause();

    /**
     * Clear order-by.
     * 
     * @return this. (NotNull)
     */
    public ${glOrderByBeanInterfaceName} clearOrderBy();

    /**
     * Ignore order-by.
     * 
     * @return this. (NotNull)
     */
    public ${glOrderByBeanInterfaceName} ignoreOrderBy();

    /**
     * Make order-by effective.
     * 
     * @return this. (NotNull)
     */
    public ${glOrderByBeanInterfaceName} makeOrderByEffective();
#if ($database.isMakeRecentlyDeprecated())
    /**
     * Register order-by-asc.
     * 
     * @param orderByProperty Order-by-property. 'aliasName.columnName/aliasName.columnName/...' (NotNull)
     * @return this. (NotNull)
     * @deprecated
     */
    public ${glOrderByBeanInterfaceName} registerOrderByAsc(String orderByProperty);

    /**
     * Register order-by-desc.
     * 
     * @param orderByProperty Order-by-property. 'aliasName.columnName/aliasName.columnName/...' (NotNull)
     * @return this. (NotNull)
     * @deprecated
     */
    public ${glOrderByBeanInterfaceName} registerOrderByDesc(String orderByProperty);

    /**
     * Reverse order-by or Override order-by asc.
     * 
     * @param orderByProperty Order-by-property. 'aliasName.columnName/aliasName.columnName/...' (NotNull)
     * @return this. (NotNull)
     * @deprecated
     */
    public ${glOrderByBeanInterfaceName} reverseOrderBy_Or_OverrideOrderByAsc(String orderByProperty);

    /**
     * Reverse order-by or Override order-by desc.
     * 
     * @param orderByProperty Order-by-property. 'aliasName.columnName/aliasName.columnName/...' (NotNull)
     * @return this. (NotNull)
     * @deprecated
     */
    public ${glOrderByBeanInterfaceName} reverseOrderBy_Or_OverrideOrderByDesc(String orderByProperty);
#end
}
