${database.allClassCopyright}package ${glPackageBaseCommonCBean};

import ${glPackageBaseCommonSqlClause}.${glOrderByClauseName};
import ${glPackageBaseCommonSqlClause}.${glSqlClauseName};

/**
 * @deprecated
 */
public class ${glSimpleOrderByBeanName} implements ${glOrderByBeanInterfaceName} {

    // ===================================================================================
    //                                                                           Attribute
    //                                                                           =========
    /** SQL clause instance. */
    protected final ${glSqlClauseName} _sqlClause;
    {
        _sqlClause = ${glConditionBeanContextName}.createSqlClause("Dummy");
    }

    // ===================================================================================
    //                                                                         Constructor
    //                                                                         ===========
    /**
     * Constructor.
     */
    public ${glSimpleOrderByBeanName}() {
    }

    // ===================================================================================
    //                                                                           SqlClause
    //                                                                           =========
    /**
     * Get sql-clause.
     * 
     * @return Sql clause. (NotNull)
     */
    protected ${glSqlClauseName} getSqlClause() {
        return _sqlClause;
    }

    // ===================================================================================
    //                                                                     Select Resource
    //                                                                     ===============
    /**
     * Check safety result.
     * 
     * @param safetyMaxResultSize Safety max result size. (If zero or minus, ignore checking)
     */
    public void checkSafetyResult(int safetyMaxResultSize) {
        throw new UnsupportedOperationException();
    }

    // ===================================================================================
    //                                                                             OrderBy
    //                                                                             =======
    /**
     * ${database.ImplementComment}
     * 
     * @return Sql component of order-by clause. (NotNull)
     */
    public ${glOrderByClauseName} getSqlComponentOfOrderByClause() {
        return getSqlClause().getSqlComponentOfOrderByClause();
    }

    /**
     * ${database.ImplementComment}
     * 
     * @return Order-by clause. (NotNull)
     */
    public String getOrderByClause() {
        return getSqlClause().getOrderByClause();
    }

    /**
     * ${database.ImplementComment}
     * 
     * @return this. (NotNull)
     */
    public ${glOrderByBeanInterfaceName} clearOrderBy() {
        getSqlClause().clearOrderBy();
        return this;
    }

    /**
     * ${database.ImplementComment}
     * 
     * @return this. (NotNull)
     */
    public ${glOrderByBeanInterfaceName} ignoreOrderBy() {
        getSqlClause().ignoreOrderBy();
        return this;
    }

    /**
     * ${database.ImplementComment}
     * 
     * @return this. (NotNull)
     */
    public ${glOrderByBeanInterfaceName} makeOrderByEffective() {
        getSqlClause().makeOrderByEffective();
        return this;
    }
}
