${database.allClassCopyright}package ${glPackageBaseCommonException};

/**
 * The exception of when the value of bind variable is null about outsideSql.
 * @author ${database.ClassAuthor}
 */
public class ${glBindVariableParameterNullValueException} extends RuntimeException {

    /** Serial version UID. (Default) */
    private static final long serialVersionUID = 1L;

    /**
     * Constructor.
     * @param msg Exception message. (NotNull)
     */
    public ${glBindVariableParameterNullValueException}(String msg) {
        super(msg);
    }
}
