${database.allClassCopyright}package ${glPackageBaseCommonException};

/**
 * The exception of when the DB meta is not found.
 * @author ${database.ClassAuthor}
 */
public class ${glDBMetaNotFoundException} extends RuntimeException {

    /** Serial version UID. (Default) */
    private static final long serialVersionUID = 1L;

    /**
     * Constructor.
     * @param msg Exception message. (NotNull)
     */
    public ${glDBMetaNotFoundException}(String msg) {
        super(msg);
    }
}
