${database.allClassCopyright}package ${glPackageBaseCommonException};

/**
 * The exception of when the entity has already been updated by other thread.
 * 
 * @author ${database.ClassAuthor}
 */
public class ${glEntityAlreadyUpdatedException} extends org.seasar.dao.NotSingleRowUpdatedRuntimeException {

    /** Serial version UID. (Default) */
    private static final long serialVersionUID = 1L;

    /**
     * Constructor.
     * 
     * @param bean Bean. (NotNull)
     * @param rows Rows.
     */
    public ${glEntityAlreadyUpdatedException}(Object bean, int rows) {
        super(bean, rows);
    }

    /**
     * Constructor.
     * 
     * @param e NotSingleRowUpdatedRuntimeException. (NotNull)
     */
    public ${glEntityAlreadyUpdatedException}(org.seasar.dao.NotSingleRowUpdatedRuntimeException e) {
        super(e.getBean(), e.getRows());
    }
}
