${database.allClassCopyright}package ${glPackageBaseCommonException};

import org.seasar.dao.NotSingleRowUpdatedRuntimeException;

/**
 * The exception of when the entity has already been updated by other thread.
 * @author ${database.ClassAuthor}
 */
public class ${glEntityAlreadyUpdatedException} extends NotSingleRowUpdatedRuntimeException {

    /** Serial version UID. (Default) */
    private static final long serialVersionUID = 1L;
    
    // ===================================================================================
    //                                                                         Constructor
    //                                                                         ===========
    /**
     * Constructor.
     * @param bean Bean. (NotNull)
     * @param rows Rows.
     */
    public ${glEntityAlreadyUpdatedException}(Object bean, int rows) {
        super(bean, rows);
    }

    /**
     * Constructor.
     * @param e NotSingleRowUpdatedRuntimeException. (NotNull)
     */
    public ${glEntityAlreadyUpdatedException}(NotSingleRowUpdatedRuntimeException e) {
        super(e.getBean(), e.getRows());
    }
}
