${database.allClassCopyright}package ${glPackageBaseCommonException};

/**
 * The exception of when the outside-sql is not found.
 * 
 * @author ${database.ClassAuthor}
 */
public class ${glOutsideSqlNotFoundException} extends RuntimeException {

    /** Serial version UID. (Default) */
    private static final long serialVersionUID = 1L;

    /**
     * Constructor.
     * 
     * @param msg Exception message.
     */
    public ${glOutsideSqlNotFoundException}(String msg) {
        super(msg);
    }

    /**
     * Constructor.
     * 
     * @param msg Exception message.
     * @param cause Throwable.
     */
    public ${glOutsideSqlNotFoundException}(String msg, Throwable cause) {
        super(msg, cause);
    }
}
