<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>${database.projectName} schema</title>
  <style type="text/css">
	* {
		margin: 0;
		padding: 0;
	}
	body {
		font-family: sans-serif;
		font-size: 90%;
		margin: 10px 5px 5px 15px;
	}
	
	/* header */
	h1 {
		font-size: 1.5em;
		border-bottom: 2px solid #af0000;
		border-top: 2px solid #af0000;
	}
	h2 {
		margin: 30px 0 5px 0;
		font-size: 1.8em;
		border-bottom: 2px solid #af0000;
		border-left: 10px solid #af0000;
		text-indent: 10px;
	}
	.updatedate {
		text-align: right;
	}
	
	/* table */
	table {
		border-collapse:collapse;
	}
	table, th {
		border: 1px solid #555;
	}
	th {
		background-color: #cc9;
		font-size: 0.8em;
	}
	td {
		border-bottom: 1px dotted #aaa;
		border-left: 1px solid #555;
		padding:2px;
	}
	.aliascell {
		white-space: nowrap;
	}
	.flgcell {
		text-align: center;
	}
	.numcell {
		text-align: center;
	}
	.linkcell {
		font-size: 0.8em;
	}
	.commentcell {
		font-size: 0.7em;
	}
	.subcell {
		font-size: 0.8em;
	}
	.comcolcell {
		color: #666;
	}
	.optcell {
		font-style: italic;
	}
	.additionalpk {
		font-size: 0.7em;
		font-style: italic;
		color: #666;
	}
	.additionalfk {
		font-size: 0.7em;
		font-style: italic;
		color: #666;
	}

	/* inner table */
	table.child {
		margin: 3px;
	}
	table.child th {
		font-size: 0.7em;
		background-color: #fff;
	}
	table.child, table.child td, table.child th {
		border-top: none;
		border-left: none;
		border-bottom: 1px solid #aaa;
		border-right: 1px solid #aaa;
	}
  </style>
</head>

<body>
  <h1>${database.projectName} schema on ${database.databaseName}</h1>
  <p class="updatedate">${database.timestampExpression}</p>
  <h2>Table List</h2>
  <table>
    <thead>
      <tr>
#if ($database.isAliasDelimiterInDbCommentValid())
        <th>Alias</th>
#end
        <th>Name</th>
        <th>Type</th>
        <th>ForeignTable</th>
        <th>ReferrerTable</th>
        <th>Comment</th>
        <th>EntityName</th>
      </tr>
    </thead>
    <tbody>
#foreach ($table in $database.tableDisplaySortedList)
      <tr>
#if ($database.isAliasDelimiterInDbCommentValid())
        <td class="aliascell">${table.alias}</td>
#end
        <td><a href="#${table.name}">${table.name}</a></td>
        <td>${table.type}</td>
        <td class="subcell">${table.foreignTableNameCommaStringWithHtmlHref}</td>
        <td class="subcell">${table.referrerTableNameCommaStringWithHtmlHref}</td>
        <td class="commentcell">#if ($table.hasComment()) ${table.commentForSchemaHtml}#else &nbsp;#end</td>
        <td class="subcell">${table.javaName}</td>
      </tr>
#end
    </tbody>
  </table>

#foreach ($table in $database.tableDisplaySortedList)
$generator.parse("doc/html/table.vm", null, "table", $table)
#end

#if ($database.hasClassificationDefinitionMap())
  <h2>Classification Definition</h2>
  <table>
      <thead>
      <tr>
        <th>Classification</th>
        <th>Top Comment</th>
        <th>Definition</th>
      </tr>
      </thead>
    <tbody>
#foreach ($classificationName in $database.classificationNameList)
#set ($classificationMapList = $database.classificationDefinitionMap.get($classificationName))
#set ($existTop = false)
#if ($database.classificationTopDefinitionMap.containsKey($classificationName))
  #set ($classificationTopMap = $database.classificationTopDefinitionMap.get($classificationName))
  #set ($existTop = true)
#else
  #set ($existTop = false)
#end
      <tr>
        <td><a name="${classificationName}"/>${classificationName}</td>
        <td>#if ($existTop && $classificationTopMap.containsKey('topComment'))$classificationTopMap.get('topComment')#else &nbsp;#end</td>
        <td>
          <table class="child">
            <tr>
              <th>Code</th>
              <th>Name</th>
              <th>Comment</th>
            </tr>
#foreach ($classificationMap in $classificationMapList)
            <tr>
              <td>$classificationMap.get('code')</td>
              <td>${classificationMap.get('name')}</td>
              <td>#if ($classificationMap.containsKey('comment'))${classificationMap.get('comment')}#else &nbsp;#end</td>
            </tr>
#end
          </table>
        </td>
      </tr>
#end
    </tbody>
  </table>
#end
</body>
</html>
