${database.allClassCopyright}package ${myExtendedEntityPackageName} {
#set ($myClassName = "${myExtendedObjectClassName}")

import ${myBaseEntityPackageName}.${myBaseObjectClassName};

/**
 * The entity of ${table.name}.
 * <p>
 * You can implement your original methods here.
 * This class is NOT overrided when re-generating.
 * </p>
 * @author ${database.ClassAuthor}
 */
public class $myClassName extends ${myBaseObjectClassName} {
}

}