${database.allClassCopyright}package ${glPackageBaseCQ};

#set ($myClassName = "${myAbstractBaseConditionQueryClassName}")

#if ($table.hasClassification())

import ${glPackageBaseCommon}.${glClassificationDefinition};
#end

import ${glPackageBaseCommonCBean}.*;
import ${glPackageBaseCommonCKey}.*;
import ${glPackageBaseCommonCValue}.${glConditionValueName};
import ${glPackageBaseCommonSqlClause}.${glSqlClauseName};

/**
 * The condition-query of ${table.name}.
 * 
 * @author ${database.ClassAuthor}
 */
public abstract class ${myClassName} extends ${glConditionQueryAbstractName} {

    // ===================================================================================
    //                                                                         Constructor
    //                                                                         ===========
    /**
     * Constructor.
     * 
     * @param childQuery Child query as abstract class. (Nullable: If null, this is base instance.)
     * @param sqlClause SQL clause instance. (NotNull)
     * @param aliasName My alias name. (NotNull)
     * @param nestLevel Nest level.
     */
    public ${myClassName}(${glConditionQueryInterfaceName} childQuery, ${glSqlClauseName} sqlClause, String aliasName, int nestLevel) {
        super(childQuery, sqlClause, aliasName, nestLevel);
    }

    // ===================================================================================
    //                                                                          Table Name
    //                                                                          ==========
    /**
     * ${database.ImplementComment}
     * 
     * @return Table db-name. (NotNull)
     */
    final public String getTableDbName() {
        return "${table.Name}";
    }

    // ===================================================================================
    //                                                                               Query
    //                                                                               =====
    // /* * * * * * * * * * * * * * * * * * * * * * *
    //   MyTable = [$table.Name]
    // * * * * * * * * */
  #foreach ($col in $table.Columns)
    #set ($tmpJavaName = "${col.JavaName}")
    #set ($tmpUncapitalisedJavaName = "${col.UncapitalisedJavaName}")
    #if (${col.isJavaNativeStringObject()})

    /**
     * Set the value of ${col.UncapitalisedJavaName} using equal. { = }
     * If the value is null or empty-string, this condition is ignored.
     * 
     * @param ${tmpUncapitalisedJavaName} The value of ${col.UncapitalisedJavaName} as equal.
     */
    public void set${tmpJavaName}_Equal($col.JavaNative ${tmpUncapitalisedJavaName}) {
        register${tmpJavaName}(${glConditionKeyName}.CK_EQUAL, filterRemoveEmptyString(${tmpUncapitalisedJavaName}));
    }
      #if ($database.isMakeConditionQueryEqualEmptyString())

    /**
     * Set the empty-string of ${col.UncapitalisedJavaName} as equal. { = }
     */
    public void set${tmpJavaName}_Equal_EmptyString() {
        register${tmpJavaName}(${glConditionKeyName}.CK_EQUAL, "");
    }
      #end
      #if (${col.hasClassification()})
        #foreach ($classificationMap in $col.ClassificationMapList)

    /**
     * Set the value of ${classificationMap.get('name')} of ${col.UncapitalisedJavaName} as equal. { = } <br />
     * ${classificationMap.get('comment')} <br />
     */
    public void set${tmpJavaName}_Equal_${classificationMap.get('name')}() {
        register${tmpJavaName}(${glConditionKeyName}.CK_EQUAL, ${glClassificationDefinition}.${database.classificationCodeVariableNamePrefix}${col.ClassificationName}_${classificationMap.get('name')});
    }
        #end
      #end
      #if (${col.isAvailableStringNotEqual()})

    /**
     * Set the value of ${col.UncapitalisedJavaName} using notEqual. { != }
     * If the value is null or empty-string, this condition is ignored.
     * 
     * @param ${tmpUncapitalisedJavaName} The value of ${col.UncapitalisedJavaName} as notEqual.
     */
    public void set${tmpJavaName}_NotEqual($col.JavaNative ${tmpUncapitalisedJavaName}) {
        register${tmpJavaName}(${glConditionKeyName}.CK_NOT_EQUAL, filterRemoveEmptyString(${tmpUncapitalisedJavaName}));
    }
        #if (${col.hasClassification()})
          #foreach ($classificationMap in $col.ClassificationMapList)

    /**
     * Set the value of ${classificationMap.get('name')} of ${col.UncapitalisedJavaName} as notEqual. { != } <br />
     * ${classificationMap.get('comment')} <br />
     */
    public void set${tmpJavaName}_NotEqual_${classificationMap.get('name')}() {
        register${tmpJavaName}(${glConditionKeyName}.CK_NOT_EQUAL, ${glClassificationDefinition}.${database.classificationCodeVariableNamePrefix}${col.ClassificationName}_${classificationMap.get('name')});
    }
          #end
        #end
      #end
      #if (${col.isAvailableStringGreaterThan()})

    /**
     * Set the value of ${col.UncapitalisedJavaName} using greaterThan. { &gt; }
     * If the value is null or empty-string, this condition is ignored.
     * 
     * @param ${tmpUncapitalisedJavaName} The value of ${col.UncapitalisedJavaName} as greaterThan.
     */
    public void set${tmpJavaName}_GreaterThan($col.JavaNative ${tmpUncapitalisedJavaName}) {
        register${tmpJavaName}(${glConditionKeyName}.CK_GREATER_THAN, filterRemoveEmptyString(${tmpUncapitalisedJavaName}));
    }
      #end
      #if (${col.isAvailableStringLessThan()})

    /**
     * Set the value of ${col.UncapitalisedJavaName} using lessThan. { &lt; }
     * If the value is null or empty-string, this condition is ignored.
     * 
     * @param ${tmpUncapitalisedJavaName} The value of ${col.UncapitalisedJavaName} as lessThan.
     */
    public void set${tmpJavaName}_LessThan($col.JavaNative ${tmpUncapitalisedJavaName}) {
        register${tmpJavaName}(${glConditionKeyName}.CK_LESS_THAN, filterRemoveEmptyString(${tmpUncapitalisedJavaName}));
    }
      #end
      #if (${col.isAvailableStringGreaterEqual()})

    /**
     * Set the value of ${col.UncapitalisedJavaName} using greaterEqual. { &gt;= }
     * If the value is null or empty-string, this condition is ignored.
     * 
     * @param ${tmpUncapitalisedJavaName} The value of ${col.UncapitalisedJavaName} as greaterEqual.
     */
    public void set${tmpJavaName}_GreaterEqual($col.JavaNative ${tmpUncapitalisedJavaName}) {
        register${tmpJavaName}(${glConditionKeyName}.CK_GREATER_EQUAL, filterRemoveEmptyString(${tmpUncapitalisedJavaName}));
    }
      #end
      #if (${col.isAvailableStringLessEqual()})

    /**
     * Set the value of ${col.UncapitalisedJavaName} using lessEqual. { &lt;= }
     * If the value is null or empty-string, this condition is ignored.
     * 
     * @param ${tmpUncapitalisedJavaName} The value of ${col.UncapitalisedJavaName} as lessEqual.
     */
    public void set${tmpJavaName}_LessEqual($col.JavaNative ${tmpUncapitalisedJavaName}) {
        register${tmpJavaName}(${glConditionKeyName}.CK_LESS_EQUAL, filterRemoveEmptyString(${tmpUncapitalisedJavaName}));
    }
      #end
      #if (${col.isAvailableStringPrefixSearch()})

    /**
     * Set the value of ${col.UncapitalisedJavaName} using prefixSearch. { like 'xxx%' }
     * If the value is null or empty-string, this condition is ignored.
     * 
     * @param ${tmpUncapitalisedJavaName} The value of ${col.UncapitalisedJavaName} as prefixSearch.
     */
    public void set${tmpJavaName}_PrefixSearch($col.JavaNative ${tmpUncapitalisedJavaName}) {
        register${tmpJavaName}(${glConditionKeyName}.CK_PREFIX_SEARCH, filterRemoveEmptyString(${tmpUncapitalisedJavaName}));
    }
      #end
      #if (${col.isAvailableStringLikeSearch()})

    /**
     * Set the value of ${col.UncapitalisedJavaName} using likeSearch. { like '%xxx%' }
     * If the value is null or empty-string, this condition is ignored.
     * You can invoke this method several times and the conditions are set up.
     * 
     * @param ${tmpUncapitalisedJavaName} The value of ${col.UncapitalisedJavaName} as likeSearch.
     * @param likeSearchOption The option of like-search. (NotNull)
     */
    public void set${tmpJavaName}_LikeSearch($col.JavaNative ${tmpUncapitalisedJavaName}, ${glPackageBaseCommonCOption}.${glConditionOptionLikeSearchName} likeSearchOption) {
        registerLikeSearchQuery(${glConditionKeyName}.CK_LIKE_SEARCH, filterRemoveEmptyString(${tmpUncapitalisedJavaName}), getCValue${tmpJavaName}(), "${col.Name}", "${col.JavaName}", "${col.UncapitalisedJavaName}", likeSearchOption);
    }
      #end
      #if (${col.isAvailableStringInScope()})

    /**
     * Set the value of ${col.UncapitalisedJavaName} using inScope. { in ('a', 'b') }
     * If the element in the list is null or empty-string, the condition-element is ignored.
     * 
     * @param ${tmpUncapitalisedJavaName}List The value of ${col.UncapitalisedJavaName} as inScope.
     */
    public void set${tmpJavaName}_InScope(java.util.List${database.filterGenericsString(${col.JavaNative})} ${tmpUncapitalisedJavaName}List) {
        register${tmpJavaName}(${glConditionKeyName}.CK_IN_SCOPE, filterRemoveEmptyStringFromList(${tmpUncapitalisedJavaName}List));
    }

    /**
     * Set the value of ${col.UncapitalisedJavaName} using inScope. { in ('a', 'b') }
     * If the element in the list is null or empty-string, the condition-element is ignored.
     * 
     * @param ${tmpUncapitalisedJavaName} The value of ${col.UncapitalisedJavaName} as inScope.
     * @param inScopeOption The option of in-scope. (NotNull)
     */
    public void set${tmpJavaName}_InScope(${col.JavaNative} ${tmpUncapitalisedJavaName}, ${glPackageBaseCommonCOption}.${glConditionOptionInScopeName} inScopeOption) {
        registerInScopeQuery(${glConditionKeyName}.CK_IN_SCOPE, filterRemoveEmptyString(${tmpUncapitalisedJavaName}), getCValue${tmpJavaName}(), "${col.Name}", "${col.JavaName}", "${col.UncapitalisedJavaName}", inScopeOption);
    }
      #end
      #if (${col.isAvailableStringNotInScope()})

    /**
     * Set the value of ${col.UncapitalisedJavaName} using notInScope. { not in ('a', 'b') }
     * If the element in the list is null or empty-string, the condition-element is ignored.
     * 
     * @param ${tmpUncapitalisedJavaName}List The value of ${col.UncapitalisedJavaName} as notInScope.
     */
    public void set${tmpJavaName}_NotInScope(java.util.List${database.filterGenericsString(${col.JavaNative})} ${tmpUncapitalisedJavaName}List) {
        register${tmpJavaName}(${glConditionKeyName}.CK_NOT_IN_SCOPE, filterRemoveEmptyStringFromList(${tmpUncapitalisedJavaName}List));
    }
      #end
      #if (${col.isSingleKeyForeignKey()})
        #set ($relatedCQClassName = "${col.foreignKey.foreignTableExtendedConditionQueryClassName}")
        #set ($subQueryPropertyNameInitCap = "${tmpJavaName}_InScopeSubQuery_${col.foreignKey.foreignPropertyNameInitCap}")
        #set ($subQueryPropertyName = "${tmpUncapitalisedJavaName}_InScopeSubQuery_${col.foreignKey.foreignPropertyNameInitCap}")

    /**
     * Set the sub-query of ${subQueryPropertyNameInitCap} using inScopeSubQuery.
     * { in (select xxx.${col.foreignKey.firstForeignColumnName} from ${col.foreignKey.foreignTable.Name} where ...) }
     * This method use from clause and where clause of the sub-query instance.
     * this query keep the sub-query instance for query-value.
     * After you invoke this, If you set query in the argument[subQuery], the query is ignored.
     * 
     * @param subQuery The sub-query of ${subQueryPropertyNameInitCap} using inScopeSubQuery. (NotNull)
     */
    public void set${subQueryPropertyNameInitCap}(${glPackageCQ}.${relatedCQClassName} subQuery) {
        assertObjectNotNull("subQuery", subQuery);
        final String subQueryPropertyName = keep${subQueryPropertyNameInitCap}(subQuery);// for saving query-value.
        registerInScopeSubQuery(subQuery, "${col.Name}", "${col.foreignKey.firstForeignColumnName}", subQueryPropertyName);
    }

    abstract public String keep${subQueryPropertyNameInitCap}(${glPackageCQ}.${relatedCQClassName} subQuery);
      #end
      #if (${col.hasSingleKeyReferrer()})
        #foreach ($refferer in $col.SingleKeyReferrers)
          #set ($relatedCQClassName = "${refferer.refererTableExtendedConditionQueryClassName}")
          #set ($subQueryPropertyNameInitCap = "${tmpJavaName}_InScopeSubQuery_${refferer.reffererPropertyNameInitCap}")
          #set ($subQueryPropertyName = "${tmpUncapitalisedJavaName}_InScopeSubQuery_${refferer.reffererPropertyNameInitCap}")

    /**
     * Set the sub-query of ${subQueryPropertyNameInitCap} using inScopeSubQuery.
     * { in (select xxx.${refferer.FirstLocalColumnName} from ${refferer.Table.Name} where ...) }
     * This method use from clause and where clause of the sub-query instance.
     * this query keep the sub-query instance for query-value.
     * After you invoke this, If you set query in the argument[subQuery], the query is ignored.
     * 
     * @param subQuery The sub-query of ${subQueryPropertyNameInitCap} using inScopeSubQuery. (NotNull)
     */
    public void set${subQueryPropertyNameInitCap}(${glPackageCQ}.${relatedCQClassName} subQuery) {
        assertObjectNotNull("subQuery", subQuery);
        final String subQueryPropertyName = keep${subQueryPropertyNameInitCap}(subQuery);// for saving query-value.
        registerInScopeSubQuery(subQuery, "${col.Name}", "${refferer.FirstLocalColumnName}", subQueryPropertyName);
    }

    abstract public String keep${subQueryPropertyNameInitCap}(${glPackageCQ}.${relatedCQClassName} subQuery);
        #end
      #end
      #if (${col.hasSingleKeyReferrer()})
        #foreach ($refferer in $col.SingleKeyReferrers)
          #if (!$refferer.isSelfReference())
            #set ($relatedCQClassName = "${refferer.refererTableExtendedConditionQueryClassName}")
            #set ($subQueryPropertyNameInitCap = "${tmpJavaName}_ExistsSubQuery_${refferer.ReffererPropertyNameInitCap}")
            #set ($subQueryPropertyName = "${tmpUncapitalisedJavaName}_ExistsSubQuery_${refferer.ReffererPropertyNameInitCap}")

    /**
     * Set the sub-query of ${subQueryPropertyNameInitCap} using existsSubQuery.
     * { exists (select xxx.${refferer.FirstLocalColumnName} from ${refferer.Table.Name} where ...) }
     * This method use from clause and where clause of the sub-query instance.
     * this query keep the sub-query instance for query-value.
     * After you invoke this, If you set query in the argument[subQuery], the query is ignored.
     * 
     * @param subQuery The sub-query of ${subQueryPropertyNameInitCap} using existsSubQuery. (NotNull)
     */
    public void set${subQueryPropertyNameInitCap}(${glPackageCQ}.${relatedCQClassName} subQuery) {
        assertObjectNotNull("subQuery", subQuery);
        final String subQueryPropertyName = keep${subQueryPropertyNameInitCap}(subQuery);// for saving query-value.
        registerExistsSubQuery(subQuery, "${col.Name}", "${refferer.FirstLocalColumnName}", subQueryPropertyName);
    }

    abstract public String keep${subQueryPropertyNameInitCap}(${glPackageCQ}.${relatedCQClassName} subQuery);
          #end
        #end
      #end
    #end
    #if (${col.isJavaNativeNumberObject()})
    
    /**
     * Set the value of ${col.UncapitalisedJavaName} using equal. { = }
     * 
     * @param ${tmpUncapitalisedJavaName} The value of ${col.UncapitalisedJavaName} as equal.
     */
    public void set${tmpJavaName}_Equal($col.JavaNative ${tmpUncapitalisedJavaName}) {
        register${tmpJavaName}(${glConditionKeyName}.CK_EQUAL, ${tmpUncapitalisedJavaName});
    }
      #if (${col.hasClassification()})
        #foreach ($classificationMap in $col.ClassificationMapList)

    /**
     * Set the value of ${classificationMap.get('name')} of ${col.UncapitalisedJavaName} as equal. { = } <br />
     * ${classificationMap.get('comment')} <br />
     */
    public void set${tmpJavaName}_Equal_${classificationMap.get('name')}() {
        final String code = ${glClassificationDefinition}.${database.classificationCodeVariableNamePrefix}${col.ClassificationName}_${classificationMap.get('name')};
        register${tmpJavaName}(${glConditionKeyName}.CK_EQUAL, new ${col.JavaNative}(code));
    }
        #end
      #end
      #if (${col.isAvailableNumberNotEqual()})

    /**
     * Set the value of ${col.UncapitalisedJavaName} using notEqual. { != }
     * 
     * @param ${tmpUncapitalisedJavaName} The value of ${col.UncapitalisedJavaName} as notEqual.
     */
    public void set${tmpJavaName}_NotEqual($col.JavaNative ${tmpUncapitalisedJavaName}) {
        register${tmpJavaName}(${glConditionKeyName}.CK_NOT_EQUAL, ${tmpUncapitalisedJavaName});
    }
        #if (${col.hasClassification()})
          #foreach ($classificationMap in $col.ClassificationMapList)

    /**
     * Set the value of ${classificationMap.get('name')} of ${col.UncapitalisedJavaName} as notEqual. { != } <br />
     * ${classificationMap.get('comment')} <br />
     */
    public void set${tmpJavaName}_NotEqual_${classificationMap.get('name')}() {
        final String code = ${glClassificationDefinition}.${database.classificationCodeVariableNamePrefix}${col.ClassificationName}_${classificationMap.get('name')};
        register${tmpJavaName}(${glConditionKeyName}.CK_NOT_EQUAL, new ${col.JavaNative}(code));
    }
          #end
        #end
      #end
      #if (${col.isAvailableNumberGreaterThan()})

    /**
     * Set the value of ${col.UncapitalisedJavaName} using greaterThan. { &gt; }
     * 
     * @param ${tmpUncapitalisedJavaName} The value of ${col.UncapitalisedJavaName} as greaterThan.
     */
    public void set${tmpJavaName}_GreaterThan($col.JavaNative ${tmpUncapitalisedJavaName}) {
        register${tmpJavaName}(${glConditionKeyName}.CK_GREATER_THAN, ${tmpUncapitalisedJavaName});
    }
      #end
      #if (${col.isAvailableNumberLessThan()})

    /**
     * Set the value of ${col.UncapitalisedJavaName} using lessThan. { &lt; }
     * 
     * @param ${tmpUncapitalisedJavaName} The value of ${col.UncapitalisedJavaName} as lessThan.
     */
    public void set${tmpJavaName}_LessThan($col.JavaNative ${tmpUncapitalisedJavaName}) {
        register${tmpJavaName}(${glConditionKeyName}.CK_LESS_THAN, ${tmpUncapitalisedJavaName});
    }
      #end
      #if (${col.isAvailableNumberGreaterEqual()})

    /**
     * Set the value of ${col.UncapitalisedJavaName} using greaterEqual. { &gt;= }
     * 
     * @param ${tmpUncapitalisedJavaName} The value of ${col.UncapitalisedJavaName} as greaterEqual.
     */
    public void set${tmpJavaName}_GreaterEqual($col.JavaNative ${tmpUncapitalisedJavaName}) {
        register${tmpJavaName}(${glConditionKeyName}.CK_GREATER_EQUAL, ${tmpUncapitalisedJavaName});
    }
      #end
      #if (${col.isAvailableNumberLessEqual()})

    /**
     * Set the value of ${col.UncapitalisedJavaName} using lessEqual. { &lt;= }
     * 
     * @param ${tmpUncapitalisedJavaName} The value of ${col.UncapitalisedJavaName} as lessEqual.
     */
    public void set${tmpJavaName}_LessEqual($col.JavaNative ${tmpUncapitalisedJavaName}) {
        register${tmpJavaName}(${glConditionKeyName}.CK_LESS_EQUAL, ${tmpUncapitalisedJavaName});
    }
      #end
      #if ($database.isMakeConditionQueryNumericArgumentLong())

    /**
     * Set the value of ${col.UncapitalisedJavaName} using equal. { = }
     * 
     * @param ${tmpUncapitalisedJavaName} The value of ${col.UncapitalisedJavaName} as equal.
     */
    public void set${tmpJavaName}_Equal(long ${tmpUncapitalisedJavaName}) {
        register${tmpJavaName}(${glConditionKeyName}.CK_EQUAL, new ${col.JavaNative}(String.valueOf(${tmpUncapitalisedJavaName})));
    }
        #if (${col.isAvailableNumberNotEqual()})

    /**
     * Set the value of ${col.UncapitalisedJavaName} using notEqual. { != }
     * 
     * @param ${tmpUncapitalisedJavaName} The value of ${col.UncapitalisedJavaName} as notEqual.
     */
    public void set${tmpJavaName}_NotEqual(long ${tmpUncapitalisedJavaName}) {
        register${tmpJavaName}(${glConditionKeyName}.CK_NOT_EQUAL, new ${col.JavaNative}(String.valueOf(${tmpUncapitalisedJavaName})));
    }
        #end
        #if (${col.isAvailableNumberGreaterThan()})

    /**
     * Set the value of ${col.UncapitalisedJavaName} using greaterThan. { &gt; }
     * 
     * @param ${tmpUncapitalisedJavaName} The value of ${col.UncapitalisedJavaName} as greaterThan.
     */
    public void set${tmpJavaName}_GreaterThan(long ${tmpUncapitalisedJavaName}) {
        register${tmpJavaName}(${glConditionKeyName}.CK_GREATER_THAN, new ${col.JavaNative}(String.valueOf(${tmpUncapitalisedJavaName})));
    }
        #end
        #if (${col.isAvailableNumberLessThan()})

    /**
     * Set the value of ${col.UncapitalisedJavaName} using lessThan. { &lt; }
     * 
     * @param ${tmpUncapitalisedJavaName} The value of ${col.UncapitalisedJavaName} as lessThan.
     */
    public void set${tmpJavaName}_LessThan(long ${tmpUncapitalisedJavaName}) {
        register${tmpJavaName}(${glConditionKeyName}.CK_LESS_THAN, new ${col.JavaNative}(String.valueOf(${tmpUncapitalisedJavaName})));
    }
        #end
        #if (${col.isAvailableNumberGreaterEqual()})

    /**
     * Set the value of ${col.UncapitalisedJavaName} using greaterEqual. { &gt;= }
     * 
     * @param ${tmpUncapitalisedJavaName} The value of ${col.UncapitalisedJavaName} as greaterEqual.
     */
    public void set${tmpJavaName}_GreaterEqual(long ${tmpUncapitalisedJavaName}) {
        register${tmpJavaName}(${glConditionKeyName}.CK_GREATER_EQUAL, new ${col.JavaNative}(String.valueOf(${tmpUncapitalisedJavaName})));
    }
        #end
        #if (${col.isAvailableNumberLessEqual()})

    /**
     * Set the value of ${col.UncapitalisedJavaName} using lessEqual. { &lt;= }
     * 
     * @param ${tmpUncapitalisedJavaName} The value of ${col.UncapitalisedJavaName} as lessEqual.
     */
    public void set${tmpJavaName}_LessEqual(long ${tmpUncapitalisedJavaName}) {
        register${tmpJavaName}(${glConditionKeyName}.CK_LESS_EQUAL, new ${col.JavaNative}(String.valueOf(${tmpUncapitalisedJavaName})));
    }
        #end
      #end
      #if (${col.isAvailableNumberInScope()})

    /**
     * Set the value of ${col.UncapitalisedJavaName} using inScope. { in (a, b) }
     * If the element in the list is null or empty-string, the condition-element is ignored.
     * 
     * @param ${tmpUncapitalisedJavaName}List The value of ${col.UncapitalisedJavaName} as inScope.
     */
    public void set${tmpJavaName}_InScope(java.util.List${database.filterGenericsString(${col.JavaNative})} ${tmpUncapitalisedJavaName}List) {
        register${tmpJavaName}(${glConditionKeyName}.CK_IN_SCOPE, ${tmpUncapitalisedJavaName}List);
    }
      #end
      #if (${col.isAvailableNumberNotInScope()})

    /**
     * Set the value of ${col.UncapitalisedJavaName} using notInScope. { not in (a, b) }
     * If the element in the list is null or empty-string, the condition-element is ignored.
     * 
     * @param ${tmpUncapitalisedJavaName}List The value of ${col.UncapitalisedJavaName} as notInScope.
     */
    public void set${tmpJavaName}_NotInScope(java.util.List${database.filterGenericsString(${col.JavaNative})} ${tmpUncapitalisedJavaName}List) {
        register${tmpJavaName}(${glConditionKeyName}.CK_NOT_IN_SCOPE, ${tmpUncapitalisedJavaName}List);
    }
      #end
      #if (${col.isSingleKeyForeignKey()})
        #set ($relatedCQClassName = "${col.foreignKey.foreignTableExtendedConditionQueryClassName}")
        #set ($subQueryPropertyNameInitCap = "${tmpJavaName}_InScopeSubQuery_${col.foreignKey.foreignPropertyNameInitCap}")
        #set ($subQueryPropertyName = "${tmpUncapitalisedJavaName}_InScopeSubQuery_${col.foreignKey.foreignPropertyNameInitCap}")

    /**
     * Set the sub-query of ${subQueryPropertyNameInitCap} using inScopeSubQuery.
     * { in (select xxx.${col.foreignKey.firstForeignColumnName} from ${col.foreignKey.foreignTable.Name} where ...) }
     * This method use from clause and where clause of the sub-query instance.
     * this query keep the sub-query instance for query-value.
     * After you invoke this, If you set query in the argument[subQuery], the query is ignored.
     * 
     * @param subQuery The sub-query of ${subQueryPropertyNameInitCap} using inScopeSubQuery. (NotNull)
     */
    public void set${subQueryPropertyNameInitCap}(${glPackageCQ}.${relatedCQClassName} subQuery) {
        assertObjectNotNull("subQuery", subQuery);
        final String subQueryPropertyName = keep${subQueryPropertyNameInitCap}(subQuery);// for saving query-value.
        registerInScopeSubQuery(subQuery, "${col.Name}", "${col.foreignKey.firstForeignColumnName}", subQueryPropertyName);
    }

    abstract public String keep${subQueryPropertyNameInitCap}(${glPackageCQ}.${relatedCQClassName} subQuery);
      #end
      #if (${col.hasSingleKeyReferrer()})
        #foreach ($refferer in $col.SingleKeyReferrers)
          #set ($relatedCQClassName = "${refferer.refererTableExtendedConditionQueryClassName}")
          #set ($subQueryPropertyNameInitCap = "${tmpJavaName}_InScopeSubQuery_${refferer.ReffererPropertyNameInitCap}")
          #set ($subQueryPropertyName = "${tmpUncapitalisedJavaName}_InScopeSubQuery_${refferer.ReffererPropertyNameInitCap}")

    /**
     * Set the sub-query of ${subQueryPropertyNameInitCap} using inScopeSubQuery.
     * { in (select xxx.${refferer.FirstLocalColumnName} from ${refferer.Table.Name} where ...) }
     * This method use from clause and where clause of the sub-query instance.
     * this query keep the sub-query instance for query-value.
     * After you invoke this, If you set query in the argument[subQuery], the query is ignored.
     * 
     * @param subQuery The sub-query of ${subQueryPropertyNameInitCap} using inScopeSubQuery. (NotNull)
     */
    public void set${subQueryPropertyNameInitCap}(${glPackageCQ}.${relatedCQClassName} subQuery) {
        assertObjectNotNull("subQuery", subQuery);
        final String subQueryPropertyName = keep${subQueryPropertyNameInitCap}(subQuery);// for saving query-value.
        registerInScopeSubQuery(subQuery, "${col.Name}", "${refferer.FirstLocalColumnName}", subQueryPropertyName);
    }

    abstract public String keep${subQueryPropertyNameInitCap}(${glPackageCQ}.${relatedCQClassName} subQuery);
        #end
      #end
      #if (${col.hasSingleKeyReferrer()})
        #foreach ($refferer in $col.SingleKeyReferrers)
          #if (!$refferer.isSelfReference())
            #set ($relatedCQClassName = "${refferer.refererTableExtendedConditionQueryClassName}")
            #set ($subQueryPropertyNameInitCap = "${tmpJavaName}_ExistsSubQuery_${refferer.ReffererPropertyNameInitCap}")
            #set ($subQueryPropertyName = "${tmpUncapitalisedJavaName}_ExistsSubQuery_${refferer.ReffererPropertyNameInitCap}")

    /**
     * Set the sub-query of ${subQueryPropertyNameInitCap} using existsSubQuery.
     * { exists (select xxx.${refferer.FirstLocalColumnName} from ${refferer.Table.Name} where ...) }
     * This method use from clause and where clause of the sub-query instance.
     * this query keep the sub-query instance for query-value.
     * After you invoke this, If you set query in the argument[subQuery], the query is ignored.
     * 
     * @param subQuery The sub-query of ${subQueryPropertyNameInitCap} using existsSubQuery. (NotNull)
     */
    public void set${subQueryPropertyNameInitCap}(${glPackageCQ}.${relatedCQClassName} subQuery) {
        assertObjectNotNull("subQuery", subQuery);
        final String subQueryPropertyName = keep${subQueryPropertyNameInitCap}(subQuery);// for saving query-value.
        registerExistsSubQuery(subQuery, "${col.Name}", "${refferer.FirstLocalColumnName}", subQueryPropertyName);
    }

    abstract public String keep${subQueryPropertyNameInitCap}(${glPackageCQ}.${relatedCQClassName} subQuery);
          #end
        #end
      #end
    #end
    #if (${col.isJavaNativeDateObject()})
    
    /**
     * Set the value of ${col.UncapitalisedJavaName} using equal. { = }
     * 
     * @param ${tmpUncapitalisedJavaName} The value of ${col.UncapitalisedJavaName} as equal.
     */
    public void set${tmpJavaName}_Equal($col.JavaNative ${tmpUncapitalisedJavaName}) {
        register${tmpJavaName}(${glConditionKeyName}.CK_EQUAL, ${tmpUncapitalisedJavaName});
    }
      #if (${col.isAvailableDateNotEqual()})

    /**
     * Set the value of ${col.UncapitalisedJavaName} using notEqual. { != }
     * 
     * @param ${tmpUncapitalisedJavaName} The value of ${col.UncapitalisedJavaName} as notEqual.
     */
    public void set${tmpJavaName}_NotEqual($col.JavaNative ${tmpUncapitalisedJavaName}) {
        register${tmpJavaName}(${glConditionKeyName}.CK_NOT_EQUAL, ${tmpUncapitalisedJavaName});
    }
      #end
      #if (${col.isAvailableDateGreaterThan()})

    /**
     * Set the value of ${col.UncapitalisedJavaName} using greaterThan. { &gt; }
     * 
     * @param ${tmpUncapitalisedJavaName} The value of ${col.UncapitalisedJavaName} as greaterThan.
     */
    public void set${tmpJavaName}_GreaterThan($col.JavaNative ${tmpUncapitalisedJavaName}) {
        register${tmpJavaName}(${glConditionKeyName}.CK_GREATER_THAN, ${tmpUncapitalisedJavaName});
    }
      #end
      #if (${col.isAvailableDateLessThan()})

    /**
     * Set the value of ${col.UncapitalisedJavaName} using lessThan. { &lt; }
     * 
     * @param ${tmpUncapitalisedJavaName} The value of ${col.UncapitalisedJavaName} as lessThan.
     */
    public void set${tmpJavaName}_LessThan($col.JavaNative ${tmpUncapitalisedJavaName}) {
        register${tmpJavaName}(${glConditionKeyName}.CK_LESS_THAN, ${tmpUncapitalisedJavaName});
    }
      #end
      #if (${col.isAvailableDateGreaterEqual()})

    /**
     * Set the value of ${col.UncapitalisedJavaName} using greaterEqual. { &gt;= }
     * 
     * @param ${tmpUncapitalisedJavaName} The value of ${col.UncapitalisedJavaName} as greaterEqual.
     */
    public void set${tmpJavaName}_GreaterEqual($col.JavaNative ${tmpUncapitalisedJavaName}) {
        register${tmpJavaName}(${glConditionKeyName}.CK_GREATER_EQUAL, ${tmpUncapitalisedJavaName});
    }
      #end
      #if (${col.isAvailableDateLessEqual()})

    /**
     * Set the value of ${col.UncapitalisedJavaName} using lessEqual. { &lt;= }
     * 
     * @param ${tmpUncapitalisedJavaName} The value of ${col.UncapitalisedJavaName} as lessEqual.
     */
    public void set${tmpJavaName}_LessEqual($col.JavaNative ${tmpUncapitalisedJavaName}) {
        register${tmpJavaName}(${glConditionKeyName}.CK_LESS_EQUAL, ${tmpUncapitalisedJavaName});
    }
      #end
      #if (${col.isAvailableDateFromTo()})

    /**
     * Set the value of ${col.UncapitalisedJavaName} using from-to. { $fromDate <= COLUMN_NAME <= $toDate }
     * 
     * @param fromDate The from-date of ${col.UncapitalisedJavaName}. (Nullable)
     * @param toDate The to-date of ${col.UncapitalisedJavaName}. (Nullable)
     * @param fromToOption The option of from-to. (NotNull)
     */
    public void set${tmpJavaName}_FromTo($col.JavaNative fromDate, $col.JavaNative toDate, ${glPackageBaseCommonCOption}.${glConditionOptionFromToName} fromToOption) {
        registerFromToQuery(fromDate, toDate, getCValue${tmpJavaName}(), "${col.Name}", "${col.JavaName}", "${col.UncapitalisedJavaName}", fromToOption);
    }

    /**
     * Set the value of ${col.UncapitalisedJavaName} using from-to as date. { $fromDate <= COLUMN_NAME < $toDate + 1 }
     * 
     * @param fromDate The from-date of ${col.UncapitalisedJavaName}. (Nullable)
     * @param toDate The to-date of ${col.UncapitalisedJavaName}. (Nullable)
     */
    public void set${tmpJavaName}_DateFromTo($col.JavaNative fromDate, $col.JavaNative toDate) {
        set${tmpJavaName}_FromTo(fromDate, toDate, new ${glPackageBaseCommonCOption}.${glConditionOptionDateFromToName}());
    }
      #end
    #end
    #if (${col.isJavaNativeBooleanObject()})
    
    /**
     * Set the value of ${col.UncapitalisedJavaName} using equal. { = }
     * 
     * @param ${tmpUncapitalisedJavaName} The value of ${col.UncapitalisedJavaName} as equal.
     */
    public void set${tmpJavaName}_Equal($col.JavaNative ${tmpUncapitalisedJavaName}) {
        register${tmpJavaName}(${glConditionKeyName}.CK_EQUAL, ${tmpUncapitalisedJavaName});
    }
    #end
    #if (${col.isJavaNativeBinaryObject()})
    #end
    #if (!${col.isNotNull()})

    /**
     * Set the value of ${col.UncapitalisedJavaName} using isNull. { is null }
     */
    public void set${tmpJavaName}_IsNull() {
        register${tmpJavaName}(${glConditionKeyName}.CK_IS_NULL, DUMMY_OBJECT);
    }

    /**
     * Set the value of ${col.UncapitalisedJavaName} using isNotNull. { is not null }
     */
    public void set${tmpJavaName}_IsNotNull() {
        register${tmpJavaName}(${glConditionKeyName}.CK_IS_NOT_NULL, DUMMY_OBJECT);
    }
    #end
    
    /**
     * Register condition of ${col.UncapitalisedJavaName}.
     * 
     * @param key Condition key. (NotNull)
     * @param value The value of ${col.UncapitalisedJavaName}. (Nullable)
     */
    protected void register${tmpJavaName}(${glConditionKeyName} key, Object value) {
        registerQuery(key, value, getCValue${tmpJavaName}(), "${col.Name}", "${col.JavaName}", "${col.UncapitalisedJavaName}");
    }

    /**
     * Register inline condition of ${col.UncapitalisedJavaName}.
     * 
     * @param key Condition key. (NotNull)
     * @param value The value of ${col.UncapitalisedJavaName}. (Nullable)
     */
    protected void registerInline${tmpJavaName}(${glConditionKeyName} key, Object value) {
        registerInlineQuery(key, value, getCValue${tmpJavaName}(), "${col.Name}", "${col.JavaName}", "${col.UncapitalisedJavaName}");
    }

    abstract protected ${glConditionValueName} getCValue${tmpJavaName}();
  #end

    // ===================================================================================
    //                                                                      Basic Override
    //                                                                      ==============
    /**
     * This method overrides the method that is declared at super.
     * 
     * @return Clause string. (NotNull)
     */
    public String toString() {
        return getSqlClause().getClause();
    }
}
