#set ($myClassName = "")
#if ($database.isJavaDirOnlyOne())
${database.allClassCopyright}package ${glPackageBaseCQ};

import ${glPackageCQ}.*;
#set ($myClassName = "${myBaseConditionQueryClassName}")
#else
${database.allClassCopyright}package ${glPackageCQ};

import ${glPackageBaseCQ}.*;
#set ($myClassName = "${myConditionQueryClassName}")
#end
#if ($database.hasClassificationDefinitionMap())

import ${glPackageBaseCommon}.${glClassificationDefinition};
#end

import ${glPackageBaseCommonCBean}.*;
import ${glPackageBaseCommonCKey}.*;
import ${glPackageBaseCommonCValue}.${glConditionValueName};
import ${glPackageBaseCommonSqlClause}.${glSqlClauseName};
import ${glPackageCIQ}.*;

/**
 * The condition-query of ${table.name}.
 * 
 * @author ${database.ClassAuthor}
 */
public class ${myClassName} extends ${myAbstractBaseConditionQueryClassName} {

    // ===================================================================================
    //                                                                           Attribute
    //                                                                           =========
    /** Corresponding inline query. */
    protected ${myConditionInlineQueryClassName} _inlineQuery;

    // ===================================================================================
    //                                                                         Constructor
    //                                                                         ===========
    /**
     * Constructor.
     * 
     * @param childQuery Child query as abstract class. (Nullable: If null, this is base instance.)
     * @param sqlClause SQL clause instance. (NotNull)
     * @param aliasName My alias name. (NotNull)
     * @param nestLevel Nest level.
     */
    public ${myClassName}(${glConditionQueryInterfaceName} childQuery, ${glSqlClauseName} sqlClause, String aliasName, int nestLevel) {
        super(childQuery, sqlClause, aliasName, nestLevel);
    }

    // ===================================================================================
    //                                                                              Inline
    //                                                                              ======
    /**
     * Get inline query.
     * 
     * @return Inline query. (NotNull)
     */
    public ${myConditionInlineQueryClassName} inline() {
        if (_inlineQuery == null) {
            _inlineQuery = new ${myConditionInlineQueryClassName}(getChildQuery(), getSqlClause(), getAliasName(), getNestLevel(), this);
        }
        return _inlineQuery;
    }

    // ===================================================================================
    //                                                                     Include-as-Mine
    //                                                                     ===============
  #foreach ($col in $table.Columns)

    /**
     * Include select-column of ${col.UncapitalisedJavaName} as mine.
     * Alias name is java-name of this column.
     * Be careful to whether your table have the same column.
     */
    public void includeAsMine_${col.JavaName}() {
        registerIncludedSelectColumn("${col.JavaName}", getRealColumnName("${col.Name}"));
    }

    /**
     * Include select-column of ${col.UncapitalisedJavaName} as mine.
     * 
     * @param aliasName Alias name. {select columnName as aliasName from ...} This should not contain comma. (NotNull)
     */
    public void includeAsMine_${col.JavaName}(String aliasName) {
        registerIncludedSelectColumn(aliasName, getRealColumnName("${col.Name}"));
    }
  #end

    // ===================================================================================
    //                                                                               Query
    //                                                                               =====
    // /* * * * * * * * * * * * * * * * * * * * * * *
    //   MyTable = [$table.Name]
    // * * * * * * * * */
  #foreach ($col in $table.Columns)
    #set ($tmpJavaName = "${col.JavaName}")
    #set ($tmpUncapitalisedJavaName = "${col.UncapitalisedJavaName}")

    // /- - - - - - - - - - - - - - - - - - - - - - -
    //   Column = [$col.Name]
    // - - - - - - - - -/

    /** The attribute of ${col.UncapitalisedJavaName}. */
    protected ${glConditionValueName} _${tmpUncapitalisedJavaName};

    /**
     * Get the value of ${col.UncapitalisedJavaName}.
     * 
     * @return The value of ${col.UncapitalisedJavaName}.
     */
    public ${glConditionValueName} get${tmpJavaName}() {
        if (_${tmpUncapitalisedJavaName} == null) {
            _${tmpUncapitalisedJavaName} = new ${glConditionValueName}();
        }
        return _${tmpUncapitalisedJavaName};
    }

    protected ${glConditionValueName} getCValue${tmpJavaName}() {
        return get${tmpJavaName}();
    }

    #if (${col.isJavaNativeStringObject()})
      #if (${col.isSingleKeyForeignKey()})
        #set ($relatedCQClassName = "${glProjectPrefix}${col.foreignKey.foreignTable.javaName}CQ")
        #set ($subQueryPropertyNameInitCap = "${tmpJavaName}_InScopeSubQuery_${col.foreignKey.foreignPropertyNameInitCap}")
        #set ($subQueryPropertyName = "${tmpUncapitalisedJavaName}_InScopeSubQuery_${col.foreignKey.foreignPropertyNameInitCap}")

    /** The sub-query of ${subQueryPropertyNameInitCap} using inScopeSubQuery. */
    protected ${relatedCQClassName} _${subQueryPropertyName};

    /**
     * Get the sub-query of ${subQueryPropertyNameInitCap} using inScopeSubQuery.
     * 
     * @return The sub-query of ${subQueryPropertyNameInitCap} using inScopeSubQuery. (Nullable)
     */
    public ${relatedCQClassName} get${subQueryPropertyNameInitCap}() {
        return _${subQueryPropertyName};
    }

    public void keep${subQueryPropertyNameInitCap}(${relatedCQClassName} subQuery) {
        _${subQueryPropertyName} = subQuery;
    }
      #end
      #if (${col.hasSingleKeyReferrer()})
        #foreach ($refferer in $col.SingleKeyReferrers)
          #set ($relatedCQClassName = "${glProjectPrefix}${refferer.Table.JavaName}${glConditionQueryInitialName}")
          #set ($subQueryPropertyNameInitCap = "${tmpJavaName}_InScopeSubQuery_${refferer.ReffererPropertyNameInitCap}")
          #set ($subQueryPropertyName = "${tmpUncapitalisedJavaName}_InScopeSubQuery_${refferer.ReffererPropertyNameInitCap}")

    /** The sub-query of ${subQueryPropertyNameInitCap} using inScopeSubQuery. */
    protected ${relatedCQClassName} _${subQueryPropertyName};

    /**
     * Get the sub-query of ${subQueryPropertyNameInitCap} using inScopeSubQuery.
     * 
     * @return The sub-query of ${subQueryPropertyNameInitCap} using inScopeSubQuery. (Nullable)
     */
    public ${relatedCQClassName} get${subQueryPropertyNameInitCap}() {
        return _${subQueryPropertyName};
    }

    public void keep${subQueryPropertyNameInitCap}(${relatedCQClassName} subQuery) {
        _${subQueryPropertyName} = subQuery;
    }
        #end
      #end
      #if (${col.hasSingleKeyReferrer()})
        #foreach ($refferer in $col.SingleKeyReferrers)
          #if (!$refferer.isSelfReference())
            #set ($relatedCQClassName = "${glProjectPrefix}${refferer.Table.JavaName}${glConditionQueryInitialName}")
            #set ($subQueryPropertyNameInitCap = "${tmpJavaName}_ExistsSubQuery_${refferer.ReffererPropertyNameInitCap}")
            #set ($subQueryPropertyName = "${tmpUncapitalisedJavaName}_ExistsSubQuery_${refferer.ReffererPropertyNameInitCap}")

    /** The sub-query of ${subQueryPropertyNameInitCap} using existsSubQuery. */
    protected ${relatedCQClassName} _${subQueryPropertyName};

    /**
     * Get the sub-query of ${subQueryPropertyNameInitCap} using existsSubQuery.
     * 
     * @return The sub-query of ${subQueryPropertyNameInitCap} using inScopeSubQuery. (Nullable)
     */
    public ${relatedCQClassName} get${subQueryPropertyNameInitCap}() {
        return _${subQueryPropertyName};
    }

    public void keep${subQueryPropertyNameInitCap}(${relatedCQClassName} subQuery) {
        _${subQueryPropertyName} = subQuery;
    }
          #end
        #end
      #end
    #end
    #if (${col.isJavaNativeNumberObject()})
      #if (${col.isSingleKeyForeignKey()})
        #set ($relatedCQClassName = "${glProjectPrefix}${col.foreignKey.foreignTable.javaName}CQ")
        #set ($subQueryPropertyNameInitCap = "${tmpJavaName}_InScopeSubQuery_${col.foreignKey.foreignPropertyNameInitCap}")
        #set ($subQueryPropertyName = "${tmpUncapitalisedJavaName}_InScopeSubQuery_${col.foreignKey.foreignPropertyNameInitCap}")

    /** The sub-query of ${subQueryPropertyNameInitCap} using inScopeSubQuery. */
    protected ${relatedCQClassName} _${subQueryPropertyName};

    /**
     * Get the sub-query of ${subQueryPropertyNameInitCap} using inScopeSubQuery.
     * 
     * @return The sub-query of ${subQueryPropertyNameInitCap} using inScopeSubQuery. (Nullable)
     */
    public ${relatedCQClassName} get${subQueryPropertyNameInitCap}() {
        return _${subQueryPropertyName};
    }

    public void keep${subQueryPropertyNameInitCap}(${relatedCQClassName} subQuery) {
        _${subQueryPropertyName} = subQuery;
    }
      #end
      #if (${col.hasSingleKeyReferrer()})
        #foreach ($refferer in $col.SingleKeyReferrers)
          #set ($relatedCQClassName = "${glProjectPrefix}${refferer.Table.JavaName}${glConditionQueryInitialName}")
          #set ($subQueryPropertyNameInitCap = "${tmpJavaName}_InScopeSubQuery_${refferer.ReffererPropertyNameInitCap}")
          #set ($subQueryPropertyName = "${tmpUncapitalisedJavaName}_InScopeSubQuery_${refferer.ReffererPropertyNameInitCap}")

    /** The sub-query of ${subQueryPropertyNameInitCap} using inScopeSubQuery. */
    protected ${relatedCQClassName} _${subQueryPropertyName};

    /**
     * Get the sub-query of ${subQueryPropertyNameInitCap} using inScopeSubQuery.
     * 
     * @return The sub-query of ${subQueryPropertyNameInitCap} using inScopeSubQuery. (Nullable)
     */
    public ${relatedCQClassName} get${subQueryPropertyNameInitCap}() {
        return _${subQueryPropertyName};
    }

    public void keep${subQueryPropertyNameInitCap}(${relatedCQClassName} subQuery) {
        _${subQueryPropertyName} = subQuery;
    }
        #end
      #end
      #if (${col.hasSingleKeyReferrer()})
        #foreach ($refferer in $col.SingleKeyReferrers)
          #if (!$refferer.isSelfReference())
            #set ($relatedCQClassName = "${glProjectPrefix}${refferer.Table.JavaName}${glConditionQueryInitialName}")
            #set ($subQueryPropertyNameInitCap = "${tmpJavaName}_ExistsSubQuery_${refferer.ReffererPropertyNameInitCap}")
            #set ($subQueryPropertyName = "${tmpUncapitalisedJavaName}_ExistsSubQuery_${refferer.ReffererPropertyNameInitCap}")

    /** The sub-query of ${subQueryPropertyNameInitCap} using existsSubQuery. */
    protected ${relatedCQClassName} _${subQueryPropertyName};

    /**
     * Get the sub-query of ${subQueryPropertyNameInitCap} using existsSubQuery.
     * 
     * @return The sub-query of ${subQueryPropertyNameInitCap} using existsSubQuery. (Nullable)
     */
    public ${relatedCQClassName} get${subQueryPropertyNameInitCap}() {
        return _${subQueryPropertyName};
    }

    public void keep${subQueryPropertyNameInitCap}(${relatedCQClassName} subQuery) {
        _${subQueryPropertyName} = subQuery;
    }
          #end
        #end
      #end
    #end
    #if (${col.isJavaNativeDateObject()})
    #end
    #if (${col.isJavaNativeBooleanObject()})
    #end
    #if (${col.isJavaNativeBinaryObject()})
    #end
    #if (!${col.isNotNull()})
    #end
    #if (!${col.isJavaNativeBinaryObject()})

    /**
     * Add order-by of ${col.UncapitalisedJavaName} as ASC.
     * 
     * @return this. (NotNull)
     */
    public ${myClassName} addOrderBy_${tmpJavaName}_Asc() {
        getSqlClause().registerOrderBy(getRealColumnName(COL_${col.Name}), null, true);return this;
    }

    /**
     * Add order-by of ${col.UncapitalisedJavaName} as DESC.
     * 
     * @return this. (NotNull)
     */
    public ${myClassName} addOrderBy_${tmpJavaName}_Desc() {
        getSqlClause().registerOrderBy(getRealColumnName(COL_${col.Name}), null, false);return this;
    }
    #end
  #end

    // ===================================================================================
    //                                                                         Union Query
    //                                                                         ===========
    protected void reflectRelationOnUnionQuery(${glConditionQueryInterfaceName} baseQueryAsSuper, ${glConditionQueryInterfaceName} unionQueryAsSuper) {
        final ${myConditionQueryClassName} baseQuery = (${myConditionQueryClassName})baseQueryAsSuper;
        final ${myConditionQueryClassName} unionQuery = (${myConditionQueryClassName})unionQueryAsSuper;
  #foreach ($foreignKeys in $table.ForeignKeys)

        if (baseQuery.hasConditionQuery${foreignKeys.foreignPropertyNameInitCap}()) {
            unionQuery.query${foreignKeys.foreignPropertyNameInitCap}().reflectRelationOnUnionQuery(baseQuery.query${foreignKeys.foreignPropertyNameInitCap}(), unionQuery.query${foreignKeys.foreignPropertyNameInitCap}());
        }
  #end
  #foreach ($refferer in $table.Referrers)
    #if (${refferer.isOneToOne()})

        if (baseQuery.hasConditionQuery${refferer.reffererPropertyNameInitCapAsOne}()) {
            unionQuery.query${refferer.reffererPropertyNameInitCapAsOne}().reflectRelationOnUnionQuery(baseQuery.query${refferer.reffererPropertyNameInitCapAsOne}(), unionQuery.query${refferer.reffererPropertyNameInitCapAsOne}());
        }
    #end
  #end

    }

    // ===================================================================================
    //                                                                       Foreign Query
    //                                                                       =============
  #foreach ($foreignKeys in $table.ForeignKeys)
    #set ($foreignCQClassName = "${glProjectPrefix}${foreignKeys.foreignTable.JavaName}${glConditionQueryInitialName}")
    
    // /* * * * * * * * * * * * * * * * * * * * * * *
    //   ForeignTable    = [${foreignKeys.ForeignTable.Name}]
    //   ForeignProperty = [${foreignKeys.ForeignPropertyName}]
    // * * * * * * * * */

    /**
     * Query for ${foreignKeys.ForeignPropertyName}.
     * 
     * @return Instance of ${foreignCQClassName} as ${foreignKeys.ForeignPropertyName}. (NotNull)
     */
    public ${foreignCQClassName} query${foreignKeys.ForeignPropertyNameInitCap}() {
        return getConditionQuery${foreignKeys.ForeignPropertyNameInitCap}();
    }

    /** Condition-query for ${foreignKeys.ForeignPropertyName}. */
    protected ${foreignCQClassName} _conditionQuery${foreignKeys.ForeignPropertyNameInitCap};

    /**
     * Get condition-query for ${foreignKeys.ForeignPropertyName}.
     * 
     * @return Instance of ${foreignCQClassName} as ${foreignKeys.ForeignPropertyName}. (NotNull)
     */
    public ${foreignCQClassName} getConditionQuery${foreignKeys.ForeignPropertyNameInitCap}() {
        if (_conditionQuery${foreignKeys.foreignPropertyNameInitCap} == null) {
            _conditionQuery${foreignKeys.foreignPropertyNameInitCap} = newQuery${foreignKeys.ForeignPropertyNameInitCap}();
            setupOuterJoin_${foreignKeys.foreignPropertyNameInitCap}();
        }
        return _conditionQuery${foreignKeys.ForeignPropertyNameInitCap};
    }

    /**
     * Setup outer join for ${foreignPropertyName}.
     */
    protected void setupOuterJoin_${foreignKeys.ForeignPropertyNameInitCap}() {
        final java.util.Map${database.filterGenericsString('String, String')} joinOnMap = new java.util.LinkedHashMap${database.filterGenericsString('String, String')}();
        String key = null;
        String value = null;
    #foreach ($columnName in $foreignKeys.LocalColumns)
      #set ($localColumn = $table.getColumn($columnName))
      #set ($foreignColumnName = $foreignKeys.getLocalForeignMapping().get($columnName))

        key = getRealColumnName("${localColumn.Name}");
        value = getConditionQuery${foreignKeys.ForeignPropertyNameInitCap}().getRealColumnName("${foreignColumnName}");
        joinOnMap.put(key, value);
    #end

        final String joinTableName = "${foreignKeys.foreignTable.Name}";
        final String aliasName = getConditionQuery${foreignKeys.ForeignPropertyNameInitCap}().getRealAliasName();
        getSqlClause().registerOuterJoin(joinTableName, aliasName, joinOnMap);
    }

    /**
     * New query for ${foreignKeys.ForeignPropertyName}.
     * 
     * @return Query for ${foreignKeys.ForeignPropertyName}. (NotNull)
     */
    protected ${foreignCQClassName} newQuery${foreignKeys.ForeignPropertyNameInitCap}() {
        return new ${foreignCQClassName}(this, getSqlClause(), "${foreignKeys.ForeignPropertyNameInitCap}", getNextNestLevel());
    }

    /**
     * Has condition query?
     * 
     * @return Determination.
     */
    public boolean hasConditionQuery${foreignKeys.ForeignPropertyNameInitCap}() {
        return _conditionQuery${foreignKeys.ForeignPropertyNameInitCap} != null;
    }
  #end

  #foreach ($refferer in $table.Referrers)
    #set ($relatedCQClassName = "${glProjectPrefix}${refferer.Table.JavaName}${glConditionQueryInitialName}")
    #if (${refferer.isOneToOne()})

    // /* * * * * * * * * * * * * * * * * * * * * * * {as one}
    //   ReffererTable    = [${refferer.Table.Name}]
    //   ReffererProperty = [${refferer.ReffererPropertyNameAsOne}]
    // * * * * * * * * */

    /**
     * Query for ${refferer.ReffererPropertyNameAsOne}.
     * 
     * @return Instance of ${relatedCQClassName} as ${refferer.ReffererPropertyNameAsOne}. (NotNull)
     */
    public ${relatedCQClassName} query${refferer.ReffererPropertyNameInitCapAsOne}() {
        return getConditionQuery${refferer.ReffererPropertyNameInitCapAsOne}();
    }

    /** Condition-query for ${refferer.ReffererPropertyNameAsOne}. */
    protected ${relatedCQClassName} _conditionQuery${refferer.ReffererPropertyNameInitCapAsOne};

    /**
     * Get condition-query for ${refferer.ReffererPropertyNameAsOne}.
     * 
     * @return Instance of ${relatedCQClassName} as ${refferer.ReffererPropertyNameAsOne}. (NotNull)
     */
    public ${relatedCQClassName} getConditionQuery${refferer.ReffererPropertyNameInitCapAsOne}() {
        if (_conditionQuery${refferer.ReffererPropertyNameInitCapAsOne} == null) {
            _conditionQuery${refferer.ReffererPropertyNameInitCapAsOne} = newQuery${refferer.ReffererPropertyNameInitCapAsOne}();
            setupOuterJoin_${refferer.ReffererPropertyNameInitCapAsOne}();
        }
        return _conditionQuery${refferer.ReffererPropertyNameInitCapAsOne};
    }

    /**
     * Setup outer join for ${refferer.ReffererPropertyName}.
     */
    protected void setupOuterJoin_${refferer.ReffererPropertyNameInitCapAsOne}() {
        final java.util.Map${database.filterGenericsString('String, String')} joinOnMap = new java.util.LinkedHashMap${database.filterGenericsString('String, String')}();
        String key = null;
        String value = null;
      #foreach ($columnName in $refferer.ForeignColumns)
        #set ($foreignColumn = $table.getColumn($columnName))
        #set ($reffererColumnName = $refferer.getLocalForeignMapping().get($columnName))

        key = getRealColumnName("${foreignColumn.Name}");
        value = getConditionQuery${refferer.ReffererPropertyNameInitCapAsOne}().getRealColumnName("${reffererColumnName}");
        joinOnMap.put(key, value);
      #end

        final String joinTableName = "${refferer.Table.Name}";
        final String aliasName = getConditionQuery${refferer.ReffererPropertyNameInitCapAsOne}().getRealAliasName();
        getSqlClause().registerOuterJoin(joinTableName, aliasName, joinOnMap);
    }

    /**
     * New query for ${refferer.ReffererPropertyNameAsOne}.
     * 
     * @return Query for ${refferer.ReffererPropertyNameAsOne}. (NotNull)
     */
    protected ${relatedCQClassName} newQuery${refferer.ReffererPropertyNameInitCapAsOne}() {
        return new ${relatedCQClassName}(this, getSqlClause(), "${refferer.ReffererPropertyNameInitCapAsOne}", getNextNestLevel());
    }

    /**
     * Has condition query?
     * 
     * @return Determination.
     */
    public boolean hasConditionQuery${refferer.ReffererPropertyNameInitCapAsOne}() {
        return _conditionQuery${refferer.ReffererPropertyNameInitCapAsOne} != null;
    }
    #end
  #end

}
