${database.allClassCopyright}package ${glPackageCB};
#set ($myClassName = "${myConditionBeanClassName}")

import ${glPackageBaseCB}.${myBaseConditionBeanClassName};

/**
 * The condition-bean of ${table.name}.
 * <p>
 * You can implement your original methods here.
 * This class remains when re-generating.
 * </p>
 * @author ${database.classAuthor}
 */
public class ${myClassName} extends ${myBaseConditionBeanClassName} {
}
