${database.allClassCopyright}package ${myBaseDaoPackageName};

#set ($myClassName = "${myBaseDaoClassName}")

import ${glPackageExtendedEntity}.${myExtendedObjectClassName};
#set ($InterfaceName = "")
#if ($table.isWritable())
  #set ($InterfaceName = "${glPackageBaseCommon}.${glDaoWritableInterfaceName}")
#else
  #set ($InterfaceName = "${glPackageBaseCommon}.${glDaoReadableInterfaceName}")
#end

/**
 * The dao interface of ${table.Name}.
 * 
 * <pre>
 * [primary-key]
 *     ${table.primaryKeyNameCommaString}
 * 
 * [column-property]
 *     ${table.columnNameCommaString}
 * 
 * [foreign-property]
 *     ${table.foreignPropertyNameCommaString}
 * 
 * [referer-property]
 *     ${table.referrerPropertyNameCommaString}
 * 
 * [sequence]
 *     ${table.definedSequenceName}
 * 
 * [identity]
 *     ${table.identityPropertyName}
 * 
 * [update-date]
 *     ${table.updateDateJavaName}
 * 
 * [version-no]
 *     ${table.versionNoJavaName}
 * 
 * </pre>
 * 
 * @author ${database.ClassAuthor}
 */${database.outputSuppressWarningsAfterLineSeparator()}
public interface ${myClassName} extends ${InterfaceName} {

    /** BEAN-Annotation. */
    public Class BEAN = ${glPackageExtendedEntity}.${myExtendedObjectClassName}.class;

    /** SQL-Annotation for getCountAll(). */
    public static final String getCountAll_SQL = "select count(*) from ${table.Name}";

    /**
     * Get count as all.
     * 
     * @return All count.
     */
    public int getCountAll();

    /** SQL-Annotation for getListAll(). */
    public static final String getListAll_SQL = "select ${table.columnNameCommaString} from ${table.Name}";

    /**
     * Get list as all.
     * 
     * @return All list. (NotNull)
     */
    public java.util.List${database.filterGenericsString(${myExtendedObjectClassName})} getListAll();
#if ($table.isWritable())

    /** SQL-Annotation for getEntity(). */
    public static final String getEntity_SQL = "select ${table.columnNameCommaString} from ${table.Name} where ${table.PrimaryKeyWhereStringWithSqlComment}";

    /** Args-Annotation for getEntity(). */
    public static final String getEntity_ARGS = "${table.PrimaryKeyUncapitalisedJavaNameCommaString}";

    /* (non-javadoc)
     * Get entity by primary key.
     * 
     * @param primaryKey Primary key. (NotNull)
     */
    public ${myExtendedObjectClassName} getEntity(${table.PrimaryKeyArgsString});
#end
#if ($table.isWritable() && $table.hasOnlyOnePrimaryKey() && $database.isUseBuri())

    public static final String getEntityByIds_ARGS = "ids";
    public static final String getEntityByIds_QUERY = "${table.primaryKeyNameAsOne} in /*ids*/(1)";
    java.util.List<${myExtendedObjectClassName}> getEntityByIds(java.util.List<${table.primaryKeyJavaNativeAsOne}> ids);
#end

    /**
     * Select count by condition-bean.
     * <pre>
     * Ignore fetchFirst() and fetchScope() and fetchPage().
     * But the fetch status of the condition-bean remains as it is.
     * This select method generates SQL based on condition-bean.
     * 
     * Example)
     *   final ${myConditionBeanClassName} cb = new ${myConditionBeanClassName}();
     *   cb.query().setXxx_GreaterEqual(new BigDecimal(14));
     *   final int count = dao.selectCount(cb);
     * </pre>
     * 
     * @param cb Condition-bean. (NotNull)
     * @return Selected count. (NotNull)
     */
    public int selectCount(${myAttachedCBArgsString});

    /**
     * Select entity '${myExtendedObjectClassName}' by condition-bean.
     * <pre>
     * This select method generates SQL based on condition-bean.
     * 
     * Example)
     *   final ${myConditionBeanClassName} cb = new ${myConditionBeanClassName}();
     *   cb.query().setXxxCode_Equal("abc");// It is assumed that this is the primary key...
     *   cb.lockForUpdate();
     *   final ${myExtendedObjectClassName} entity = dao.selectEntity(cb);
     * </pre>
     * 
     * @param cb Condition-bean. (NotNull)
     * @return Selected entity. If the select result is zero, it returns null. (Nullable)
     */
    public ${myExtendedObjectClassName} selectEntity(${myAttachedCBArgsString});

    /**
     * Select list by condition-bean.
     * <pre>
     * This select method generates SQL based on condition-bean.
     * 
     * Example)
     *   final ${myConditionBeanClassName} cb = new ${myConditionBeanClassName}();
     *   cb.setupSelect_Xxx(); // Including the foreign table in select clause
     *   cb.query().setXxxName_PrefixSearch("abc");
     *   cb.query().setXxxStartDate_IsNotNull();
     *   cb.addOrderBy_PK_Asc().fetchFirst(20);
     *   final List resultList = dao.selectList(cb);
     * </pre>
     * 
     * @param cb Condition-bean. (NotNull)
     * @return Selected list. If the select result is zero, it returns empty list. (NotNull)
     */
    public java.util.List${database.filterGenericsString(${myExtendedObjectClassName})} selectList(${myAttachedCBArgsString});

#if ($table.isWritable())

    /**
     * Insert one entity.
     * 
     * @param entity Entity. (NotNull)
     * @return Inserted count.
     */
    public int insert(${myExtendedObjectClassName} entity);

    /**
     * Update one entity.
     * 
     * @param entity Entity. (NotNull)
     * @return Updated count.
     * @deprecated Please use updateModifiedOnly()
     */
    public int update(${myExtendedObjectClassName} entity);

    /**
     * Update one entity. {modified only}
     * 
     * @param entity Entity. (NotNull)
     * @return Updated count.
     */
    public int updateModifiedOnly(${myExtendedObjectClassName} entity);

#if ($database.isVersionAfter1040() && ($table.isUseUpdateDate() || $table.isUseVersionNo()))
    /**
     * Update one entity non-strictly. {modified only}
     * 
     * @param entity Entity. (NotNull)
     * @return Updated count.
     */
    public int updateNonstrictModifiedOnly(${myExtendedObjectClassName} entity);
#end

    /**
     * Delete one entity.
     * 
     * @param entity Entity. (NotNull)
     * @return Deleted count.
     */
    public int delete(${myExtendedObjectClassName} entity);

#if ($database.isVersionAfter1040() && ($table.isUseUpdateDate() || $table.isUseVersionNo()))
    /**
     * Delete one entity. {non-strict}
     * 
     * @param entity Entity. (NotNull)
     * @return Deleted count.
     */
    public int deleteNonstrict(${myExtendedObjectClassName} entity);
#end

#set ($batchUpdateReturnType = "")
#if ($database.isVersionAfter1047())
  #set ($batchUpdateReturnType = "int[]")
#else
  #set ($batchUpdateReturnType = "int")
#end

    /**
     * Insert several entities.
     * 
     * @param entityList Entity-list. (NotNull)
     * @return The array of inserted count.
     */
    public ${batchUpdateReturnType} insertList(java.util.List<${myExtendedObjectClassName}> entityList);

    /**
     * Update several entities.
     * 
     * @param entityList Entity-list. (NotNull)
     * @return The array of updated count.
     */
    public ${batchUpdateReturnType} updateList(java.util.List<${myExtendedObjectClassName}> entityList);

#if ($database.isVersionAfter1040() && ($table.isUseUpdateDate() || $table.isUseVersionNo()))
    /**
     * Update several entities non-strictly.
     * 
     * @param entityList Entity-list. (NotNull)
     * @return The array of updated count.
     */
    public ${batchUpdateReturnType} updateListNonstrict(java.util.List<${myExtendedObjectClassName}> entityList);
#end

    /**
     * Delete several entities.
     * 
     * @param entityList Entity-list. (NotNull)
     * @return The array of deleted count.
     */
    public ${batchUpdateReturnType} deleteList(java.util.List<${myExtendedObjectClassName}> entityList);

#if ($database.isVersionAfter1040() && ($table.isUseUpdateDate() || $table.isUseVersionNo()))
    /**
     * Delete several entities non-strictly.
     * 
     * @param entityList Entity-list. (NotNull)
     * @return The array of deleted count.
     */
    public ${batchUpdateReturnType} deleteListNonstrict(java.util.List<${myExtendedObjectClassName}> entityList);
#end

#else
  #if ($table.isAvailableNonPrimaryKeyWritable())

    /** SQL-Annotation for insert(). */
    public static final String insert_SQL = "insert into ${table.Name}(${table.columnNameCommaString}) values(${table.insertClauseValuesAsSqlComment})";

    /**
     * Insert one entity.
     * 
     * @param entity Entity. (NotNull)
     * @return Inserted count.
     */
    public int insert(${myExtendedObjectClassName} entity);
  #end
#end
#if ($table.isUseSequence())

    /** SQL-Annotation for selectNextVal(). */
    public String selectNextVal_SQL = "${table.SequenceNextSql}";

    /**
     * Select next value as sequence.
     * 
     * @return Next value. (NotNull)
     */
    public ${table.sequenceReturnType} selectNextVal();
#end
}
