${database.allClassCopyright}package ${myBaseDaoPackageName};

#set ($myClassName = "${myBaseDaoClassName}")
import java.util.List;

import ${glPackageExtendedEntity}.${myExtendedObjectClassName};
import ${glPackageCB}.${myConditionBeanClassName};
#set ($InterfaceName = "")
#if ($table.isWritable())
  #set ($InterfaceName = "${glPackageBaseCommon}.${glDaoWritableInterfaceName}")
#else
  #set ($InterfaceName = "${glPackageBaseCommon}.${glDaoReadableInterfaceName}")
#end

/**
 * The DAO interface of ${table.name}.
 * @author ${database.ClassAuthor}
 */
public interface ${myClassName} extends ${InterfaceName} {

    public Class<?> BEAN = ${myExtendedObjectClassName}.class; // For S2Dao
#if ($table.isWritable() && $table.hasOnlyOnePrimaryKey() && $table.isBuriTarget())

    public static final String getEntityByIds_ARGS = "ids";
    public static final String getEntityByIds_QUERY = "${table.primaryKeyNameAsOne} in /*ids*/(1)";
    List<${myExtendedObjectClassName}> getEntityByIds(List<${table.primaryKeyJavaNativeAsOne}> ids);// For the Framework 'Buri'
#end

    public int selectCount(${myConditionBeanClassName} cb);
    public List<${myExtendedObjectClassName}> selectList(${myConditionBeanClassName} cb);
#if ($table.isWritable())

    int insert(${myExtendedObjectClassName} entity);
    int updateModifiedOnly(${myExtendedObjectClassName} entity);
#if ($table.hasOptimisticLock())
    int updateNonstrictModifiedOnly(${myExtendedObjectClassName} entity);
#end
    int delete(${myExtendedObjectClassName} entity);
#if ($table.hasOptimisticLock())
    int deleteNonstrict(${myExtendedObjectClassName} entity);
#end

    int[] insertList(List<${myExtendedObjectClassName}> entityList);
    int[] updateList(List<${myExtendedObjectClassName}> entityList);
#if ($table.hasOptimisticLock())
    int[] updateListNonstrict(List<${myExtendedObjectClassName}> entityList);
#end
#if (${table.hasOnlyOnePrimaryKey()})
    int updateByQuery(${myConditionBeanClassName} cb, ${myExtendedObjectClassName} entity);
#end
    int[] deleteList(List<${myExtendedObjectClassName}> entityList);
#if ($table.hasOptimisticLock())
    int[] deleteListNonstrict(List<${myExtendedObjectClassName}> entityList);
#end
#if (${table.hasOnlyOnePrimaryKey()})
    int deleteByQuery(${myConditionBeanClassName} cb);
#end
#else

#if ($table.isAvailableNonPrimaryKeyWritable())
    int insert(${myExtendedObjectClassName} entity);
#end
#end
#if ($table.isUseSequence())

    ${table.sequenceReturnType} selectNextVal();
#end
}
