${database.allClassCopyright}package ${glPackageBaseCommonDBMeta};

#set ($myClassName = "${glDBMetaInstanceHandlerName}")

import java.util.Collections;
import java.util.Map;
import java.util.LinkedHashMap;

import ${glPackageBaseCommonUtil}.${glSimpleAssertUtil};

/**
 * DBMeta instance handler.
 * @author ${database.ClassAuthor}
 */${database.outputSuppressWarningsAfterLineSeparator()}
public class ${myClassName} {

    // ===================================================================================
    //                                                                          Definition
    //                                                                          ==========
    /** Table DB-name instance map. */
    protected static final Map<String, ${glDBMetaInterfaceName}> _tableDbNameInstanceMap = new LinkedHashMap<String, ${glDBMetaInterfaceName}>();

    /** The map of table DB-name and class name. */
    protected static final Map<String, String> _tableDbNameClassNameMap;
    static {
        Map<String, String> tmpMap = new LinkedHashMap<String, String>();

#foreach ($table in $database.tables)
        tmpMap.put("${table.Name}", "${table.DBMetaFullClassName}");
#end

        _tableDbNameClassNameMap = Collections.unmodifiableMap(tmpMap);
    }

    /** The key-to-lower map of DB-name and property-name for table. */
    protected static final Map<String, String> _tableDbNamePropertyNameKeyToLowerMap;
    static {
        Map<String, String> tmpMap = new LinkedHashMap<String, String>();

#foreach ($table in $database.tables)
        tmpMap.put("${table.name}".toLowerCase(), "${table.javaBeansRulePropertyName}");
#end

        _tableDbNamePropertyNameKeyToLowerMap = Collections.unmodifiableMap(tmpMap);
    }

    /** The key-to-lower map of property-name and DB-name for table. */
    protected static final Map<String, String> _tablePropertyNameDbNameKeyToLowerMap;
    static {
        Map<String, String> tmpMap = new LinkedHashMap<String, String>();

#foreach ($table in $database.tables)
        tmpMap.put("${table.javaBeansRulePropertyName}".toLowerCase(), "${table.name}");
#end

        _tablePropertyNameDbNameKeyToLowerMap = Collections.unmodifiableMap(tmpMap);
    }

    protected static ${glDBMetaInterfaceName} getDBMeta(String className) {
        try {
            Class clazz = Class.forName(className);
            java.lang.reflect.Method methoz = clazz.getMethod("getInstance", (Class[])null);
            Object result = methoz.invoke(null, (Object[])null);
            return (${glDBMetaInterfaceName})result;
        } catch (Exception e) {
            throw new RuntimeException(e);
        }
    }

    /**
     * @return The initialized map that contains all instances of dbmeta. (NotNull & NotEmpty)
     */
    public static Map<String, ${glDBMetaInterfaceName}> getDBMetaMap() {
        initializeDBMetaMap();
        return _tableDbNameInstanceMap;
    }
    
    protected static void initializeDBMetaMap() {
        final Set<String> tableDbNameSet = _tableDbNameClassNameMap.keySet();
        for (String tableDbName : tableDbNameSet) {
            findDBMeta(tableDbName); // Initialize!
        }
        if (_tableDbNameInstanceMap.isEmpty()) {
            String msg = "Failed to initialize tableDbNameInstanceMap:";
            msg = msg + " tableDbNameInstanceMap=" + _tableDbNameInstanceMap;
            throw new IllegalStateException(msg);
        }
    }

    // ===================================================================================
    //                                                                         Main Method
    //                                                                         ===========
    /**
     * Find dbmeta by table flexible-name.
     * <pre>
     * If the table name is 'ORDER_DETAIL', you can find the dbmeta by ...(as follows)
     *     'ORDER_DETAIL', 'ORDer_DeTAiL', 'order_detail'
     *     , 'OrderDetail', 'orderdetail', 'oRderDetaIl'
     * </pre>
     * @param tableFlexibleName Table flexible-name. (NotNull)
     * @return Instance. (NotNull)
     */
    public static ${glDBMetaInterfaceName} findDBMeta(String tableFlexibleName) {
        assertStringNotNullAndNotTrimmedEmpty("tableFlexibleName", tableFlexibleName);
        if (_tableDbNameInstanceMap.containsKey(tableFlexibleName)) {
            return byTableDbName(tableFlexibleName);
        }
        String toLowerKey = tableFlexibleName.toLowerCase();
        if (_tableDbNamePropertyNameKeyToLowerMap.containsKey(toLowerKey)) {
            String propertyName = (String)_tableDbNamePropertyNameKeyToLowerMap.get(toLowerKey);
            String dbName = (String)_tablePropertyNameDbNameKeyToLowerMap.get(propertyName.toLowerCase());
            return byTableDbName(dbName);
        }
        if (_tablePropertyNameDbNameKeyToLowerMap.containsKey(toLowerKey)) {
            String dbName = (String)_tablePropertyNameDbNameKeyToLowerMap.get(toLowerKey);
            return byTableDbName(dbName);
        }
        final int dotLastIndex = tableFlexibleName.lastIndexOf(".");
        if (dotLastIndex >= 0) {
            try {
                return findDBMeta(tableFlexibleName.substring(dotLastIndex + 1));
            } catch (IllegalStateException e) {
                // Nothing
            }
        }
        String msg = "The instance map returned null by the key: key=" + tableFlexibleName + " instanceMap=" + _tableDbNameInstanceMap;
        throw new IllegalStateException(msg);
    }

    /**
     * Get instance by table DB-name.
     * @param tableDbName Table DB-name. (NotNull)
     * @return Instance. (NotNull)
     */
    protected static ${glDBMetaInterfaceName} byTableDbName(String tableDbName) {
        assertStringNotNullAndNotTrimmedEmpty("tableDbName", tableDbName);
        ${glDBMetaInterfaceName} instance = getCachedDBMeta(tableDbName);
        if (instance == null) {
            String msg = "The instance map returned null by the key: key=" + tableDbName + " instanceMap=" + _tableDbNameInstanceMap;
            throw new IllegalStateException(msg);
        }
        return instance;
    }
    
    protected static ${glDBMetaInterfaceName} getCachedDBMeta(String tableName) {// For lazy-load! Thank you koyak!
        if (_tableDbNameInstanceMap.containsKey(tableName)) {
            return _tableDbNameInstanceMap.get(tableName);
        }
        synchronized (_tableDbNameInstanceMap) {
            if (_tableDbNameInstanceMap.containsKey(tableName)) {
                return _tableDbNameInstanceMap.get(tableName);
            }
            String entityName = _tableDbNameClassNameMap.get(tableName);
            _tableDbNameInstanceMap.put(tableName, getDBMeta(entityName));
        }
        return _tableDbNameInstanceMap.get(tableName);
    }

    // ===================================================================================
    //                                                                      General Helper
    //                                                                      ==============
    // -----------------------------------------------------
    //                                         Assert Object
    //                                         -------------
    protected static void assertObjectNotNull(String variableName, Object value) {
	    ${glSimpleAssertUtil}.assertObjectNotNull(variableName, value);
    }

    // -----------------------------------------------------
    //                                         Assert String
    //                                         -------------
    protected static void assertStringNotNullAndNotTrimmedEmpty(String variableName, String value) {
	    ${glSimpleAssertUtil}.assertStringNotNullAndNotTrimmedEmpty(variableName, value);
    }
}
