${database.allClassCopyright}package ${myExtendedDtoMapperPackageName};
#set ($myClassName = "${myExtendedDtoMapperClassName}")

import java.util.Map;
import org.seasar.dbflute.Entity;
import ${myBaseDtoMapperPackageName}.${myBaseDtoMapperClassName};

/**
 * The DTO mapper of ${table.name}.
 * <p>
 * You can implement your original methods here.
 * This class remains when re-generating.
 * </p>
 * @author ${database.classAuthor}
 */
public class $myClassName extends ${myBaseDtoMapperClassName} {

    /** Serial version UID. (Default) */
    private static final long serialVersionUID = 1L;

    public ${myClassName}() {
    }

    public ${myClassName}(Map<Entity, Object> relationDtoMap, Map<Object, Entity> relationEntityMap) {
        super(relationDtoMap, relationEntityMap);
    }
}
