${database.allClassCopyright}package ${glPackageBaseCommonBhvCore};

import ${glPackageBaseCommon}.${glDBDef};
import ${glPackageBaseCommonDBMeta}.${glDBMetaProvider};
import ${glPackageBaseCommonJdbc}.${glStatementConfig};
import ${glPackageBaseCommonSqlClause}.${glSqlClauseCreator};

/**
 * @author ${database.ClassAuthor}
 */
public interface ${glInvokerAssistant} {

    /**
     * @return The current database definition. (NotNull)
     */
    public ${glDBDef} assistCurrentDBDef();

    /**
     * @return The provider of DB meta. (NotNull)
     */
    public ${glDBMetaProvider} assistDBMetaProvider();

    /**
     * @return The create of SQL clause. (NotNull)
     */
    public ${glSqlClauseCreator} assistSqlClauseCreator();

    /**
     * @return The parameter of resource. (NotNull)
     */
    public ${glResourceParameter} assistResourceParameter();

    /**
     * @return The encoding of SQL files. (NotNull)
     */
    public String assistSqlFileEncoding();

    /**
     * @return The default configure of statement. (NotNull)
     */
    public ${glStatementConfig} assistDefaultStatementConfig();

    /**
     * @return Is the internal debug valid? (NotNull)
     */
    public boolean assistInternalDebug();

    /**
     * To be disposable.
     */
    public void toBeDisposable();
}
