${database.allClassCopyright}package ${glPackageBaseCommonS2DaoInternalSqlHandler};

import javax.sql.DataSource;

import org.seasar.dao.BeanMetaData;
import org.seasar.dao.IdentifierGenerator;
import org.seasar.extension.jdbc.PropertyType;
import org.seasar.extension.jdbc.StatementFactory;

/**
 * @author ${database.ClassAuthor}
 */
public class ${glInternalInsertAutoHandler} extends ${glInternalAbstractAutoHandler} {

    // ===================================================================================
    //                                                                         Constructor
    //                                                                         ===========
    public ${glInternalInsertAutoHandler}(DataSource dataSource,
            StatementFactory statementFactory, BeanMetaData beanMetaData,
            PropertyType[] propertyTypes) {
        super(dataSource, statementFactory, beanMetaData, propertyTypes);
    }

    // ===================================================================================
    //                                                                            Override
    //                                                                            ========
	@Override
    protected void setupBindVariables(Object bean) {
        setupInsertBindVariables(bean);
    }

	@Override
    protected void preUpdateBean(Object bean) {
        BeanMetaData bmd = getBeanMetaData();
#if ($database.isVersionAfter1047())
        for (int i = 0; i < bmd.getIdentifierGeneratorSize(); i++) {
            IdentifierGenerator generator = bmd.getIdentifierGenerator(i);
            if (generator.isSelfGenerate()) {
                generator.setIdentifier(bean, getDataSource());
            }
        }
#else
	    final IdentifierGenerator generator = bmd.getIdentifierGenerator();
        if (generator.isSelfGenerate()) {
            generator.setIdentifier(bean, getDataSource());
        }
#end
    }
	
	@Override
    protected void postUpdateBean(Object bean, int ret) {
        BeanMetaData bmd = getBeanMetaData();
#if ($database.isVersionAfter1047())
        for (int i = 0; i < bmd.getIdentifierGeneratorSize(); i++) {
            IdentifierGenerator generator = bmd.getIdentifierGenerator(i);
            if (!generator.isSelfGenerate()) {
                generator.setIdentifier(bean, getDataSource());
            }
        }
#else
	    final IdentifierGenerator generator = bmd.getIdentifierGenerator();
        if (!generator.isSelfGenerate()) {
            generator.setIdentifier(bean, getDataSource());
        }
#end
        updateVersionNoIfNeed(bean);
        updateTimestampIfNeed(bean);
    }
}
