${database.allClassCopyright}package ${glPackageBaseCommonS2DaoInternalSqlHandler};

import javax.sql.DataSource;

import org.seasar.dao.BeanMetaData;
import org.seasar.extension.jdbc.PropertyType;
import org.seasar.extension.jdbc.StatementFactory;

import ${glPackageBaseCommonException}.${glEntityAlreadyUpdatedException};

/**
 * @author ${database.ClassAuthor}
 */
public class ${glInternalUpdateAutoHandler} extends ${glInternalAbstractAutoHandler} {

    // ===================================================================================
    //                                                                         Constructor
    //                                                                         ===========
    public ${glInternalUpdateAutoHandler}(DataSource dataSource,
            StatementFactory statementFactory, BeanMetaData beanMetaData,
            PropertyType[] propertyTypes) {
        super(dataSource, statementFactory, beanMetaData, propertyTypes);
    }

    // ===================================================================================
    //                                                                            Override
    //                                                                            ========
	@Override
    protected void setupBindVariables(Object bean) {
        setupUpdateBindVariables(bean);
        setLoggingMessageSqlArgs(bindVariables);
    }

	@Override
    protected void postUpdateBean(Object bean, int ret) {
        updateVersionNoIfNeed(bean);
        updateTimestampIfNeed(bean);
    }
}
