
#set ($database = $schemaData.database)
$database.enableGenerateOutputDirectory()

## - - - - - - - - - - - -
## Initialize properties.
## - - - - - - - - - - - -
$database.initializeAdditionalPrimaryKey()
$database.initializeAdditionalUniqueKey()
$database.initializeAdditionalForeignKey()
$database.initializeClassificationDeployment()
$database.initializeIncludeQuery()
$database.checkProperties()

## *****************************************************************************************************************
##                                                                                                   Global Paramter
##                                                                                                   ***************
## ===================================================================================
##                                                                            Language
##                                                                            ========
#set ($glTargetLanguage = ${database.targetLanguage})

## ===================================================================================
##                                                                  Resource Directory
##                                                                  ==================
#set ($glResourceDirectory = ${database.resourceDirectory})

## ===================================================================================
##                                                                           Extension
##                                                                           =========
#set ($glTemplateFileExtension = ${database.templateFileExtension})
#set ($glClassFileExtension = ${database.classFileExtension})

## -----------------------------------------------------
##                                                Prefix
##                                                ------
#set ($glProjectPrefix = ${database.projectPrefix})
#set ($glBasePrefix = ${database.basePrefix})

## ===================================================================================
##                                                                             Package
##                                                                             =======
## [Main]
#set ($glPackageBaseBhv = "${database.baseBehaviorPackage}")
#set ($glPackageExtendedBhv = "${database.extendedBehaviorPackage}")

## ===================================================================================
##                                                                        Table Object
##                                                                        ============
#set ($path = $database.getPackageAsPath(${glPackageBaseBhv}))
$database.makeDirectory($path)

#set ($path = $database.getPackageAsPath(${glPackageExtendedBhv}))
$database.makeDirectory($path)

##
## Delete old table classes.
##
$database.deleteOldTableClass()

##
## Loop by tables.
##
$database.info("/* * * * * * * * * * * * * * {Table Class}")
#foreach ($table in $database.tables)
  #if (!$table.isForReferenceOnly())

    $database.info("parseTable('${table.Name}');")

    #set ($myBaseBhvClassName = "${table.baseBehaviorClassName}")
    #set ($myBaseBhvApClassName = "${table.baseBehaviorApClassName}")

    #set ($myExtendedBhvClassName = "${table.extendedBehaviorClassName}")
    #set ($myExtendedBhvApClassName = "${table.extendedBehaviorApClassName}")

    #set ( $path = "${database.getPackageAsPath(${glPackageBaseBhv})}${myBaseBhvApClassName}.${glClassFileExtension}" )
    $generator.parse("om/${glResourceDirectory}/plugin/bhvap/BhvApBaseBhv.${glTemplateFileExtension}", $path, "table", $table)

    #set ( $path = "${database.getPackageAsPath(${glPackageExtendedBhv})}${myExtendedBhvApClassName}.${glClassFileExtension}" )
    #if (!$files.file(${generator.OutputPath},$path).exists())
      $generator.parse("om/${glResourceDirectory}/plugin/bhvap/BhvApExtendedBhv.${glTemplateFileExtension}", $path, "table", $table)
    #end

  #end
#end
$database.info("* * * * * * * * * */")
$database.info(" ")

