${database.allClassCopyright}package ${glPackageBaseCommonCBeanOutsidesqlExecutor};

import java.util.List;

import ${glPackageBaseCommon}.${glDBDef};
import ${glPackageBaseCommonCBean}.${glListResultBean};
import ${glPackageBaseCommonCBean}.${glResultBeanBuilder};
import ${glPackageBaseCommonBhvCore}.${glBehaviorCommand};
import ${glPackageBaseCommonBhvCore}.${glBehaviorCommandInvoker};
import ${glPackageBaseCommonBhvCoreCommand}.${glAbstractOutsideSqlCommand};
import ${glPackageBaseCommonBhvCoreCommand}.${glOutsideSqlSelectListCommand};
import ${glPackageBaseCommonBhvCoreCommand}.${glOutsideSqlExecuteCommand};
import ${glPackageBaseCommonBhvCoreCommand}.${glOutsideSqlCallCommand};
import ${glPackageBaseCommonCBeanOutsidesql}.${glOutsideSqlOption};
import ${glPackageBaseCommonCBeanOutsidesql}.${glProcedurePmb};
import ${glPackageBaseCommonJdbc}.${glStatementConfig};

/**
 * The executor of outside-SQL. <br />
 * <pre>
 * {Basic}
 *   o selectList()
 *   o execute()
 *   o call()
 * 
 * {Entity}
 *   o entityHandling().selectEntity()
 *   o entityHandling().selectEntityWithDeletedCheck()
 * 
 * {Cursor}
 *   o cursorHandling().selectCursor()
 * 
 * {Paging}
 *   o autoPaging().selectList()
 *   o autoPaging().selectPage()
 *   o manualPaging().selectList()
 *   o manualPaging().selectPage()
 * 
 * {Option -- Dynamic}
 *   o dynamicBinding().selectList()
 * </pre>
 * 
 * @author ${database.ClassAuthor}
 */
public class ${glOutsideSqlBasicExecutor} {

    // ===================================================================================
    //                                                                           Attribute
    //                                                                           =========
    /** The invoker of behavior command. (NotNull) */
    protected final ${glBehaviorCommandInvoker} _behaviorCommandInvoker;

    /** Table DB name. (NotNull) */
    protected final String _tableDbName;

	/** The current database definition. (NotNull) */
    protected ${glDBDef} _currentDBDef;

    /** Is it dynamic binding? */
    protected boolean _dynamicBinding;
	
	/** The config of statement. (Nullable) */
	protected ${glStatementConfig} _statementConfig;

    // ===================================================================================
    //                                                                         Constructor
    //                                                                         ===========
    public ${glOutsideSqlBasicExecutor}(${glBehaviorCommandInvoker} behaviorCommandInvoker
                                 , String tableDbName, ${glDBDef} currentDBDef) {
        this._behaviorCommandInvoker = behaviorCommandInvoker;
        this._tableDbName = tableDbName;
        this._currentDBDef = currentDBDef;
    }

    // ===================================================================================
    //                                                                              Select
    //                                                                              ======
    /**
     * Select the list of the entity.
     * @param <ENTITY> The type of entity for element.
     * @param path The path of SQL file. (NotNull)
     * @param pmb The parameter-bean. Allowed types are Bean object and Map object. (Nullable)
     * @param entityType The element type of entity. (NotNull)
     * @return The result bean of selected list. (NotNull)
     * @exception ${glPackageBaseCommonException}.${glOutsideSqlNotFoundException} When the outside-SQL is not found.
     */
    public <ENTITY> ${glListResultBean}<ENTITY> selectList(String path, Object pmb, Class<ENTITY> entityType) {
        List<ENTITY> resultList = invoke(createSelectListCommand(path, pmb, entityType));
        return new ${glResultBeanBuilder}<ENTITY>(_tableDbName).buildListResultBean(resultList);
    }

    // ===================================================================================
    //                                                                             Execute
    //                                                                             =======
    /**
     * Execute. {Insert/Update/Delete/Etc...}
     * @param path The path of SQL file. (NotNull)
     * @param pmb The parameter-bean. Allowed types are Bean object and Map object. (Nullable)
     * @return The count of execution.
     * @exception ${glPackageBaseCommonException}.${glOutsideSqlNotFoundException} When the outside-SQL is not found.
     */
    public int execute(String path, Object pmb) {
        return invoke(createExecuteCommand(path, pmb));
    }

    // [DBFlute-0.7.5]
    // ===================================================================================
    //                                                                      Procedure Call
    //                                                                      ==============
    /**
     * Call stored procedure.
     * @param pmb The parameter-bean for procedure. (NotNull)
     */
    public void call(${glProcedurePmb} pmb) {
        if (pmb == null) { throw new IllegalArgumentException("The argument of call() 'pmb' should not be null!"); }
        invoke(createCallCommand(pmb.getProcedureName(), pmb));
    }

    // ===================================================================================
    //                                                                    Behavior Command
    //                                                                    ================
    protected <ENTITY> ${glBehaviorCommand}<List<ENTITY>> createSelectListCommand(String path, Object pmb, Class<ENTITY> entityType) {
        final ${glOutsideSqlSelectListCommand}<ENTITY> cmd = xsetupCommand(new ${glOutsideSqlSelectListCommand}<ENTITY>(), path, pmb);
        cmd.setEntityType(entityType);
        return cmd;
    }

    protected ${glBehaviorCommand}<Integer> createExecuteCommand(String path, Object pmb) {
        return xsetupCommand(new ${glOutsideSqlExecuteCommand}(), path, pmb);
    }

    protected ${glBehaviorCommand}<Void> createCallCommand(String path, Object pmb) {
        return xsetupCommand(new ${glOutsideSqlCallCommand}(), path, pmb);
    }

    private <COMMAND extends ${glAbstractOutsideSqlCommand}<?>> COMMAND xsetupCommand(COMMAND command, String path, Object pmb) {
        command.setTableDbName(_tableDbName);
        _behaviorCommandInvoker.injectComponentProperty(command);
        command.setOutsideSqlPath(path);
        command.setParameterBean(pmb);
        command.setOutsideSqlOption(createOutsideSqlOption());
        command.setCurrentDBDef(_currentDBDef);
        return command;
    }

    /**
     * Invoke the command of behavior.
     * @param <RESULT> The type of result.
     * @param behaviorCommand The command of behavior. (NotNull)
     * @return The instance of result. (Nullable)
     */
    protected <RESULT> RESULT invoke(${glBehaviorCommand}<RESULT> behaviorCommand) {
        return _behaviorCommandInvoker.invoke(behaviorCommand);
    }

    // ===================================================================================
    //                                                                              Option
    //                                                                              ======
    // -----------------------------------------------------
    //                                       Result Handling
    //                                       ---------------
    /**
     * Specify cursor handling. <br />
     * <pre>
     * # ex) Your Program
     * #
     * # executor.cursorHandling().selectCursor(path, pmb, handler);
     * #
     * </pre>
     * @return The cursor executor of outside-SQL. (NotNull)
     */
    public ${glOutsideSqlCursorExecutor}<Object> cursorHandling() {
        return new ${glOutsideSqlCursorExecutor}<Object>(_behaviorCommandInvoker, createOutsideSqlOption(), _tableDbName, _currentDBDef);
    }

    /**
     * Specify entity handling. <br />
     * <pre>
     * # ex) Your Program
     * #
     * # executor.entityHandling().selectEntityWithDeletedCheck(path, pmb, Xxx.class);
     * #
     * </pre>
     * @return The cursor executor of outside-SQL. (NotNull)
     */
    public ${glOutsideSqlEntityExecutor}<Object> entityHandling() {
        return new ${glOutsideSqlEntityExecutor}<Object>(_behaviorCommandInvoker, createOutsideSqlOption(), _tableDbName, _currentDBDef);
    }

    // -----------------------------------------------------
    //                                                Paging
    //                                                ------
    /**
     * Option of autoPaging. <br />
     * If you invoke this, you don't need to write paging condition on your SQL. <br />
     * <pre>
     * # ex) Your SQL {MySQL}
     * #
     * # select member.MEMBER_ID, member...
     * #   from Member member
     * #  where ...
     * #  order by ...
     * # -- limit 40, 20        *Here is unnecessary!
     * #
     * </pre>
     * @return The executor of paging that the paging mode is auto. (NotNull)
     */
    public ${glOutsideSqlPagingExecutor} autoPaging() {
        final ${glOutsideSqlOption} option = createOutsideSqlOption();
        option.autoPaging();
        return new ${glOutsideSqlPagingExecutor}(_behaviorCommandInvoker, option, _tableDbName, _currentDBDef);
    }

    /**
     * Option of manualPaging. <br />
     * If you invoke this, you need to write paging condition on your SQL. <br />
     * <pre>
     * # ex) Your SQL {MySQL}
     * #
     * # select member.MEMBER_ID, member...
     * #   from Member member
     * #  where ...
     * #  order by ...
     * #  limit 40, 20        *Here is necessary!
     * #
     * </pre>
     * @return The executor of paging that the paging mode is manual. (NotNull)
     */
    public ${glOutsideSqlPagingExecutor} manualPaging() {
        final ${glOutsideSqlOption} option = createOutsideSqlOption();
        option.manualPaging();
        return new ${glOutsideSqlPagingExecutor}(_behaviorCommandInvoker, option, _tableDbName, _currentDBDef);
    }

    // -----------------------------------------------------
    //                                       Dynamic Binding
    //                                       ---------------
    public ${glOutsideSqlBasicExecutor} dynamicBinding() {
        _dynamicBinding = true;
        return this;
    }

    // -----------------------------------------------------
    //                                      Statement Config
    //                                      ----------------
    public ${glOutsideSqlBasicExecutor} configure(${glStatementConfig} statementConfig) {
        _statementConfig = statementConfig;
        return this;
    }
	
    // ===================================================================================
    //                                                                       Assist Helper
    //                                                                       =============
    protected ${glOutsideSqlOption} createOutsideSqlOption() {
        final ${glOutsideSqlOption} option = new ${glOutsideSqlOption}();
		option.setStatementConfig(_statementConfig);
        if (_dynamicBinding) {
            option.dynamicBinding();
        }
		option.setTableDbName(_tableDbName);// as information
        return option;
    }
}
