${database.allClassCopyright}package ${glPackageBaseCommonCBeanOutsidesqlExecutor};

import java.util.List;

import ${glPackageBaseCommonCBean}.${glConditionBeanContextName};
import ${glPackageBaseCommonCBeanOutsidesql}.${glOutsideSqlDaoName};
import ${glPackageBaseCommonCBeanOutsidesql}.${glOutsideSqlOptionName};

/**
 * The cursor executor of outside-sql.
 * 
 * @param <PARAMETER_BEAN_TYPE> The type of parameter-bean.
 * @author ${database.ClassAuthor}
 */
public class ${glOutsideSqlEntityExecutorName}<PARAMETER_BEAN_TYPE> {

    // ===================================================================================
    //                                                                           Attribute
    //                                                                           =========
    protected final ${glOutsideSqlDaoName} _outsideSqlDao;

    protected final ${glOutsideSqlOptionName} _outsideSqlOption;

    // ===================================================================================
    //                                                                         Constructor
    //                                                                         ===========
    public ${glOutsideSqlEntityExecutorName}(${glOutsideSqlDaoName} outsideSqlDao, ${glOutsideSqlOptionName} outsideSqlOption) {
        this._outsideSqlDao = outsideSqlDao;
        this._outsideSqlOption = outsideSqlOption;
    }

    // ===================================================================================
    //                                                                              Select
    //                                                                              ======
    /**
     * Select entity.
     * 
     * @param <ENTITY_TYPE> The type of entity.
     * @param path The path of SQL file. (NotNull)
     * @param pmb The parameter-bean. Allowed types are Bean object and Map object. (Nullable)
     * @param entityType The type of entity. (NotNull)
     * @return The selected entity. (Nullable)
     * @exception ${glPackageBaseCommonException}.${glOutsideSqlNotFoundException} When the sql is not found.
     * @exception ${glPackageBaseCommonException}.${glEntityDuplicatedException}
     */
    public <ENTITY_TYPE> ENTITY_TYPE selectEntity(String path, PARAMETER_BEAN_TYPE pmb, Class<ENTITY_TYPE> entityType) {
        final List<ENTITY_TYPE> ls = _outsideSqlDao.selectList(path, pmb, _outsideSqlOption, entityType);
        if (ls.isEmpty()) {
            return null;
        }
        if (ls.size() > 1) {
            String searchKey4Log = "The path of outside-sql is " + path + ". And the parameter bean is " + pmb;
            throwEntityDuplicatedException(ls.size() + "", searchKey4Log, null);
        }
        return ls.get(0);
    }

    /**
     * Select entity with deleted check.
     * 
     * @param <ENTITY_TYPE> The type of entity.
     * @param path The path of SQL file. (NotNull)
     * @param pmb The parameter-bean. Allowed types are Bean object and Map object. (Nullable)
     * @param entityType The type of entity. (NotNull)
     * @return The selected entity. (Nullable)
     * @exception ${glPackageBaseCommonException}.${glOutsideSqlNotFoundException} When the sql is not found.
     * @exception ${glPackageBaseCommonException}.${glEntityAlreadyDeletedException} When the entity has already been deleted(not found).
     * @exception ${glPackageBaseCommonException}.${glEntityDuplicatedException} When the entity is duplicated.
     */
    public <ENTITY_TYPE> ENTITY_TYPE selectEntityWithDeletedCheck(String path, PARAMETER_BEAN_TYPE pmb, Class<ENTITY_TYPE> entityType) {
        final List<ENTITY_TYPE> ls = _outsideSqlDao.selectList(path, pmb, _outsideSqlOption, entityType);
        if (ls == null || ls.isEmpty()) {
            String searchKey4Log = "The path of outside-sql is " + path + ". And the parameter bean is " + pmb;
            throwEntityAlreadyDeletedException(searchKey4Log);
        }
        if (ls.size() > 1) {
            String searchKey4Log = "The path of outside-sql is " + path + ". And the parameter bean is " + pmb;
            throwEntityDuplicatedException(ls.size() + "", searchKey4Log, null);
        }
        return ls.get(0);
    }

    // -----------------------------------------------------
    //                                                Helper
    //                                                ------
    protected void throwEntityAlreadyDeletedException(Object searchKey4Log) {
        ${glConditionBeanContextName}.throwEntityAlreadyDeletedException(searchKey4Log);
    }

    protected void throwEntityDuplicatedException(String resultCountString, Object searchKey4Log, Throwable cause) {
        ${glConditionBeanContextName}.throwEntityDuplicatedException(resultCountString, searchKey4Log, cause);
    }

    // ===================================================================================
    //                                                                              Option
    //                                                                              ======
    public ${glOutsideSqlEntityExecutorName}<PARAMETER_BEAN_TYPE> dynamicBinding() {
        _outsideSqlOption.dynamicBinding();
        return this;
    }
}
