${database.allClassCopyright}package ${glPackageBaseCommonCBeanOutsidesqlExecutor};

import ${glPackageBaseCommonBhvCore}.${glBehaviorCommand};
import ${glPackageBaseCommonBhvCore}.${glBehaviorCommandInvoker};
import ${glPackageBaseCommonBhvCoreCommand}.${glOutsideSqlSelectCursorCommand};
import ${glPackageBaseCommonCBeanOutsidesql}.${glOutsideSqlOptionName};
import ${glPackageBaseCommonJdbc}.${glCursorHandlerName};
import ${glPackageBaseCommonJdbc}.${glStatementConfig};

/**
 * The cursor executor of outsideSql.
 * @param <PARAMETER_BEAN> The type of parameter-bean.
 * @author ${database.ClassAuthor}
 */
public class ${glOutsideSqlCursorExecutorName}<PARAMETER_BEAN> {

    // ===================================================================================
    //                                                                           Attribute
    //                                                                           =========
    /** The invoker of behavior command. (NotNull) */
    protected final ${glBehaviorCommandInvoker} _behaviorCommandInvoker;

    /** The option of outsideSql. (NotNull) */
    protected final ${glOutsideSqlOptionName} _outsideSqlOption;

    /** The DB name of table. (NotNull) */
    protected final String _tableDbName;

    // ===================================================================================
    //                                                                         Constructor
    //                                                                         ===========
    public ${glOutsideSqlCursorExecutorName}(${glBehaviorCommandInvoker} behaviorCommandInvoker, ${glOutsideSqlOptionName} outsideSqlOption, String tableDbName) {
        this._behaviorCommandInvoker = behaviorCommandInvoker;
        this._outsideSqlOption = outsideSqlOption;
        this._tableDbName = tableDbName;
    }

    // ===================================================================================
    //                                                                              Select
    //                                                                              ======
    /**
     * Select the cursor of the entity.
     * @param path The path of SQL file. (NotNull)
     * @param pmb The parameter-bean. Allowed types are Bean object and Map object. (Nullable)
     * @param handler The handler of cursor. (NotNull)
     * @return The result object that the cursor handler returns. (Nullable)
     * @exception ${glPackageBaseCommonException}.${glOutsideSqlNotFoundException} When the outsideSql is not found.
     */
    public Object selectCursor(String path, PARAMETER_BEAN pmb, ${glCursorHandlerName} handler) {
        return invoke(createSelectCursorCommand(path, pmb, handler));
    }

    // ===================================================================================
    //                                                                    Behavior Command
    //                                                                    ================
    protected ${glBehaviorCommand} createSelectCursorCommand(String path, PARAMETER_BEAN pmb, ${glCursorHandlerName} handler) {
        return xsetupCommand(new ${glOutsideSqlSelectCursorCommand}(), path, pmb, handler);
    }

    private ${glOutsideSqlSelectCursorCommand} xsetupCommand(${glOutsideSqlSelectCursorCommand} command, String path, PARAMETER_BEAN pmb, ${glCursorHandlerName} handler) {
        command.setTableDbName(_tableDbName);
        _behaviorCommandInvoker.injectComponentProperty(command);
        command.setOutsideSqlPath(path);
        command.setParameterBean(pmb);
        command.setOutsideSqlOption(_outsideSqlOption);
        command.setCursorHandler(handler);
        return command;
    }

    @SuppressWarnings("unchecked")
    protected <RESULT> RESULT invoke(${glBehaviorCommand} behaviorCommand) {
        return (RESULT)_behaviorCommandInvoker.invoke(behaviorCommand);
    }

    // ===================================================================================
    //                                                                              Option
    //                                                                              ======
    public ${glOutsideSqlCursorExecutorName}<PARAMETER_BEAN> dynamicBinding() {
        _outsideSqlOption.dynamicBinding();
        return this;
    }

    public ${glOutsideSqlCursorExecutorName}<PARAMETER_BEAN> configure(${glStatementConfig} statementConfig) {
		_outsideSqlOption.setStatementConfig(statementConfig);
        return this;
    }
}
