${database.allClassCopyright}package ${glPackageBaseCommonCBeanOutsidesqlExecutor};

import ${glPackageBaseCommonJdbc}.${glCursorHandlerName};
import ${glPackageBaseCommonCBeanOutsidesql}.${glOutsideSqlDaoName};
import ${glPackageBaseCommonCBeanOutsidesql}.${glOutsideSqlOptionName};

/**
 * The cursor executor of outside-sql.
 * 
 * @param <PARAMETER_BEAN> The type of parameter-bean.
 * @author ${database.ClassAuthor}
 */
public class ${glOutsideSqlCursorExecutorName}<PARAMETER_BEAN> {

    // ===================================================================================
    //                                                                           Attribute
    //                                                                           =========
    protected final ${glOutsideSqlDaoName} _outsideSqlDao;

    protected final ${glOutsideSqlOptionName} _outsideSqlOption;

    // ===================================================================================
    //                                                                         Constructor
    //                                                                         ===========
    public ${glOutsideSqlCursorExecutorName}(${glOutsideSqlDaoName} outsideSqlDao, ${glOutsideSqlOptionName} outsideSqlOption) {
        this._outsideSqlDao = outsideSqlDao;
        this._outsideSqlOption = outsideSqlOption;
    }

    // ===================================================================================
    //                                                                              Select
    //                                                                              ======
    public Object selectCursor(String path, PARAMETER_BEAN pmb, ${glCursorHandlerName} handler) {
        return _outsideSqlDao.selectCursor(path, pmb, _outsideSqlOption, handler);
    }

    // ===================================================================================
    //                                                                              Option
    //                                                                              ======
    public ${glOutsideSqlCursorExecutorName}<PARAMETER_BEAN> dynamicBinding() {
        _outsideSqlOption.dynamicBinding();
        return this;
    }
}
