${database.allClassCopyright}package ${glPackageBaseCommonBhv};

#set ($myClassName = "${glBehaviorReadableAbstractName}")

import java.util.List;
import java.util.ArrayList;
import java.util.Map;
import java.util.HashMap;
import java.util.LinkedHashMap;
import java.util.Set;
import java.util.LinkedHashSet;

import java.lang.reflect.Method;
import java.lang.reflect.Constructor;

import ${glPackageBaseCommon}.${glBehaviorSelectorInterfaceName};
import ${glPackageBaseCommon}.${glDaoSelectorInterfaceName};
import ${glPackageBaseCommon}.${glEntityInterfaceName};
import ${glPackageBaseCommonBhvSetup}.${glValueLabelSetupperName};
import ${glPackageBaseCommonBhvSetup}.${glValueLabelBoxName};
import ${glPackageBaseCommonCBean}.${glConditionBeanContextName};
import ${glPackageBaseCommonCBean}.${glConditionBeanInterfaceName};
import ${glPackageBaseCommonCBean}.${glListResultBeanName};
import ${glPackageBaseCommonCBean}.${glPagingHandlerName};
import ${glPackageBaseCommonCBean}.${glPagingInvokerName};
import ${glPackageBaseCommonCBean}.${glPagingBeanInterfaceName};
import ${glPackageBaseCommonCBean}.${glPagingResultBeanName};
import ${glPackageBaseCommonCBeanOutsidesql}.${glOutsideSqlDaoName};
import ${glPackageBaseCommonCBeanOutsidesqlExecutor}.${glOutsideSqlBasicExecutorName};

import ${glPackageBaseCommonBhvBatch}.${glTokenFileOutputOptionName};
import ${glPackageBaseCommonBhvBatch}.${glTokenFileOutputResultName};
import ${glPackageBaseCommonBhvLoad}.${glLoadReferrerOptionName};

import ${glPackageBaseCommonDBMetaInfo}.${glColumnInfoName};

import ${glPackageBaseCommonHelperTokenFile}.${glFileMakingOptionName};
import ${glPackageBaseCommonHelperTokenFile}.${glFileMakingHeaderInfoName};
import ${glPackageBaseCommonHelperTokenFile}.${glFileMakingSimpleFacadeName};
import ${glPackageBaseCommonHelperTokenFileImpl}.${glFileMakingSimpleFacadeImplName};

/**
 * The abstract class of behavior-readable.
 * 
 * @author ${database.ClassAuthor}
 */${database.outputSuppressWarningsAfterLineSeparator()}
public abstract class $myClassName implements ${glBehaviorReadableInterfaceName} {

    // ===================================================================================
    //                                                                           Attribute
    //                                                                           =========
    /** Behavior-selector instance. It's basically referred at loadReferrer. (Required for loadReferrer) */
    protected ${glBehaviorSelectorInterfaceName} _behaviorSelector;

    /** Dao-selector instance. It's basically referred at loadReferrer. (Required for OutsideSql) */
    protected ${glDaoSelectorInterfaceName} _daoSelector;

    // =====================================================================================
    //                                                                         Basic Get All
    //                                                                         =============
    /**
     * Get count all.
     * 
     * @return Count all.
     */
    public int getCountAll() {
        return callGetCountAll();
    }

    // =====================================================================================
    //                                                                            Count Read
    //                                                                            ==========
    /**
     * ${database.ImplementComment}
     * @param cb Condition-bean. This condition-bean should not be set up about fetch-scope. (NotNull)
     * @return Read count. (NotNull)
     */
    public int readCount(${glConditionBeanInterfaceName} cb) {
        assertConditionBeanNotNull(cb);
        return callReadCount(cb);
    }

    // =====================================================================================
    //                                                                           Entity Read 
    //                                                                           ===========
    /**
     * ${database.ImplementComment}
     * @param cb Condition-bean. (NotNull)
     * @return Read entity. (Nullalble)
     * @exception ${glPackageBaseCommonException}.${glEntityDuplicatedException} When the entity has been duplicated.
     */
    public ${glEntityInterfaceName} readEntity(${glConditionBeanInterfaceName} cb) {
        assertConditionBeanNotNull(cb);
        final List<${glEntityInterfaceName}> ls = readList(cb);
        if (ls.isEmpty()) {
            return null;
        }
        assertEntitySelectedAsOne(ls, cb);
        return (${glEntityInterfaceName})ls.get(0);
    }

    /**
     * ${database.ImplementComment}
     * 
     * @param cb Condition-bean. (NotNull)
     * @return Read entity. (NotNull)
     * @exception ${glPackageBaseCommonException}.${glEntityAlreadyDeletedException} When the entity has already been deleted.
     * @exception ${glPackageBaseCommonException}.${glEntityDuplicatedException} When the entity has been duplicated.
     */
    public ${glEntityInterfaceName} readEntityWithDeletedCheck(${glConditionBeanInterfaceName} cb) {
        assertConditionBeanNotNull(cb);
        final List<${glEntityInterfaceName}> ls = readList(cb);
        assertEntityNotDeleted(ls, cb);
        assertEntitySelectedAsOne(ls, cb);
        return (${glEntityInterfaceName})ls.get(0);
    }

    // =====================================================================================
    //                                                           Entity Read Internal Helper
    //                                                           ===========================
    protected <ENTITY extends ${glEntityInterfaceName}, CB extends ${glConditionBeanInterfaceName}>
            ENTITY helpSelectEntityInternally(CB cb, InternalSelectEntityCallback<ENTITY, CB> callback) {
        assertConditionBeanNotNull(cb);
        cb.checkSafetyResult(1);
        List<ENTITY> ls = null;
        try {
            ls = callback.callbackSelectList(cb);
        } catch (${glPackageBaseCommonException}.${glDangerousResultSizeException} e) {
            throwEntityDuplicatedException("{Over safetyMaxResultSize '1'}", cb, e);
        }
        if (ls.isEmpty()) {
            return null;
        }
        assertEntitySelectedAsOne(ls, cb);
        return (ENTITY)ls.get(0);
    }

    protected static interface InternalSelectEntityCallback<ENTITY extends ${glEntityInterfaceName}, CB extends ${glConditionBeanInterfaceName}> {
        public List<ENTITY> callbackSelectList(CB cb);
    }

    protected <ENTITY extends ${glEntityInterfaceName}, CB extends ${glConditionBeanInterfaceName}>
            ENTITY helpSelectEntityWithDeletedCheckInternally(CB cb, InternalSelectEntityWithDeletedCheckCallback<ENTITY, CB> callback) {
        assertConditionBeanNotNull(cb);
        cb.checkSafetyResult(1);
        List<ENTITY> ls = null;
        try {
            ls = callback.callbackSelectList(cb);
        } catch (${glPackageBaseCommonException}.${glDangerousResultSizeException} e) {
            throwEntityDuplicatedException("{Over safetyMaxResultSize '1'}", cb, e);
        }
        assertEntityNotDeleted(ls, cb);
        assertEntitySelectedAsOne(ls, cb);
        return (ENTITY)ls.get(0);
    }

    protected static interface InternalSelectEntityWithDeletedCheckCallback<ENTITY extends ${glEntityInterfaceName}, CB extends ${glConditionBeanInterfaceName}> {
        public List<ENTITY> callbackSelectList(CB cb);
    }

    // =====================================================================================
    //                                                                             List Read
    //                                                                             =========
    /**
     * ${database.ImplementComment}
     * @param cb Condition-bean.
     * @return List-result-bean. If the select result is zero, it returns empty list. (NotNull)
     */
    public ${glListResultBeanName}<${glEntityInterfaceName}> readList(${glConditionBeanInterfaceName} cb) {
        assertConditionBeanNotNull(cb);
        return new ${glPackageBaseCommonCBean}.${glResultBeanBuilderName}<${glEntityInterfaceName}>(getTableDbName()).buildListResultBean(cb, callReadList(cb));
    }

    /**
     * ${database.ImplementComment}
     * @param cb Condition-bean. (NotNull)
     * @return Read page. (NotNull)
     */
    public ${glPagingResultBeanName}<${glEntityInterfaceName}> readPage(final ${glConditionBeanInterfaceName} cb) {
        assertConditionBeanNotNull(cb);
        final ${glPagingInvokerName}<${glEntityInterfaceName}> invoker = new ${glPagingInvokerName}<${glEntityInterfaceName}>(getTableDbName());
        final ${glPagingHandlerName}<${glEntityInterfaceName}> handler = new ${glPagingHandlerName}<${glEntityInterfaceName}>() {
            public ${glPagingBeanInterfaceName} getPagingBean() { return cb; }
            public int count() { return readCount(cb); }
            public List<${glEntityInterfaceName}> paging() { return readList(cb); }
        };
        return invoker.invokePaging(handler);
    }

    /**
     * Assert that the entity is not deleted.
     * @param entity Selected entity. (Nullable)
     * @param searchKey4Log Search-key for Logging.
     * @exception ${glPackageBaseCommonException}.${glEntityAlreadyDeletedException} When the entity has already been deleted.
     */
    protected void assertEntityNotDeleted(${glPackageBaseCommon}.${glEntityInterfaceName} entity, Object searchKey4Log) {
        if (entity == null) {
            throwEntityAlreadyDeletedException(searchKey4Log);
        }
    }

    /**
     * Assert that the entity is not deleted.
     * @param ls Selected list. (Nullable)
     * @param searchKey4Log Search-key for Logging. (NotNull)
     * @exception ${glPackageBaseCommonException}.${glEntityAlreadyDeletedException}
     */
    protected void assertEntityNotDeleted(List ls, Object searchKey4Log) {
        if (ls == null || ls.isEmpty()) {
            throwEntityAlreadyDeletedException(searchKey4Log);
        }
    }

    /**
     * Assert that the entity is selected as one.
     * @param ls Selected list. (NotNull)
     * @param searchKey4Log Search-key for Logging. (NotNull)
     * @exception ${glPackageBaseCommonException}.${glEntityAlreadyDeletedException}
     * @exception ${glPackageBaseCommonException}.${glEntityDuplicatedException}
     */
    protected void assertEntitySelectedAsOne(List ls, Object searchKey4Log) {
        if (ls == null || ls.isEmpty()) {
            throwEntityAlreadyDeletedException(searchKey4Log);
        }
        if (ls.size() > 1) {
            throwEntityDuplicatedException(ls.size() + "", searchKey4Log, null);
        }
    }

    private void throwEntityAlreadyDeletedException(Object searchKey4Log) {
        ${glConditionBeanContextName}.throwEntityAlreadyDeletedException(searchKey4Log);
    }

    private void throwEntityDuplicatedException(String resultCountString, Object searchKey4Log, Throwable cause) {
        ${glConditionBeanContextName}.throwEntityDuplicatedException(resultCountString, searchKey4Log, cause);
    }

    // ===================================================================================
    //                                                                      Various Select
    //                                                                      ==============
    public ${glOutsideSqlBasicExecutorName} outsideSql() {
        assertDaoSelectorNotNull("outsideSql");
        final ${glOutsideSqlDaoName} outsideSqlDao = _daoSelector.select(${glOutsideSqlDaoName}.class);
        return new ${glOutsideSqlBasicExecutorName}(outsideSqlDao, getTableDbName());
    }

    private void assertDaoSelectorNotNull(String methodName) {
        if (_daoSelector == null) {
            String msg = "Look! Read the message below." + getLineSeparator();
            msg = msg + "/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *" + getLineSeparator();
            msg = msg + "Not found the selector of dao as behavior's attributed!" + getLineSeparator();
            msg = msg + getLineSeparator();
            msg = msg + "[Advice]" + getLineSeparator();
            msg = msg + "Please confirm the definition of the selector at your 'dbflute.dicon'." + getLineSeparator();
            msg = msg + "It is precondition that '" + methodName + "()' needs the selector instance." + getLineSeparator();
            msg = msg + getLineSeparator();
            msg = msg + "[Your Behavior's Attributes]" + getLineSeparator();
            msg = msg + "  _behaviorSelector  : " + _behaviorSelector + getLineSeparator();
            msg = msg + "  _daoSelector       : " + _daoSelector + getLineSeparator();
            msg = msg + "* * * * * * * * * */" + getLineSeparator();
            throw new IllegalStateException(msg);
        }
    }

    /**
     * Create value-label list.
     * @param <ENTITY> The type of entity.
     * @param entityList The list of entity. (NotNull)
     * @param valueLabelSetupper Value-label-setupper. (NotNull)
     * @return Value-label list. (NotNull)
     */
    public <ENTITY extends ${glEntityInterfaceName}> List<Map<String, Object>> createValueLabelList(List<ENTITY> entityList, ${glValueLabelSetupperName}<ENTITY> valueLabelSetupper) {
        final List<Map<String, Object>> valueLabelList = new ArrayList<Map<String, Object>>();
        final ${glValueLabelBoxName} box = new ${glValueLabelBoxName}();
        for (ENTITY entity : entityList) {
            final Map<String, Object> valueLabel = new HashMap<String, Object>();
            valueLabelSetupper.setup(box, entity);
            valueLabel.put("value", box.getValue());
            valueLabel.put("label", box.getLabel());
            valueLabelList.add(valueLabel);
        }
        return valueLabelList;
    }

    // ===================================================================================
    //                                                                            Sequence
    //                                                                            ========
    /**
     * ${database.ImplementComment}
     * @return The value of sequence. (NotNull)
     */
    public ${database.sequenceReturnType} readNextVal() {
        try {
            final Method method = getClass().getMethod("selectNextVal", new Class[]{});
            Object sequenceObject = method.invoke(this, new Object[] {});
            if (sequenceObject instanceof ${database.sequenceReturnType}) {
                return (${database.sequenceReturnType})sequenceObject;
            }
            return (${database.sequenceReturnType})helpConvertingSequenceObject(${database.sequenceReturnType}.class, sequenceObject);
        } catch (NoSuchMethodException e) {
            throw new RuntimeException("The table does not have sequence: " + getTableDbName(), e);
        } catch (Exception e) {
            throw new RuntimeException("The selectNextVal() of the table threw the exception: " + getTableDbName(), e);
        }
    }

    protected Object helpConvertingSequenceObject(Class resultClass, Object sequenceObject) {
        try {
            final Constructor constructor = resultClass.getConstructor(new Class[]{String.class});
            return constructor.newInstance(new Object[]{sequenceObject.toString()});
        } catch (NoSuchMethodException e) {
        } catch (Exception e) {
            throw new RuntimeException("The readNextVal() of the table threw the exception: " + getTableDbName(), e);
        }
        try {
            final Method method = resultClass.getMethod("valueOf", new Class[]{long.class});
            return method.invoke(null, new Object[]{Long.valueOf(sequenceObject.toString())});
        } catch (NoSuchMethodException e) {
        } catch (Exception e) {
            throw new RuntimeException("The readNextVal() of the table threw the exception: " + getTableDbName(), e);
        }
        String msg = "Cannot convert sequenceObject to resultClass:";
        msg = msg + " resultClass=" + resultClass + " sequenceObjectType=" + sequenceObject.getClass();
        throw new IllegalStateException(msg);
    }

    // ===================================================================================
    //                                                       Load Referrer Internal Helper
    //                                                       =============================
    /**
     * Help load referrer internally.
     * About internal policy, the value of primary key(and others too) is treated as CaseInsensitive.
     * @param <LOCAL_ENTITY> The type of base entity.
     * @param <PK> The type of primary key.
     * @param <REFERRER_CB> The type of referrer condition-bean.
     * @param <REFERRER_ENTITY> The type of referrer entity.
     * @param localEntityList The list of local entity. (NotNull)
     * @param loadReferrerOption The option of loadReferrer. (NotNull)
     * @param callback The internal call-back of loadReferrer. (NotNull) 
     */
    protected <LOCAL_ENTITY extends ${glEntityInterfaceName}
             , PK
             , REFERRER_CB extends ${glConditionBeanInterfaceName}
             , REFERRER_ENTITY extends ${glEntityInterfaceName}>
            void helpLoadReferrerInternally(List<LOCAL_ENTITY> localEntityList
                                         , ${glLoadReferrerOptionName}<REFERRER_CB, REFERRER_ENTITY> loadReferrerOption
                                         , InternalLoadReferrerCallback<LOCAL_ENTITY, PK, REFERRER_CB, REFERRER_ENTITY> callback) {
        doHelpLoadReferrerInternally(localEntityList, loadReferrerOption, callback);
    }

    /**
     * Help load referrer internally.
     * About internal policy, the value of primary key(and others too) is treated as CaseInsensitive.
     * @param <LOCAL_ENTITY> The type of base entity.
     * @param <PK> The type of primary key.
     * @param <REFERRER_CB> The type of referrer condition-bean.
     * @param <REFERRER_ENTITY> The type of referrer entity.
     * @param localEntityList The list of local entity. (NotNull)
     * @param loadReferrerOption The option of loadReferrer. (NotNull)
     * @param callback The internal call-back of loadReferrer. (NotNull) 
     */
    protected <LOCAL_ENTITY extends ${glEntityInterfaceName}
             , PK
             , REFERRER_CB extends ${glConditionBeanInterfaceName}
             , REFERRER_ENTITY extends ${glEntityInterfaceName}>
            void doHelpLoadReferrerInternally(List<LOCAL_ENTITY> localEntityList
                                         , ${glLoadReferrerOptionName}<REFERRER_CB, REFERRER_ENTITY> loadReferrerOption
                                         , InternalLoadReferrerCallback<LOCAL_ENTITY, PK, REFERRER_CB, REFERRER_ENTITY> callback) {

        // - - - - - - - - - - -
        // Assert pre-condition
        // - - - - - - - - - - -
        assertBehaviorSelectorNotNull("loadReferrer");
        assertObjectNotNull("localEntityList", localEntityList);
        assertObjectNotNull("loadReferrerOption", loadReferrerOption);
        if (localEntityList.isEmpty()) {
            return;
        }

        // - - - - - - - - - - - - - -
        // Prepare temporary container
        // - - - - - - - - - - - - - -
        final Map<PK, LOCAL_ENTITY> pkBaseEntityMap = new LinkedHashMap<PK, LOCAL_ENTITY>();
        final List<PK> pkList = new java.util.ArrayList<PK>();
        for (LOCAL_ENTITY localEntity : localEntityList) {
            final PK primaryKeyValue = callback.callbackBase_getPrimaryKeyValue(localEntity);
            pkList.add(callback.callbackBase_getPrimaryKeyValue(localEntity));
            pkBaseEntityMap.put(toLowerCasePrimaryKeyIfString(primaryKeyValue), localEntity);
        }

        // - - - - - - - - - - - - - - - -
        // Prepare referrer condition bean
        // - - - - - - - - - - - - - - - -
        final REFERRER_CB cb;
        if (loadReferrerOption.getReferrerConditionBean() != null) {
            cb = loadReferrerOption.getReferrerConditionBean();
        } else {
            cb = callback.callbackReferrer_newMyConditionBean();
        }

        // - - - - - - - - - - - - - -
        // Select the list of referrer
        // - - - - - - - - - - - - - -
        callback.callbackReferrer_queryForeignKeyInScope(cb, pkList);
        loadReferrerOption.delegateKeyConditionExchangingFirstWhereClauseForLastOne(cb);
        if (!loadReferrerOption.isStopOrderByKey()) {
            callback.callbackReferrer_queryAddOrderByForeignKeyAsc(cb);
            cb.getSqlComponentOfOrderByClause().exchangeFirstOrderByElementForLastOne();
        }
        loadReferrerOption.delegateConditionBeanSettingUp(cb);
        final List<REFERRER_ENTITY> referrerList = callback.callbackReferrer_selectList(cb);
        loadReferrerOption.delegateEntitySettingUp(referrerList);

        // - - - - - - - - - - - - - - - - - - - - - - - -
        // Create the map of {primary key / referrer list}
        // - - - - - - - - - - - - - - - - - - - - - - - -
        final Map<PK, List<REFERRER_ENTITY>> pkReffererListMap = new LinkedHashMap<PK, List<REFERRER_ENTITY>>();
        for (REFERRER_ENTITY referrerEntity : referrerList) {
            final PK referrerListKey;
            {
                final PK foreignKeyValue = callback.callbackReferrer_getForeignKeyValue(referrerEntity);
                referrerListKey = toLowerCasePrimaryKeyIfString(foreignKeyValue);
            }
            if (!pkReffererListMap.containsKey(referrerListKey)) {
                pkReffererListMap.put(referrerListKey, new java.util.ArrayList<REFERRER_ENTITY>());
            }
            (pkReffererListMap.get(referrerListKey)).add(referrerEntity);

            // for Reverse Reference.
            final LOCAL_ENTITY localEntity = pkBaseEntityMap.get(referrerListKey);
            callback.callbackReferrer_setForeignEntity(referrerEntity, localEntity);
        }

        // - - - - - - - - - - - - - - - - - -
        // Relate referrer list to base entity
        // - - - - - - - - - - - - - - - - - -
        for (LOCAL_ENTITY localEntity : localEntityList) {
            final PK referrerListKey;
            {
                final PK primaryKey = callback.callbackBase_getPrimaryKeyValue(localEntity);
                referrerListKey = toLowerCasePrimaryKeyIfString(primaryKey);
            }
            if (pkReffererListMap.containsKey(referrerListKey)) {
                callback.callbackBase_setReferrerList(localEntity, pkReffererListMap.get(referrerListKey));
            } else {
                callback.callbackBase_setReferrerList(localEntity, new java.util.ArrayList<REFERRER_ENTITY>());
            }
        }
    }

    /**
     * To lower case for primary key if the value is string.
     * @param <PK> The type of primary key.
     * @param value The value of primary key. (Nullable)
     * @return The value of primary key. (Nullable)
     */
    protected <PK> PK toLowerCasePrimaryKeyIfString(PK value) {
        return (PK)toLowerCaseIfString(value);
    }

    /**
     * @param <LOCAL_ENTITY> The type of base entity.
     * @param <PK> The type of primary key.
     * @param <REFERRER_CB> The type of referrer condition-bean.
     * @param <REFERRER_ENTITY> The type of referrer entity.
     */
    protected static interface InternalLoadRefererCallback<LOCAL_ENTITY extends ${glEntityInterfaceName}
                                                         , PK
                                                         , REFERRER_CB extends ${glConditionBeanInterfaceName}
                                                         , REFERRER_ENTITY extends ${glEntityInterfaceName}>
                                                  extends InternalLoadReferrerCallback<LOCAL_ENTITY, PK, REFERRER_CB, REFERRER_ENTITY> {
    }

    /**
     * @param <LOCAL_ENTITY> The type of base entity.
     * @param <PK> The type of primary key.
     * @param <REFERRER_CB> The type of referrer conditionBean.
     * @param <REFERRER_ENTITY> The type of referrer entity.
     */
    protected static interface InternalLoadReferrerCallback<LOCAL_ENTITY extends ${glEntityInterfaceName}
                                                          , PK
                                                          , REFERRER_CB extends ${glConditionBeanInterfaceName}
                                                          , REFERRER_ENTITY extends ${glEntityInterfaceName}> {
        // For Base
        public PK callbackBase_getPrimaryKeyValue(LOCAL_ENTITY entity);
        public void callbackBase_setReferrerList(LOCAL_ENTITY entity, List<REFERRER_ENTITY> referrerList);

        // For Referrer
        public REFERRER_CB callbackReferrer_newMyConditionBean();
        public void callbackReferrer_queryForeignKeyInScope(REFERRER_CB cb, List<PK> pkList);
        public void callbackReferrer_queryAddOrderByForeignKeyAsc(REFERRER_CB cb);
        public List<REFERRER_ENTITY> callbackReferrer_selectList(REFERRER_CB cb);
        public PK callbackReferrer_getForeignKeyValue(REFERRER_ENTITY entity);
        public void callbackReferrer_setForeignEntity(REFERRER_ENTITY referrerEntity, LOCAL_ENTITY localEntity);
    }

    private void assertBehaviorSelectorNotNull(String methodName) {
        if (_behaviorSelector == null) {
            String msg = "Look! Read the message below." + getLineSeparator();
            msg = msg + "/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *" + getLineSeparator();
            msg = msg + "Not found the selector of behavior as behavior's attributed!" + getLineSeparator();
            msg = msg + getLineSeparator();
            msg = msg + "[Advice]" + getLineSeparator();
            msg = msg + "Please confirm the definition of the selector at your 'dbflute.dicon'." + getLineSeparator();
            msg = msg + "It is precondition that '" + methodName + "()' needs the selector instance." + getLineSeparator();
            msg = msg + getLineSeparator();
            msg = msg + "[Your Behavior's Attributes]" + getLineSeparator();
            msg = msg + "  _behaviorSelector  : " + _behaviorSelector + getLineSeparator();
            msg = msg + "  _daoSelector       : " + _daoSelector + getLineSeparator();
            msg = msg + "* * * * * * * * * */" + getLineSeparator();
            throw new IllegalStateException(msg);
        }
    }

    // ===================================================================================
    //                                                             Pullout Internal Helper
    //                                                             =======================
    protected <LOCAL_ENTITY extends ${glEntityInterfaceName}, FOREIGN_ENTITY extends ${glEntityInterfaceName}>
            List<FOREIGN_ENTITY> helpPulloutInternally(List<LOCAL_ENTITY> localEntityList, InternalPulloutCallback<LOCAL_ENTITY, FOREIGN_ENTITY> callback) {
        assertObjectNotNull("localEntityList", localEntityList);
        final Set<FOREIGN_ENTITY> foreignSet = new LinkedHashSet<FOREIGN_ENTITY>();
        for (LOCAL_ENTITY entity : localEntityList) {
            final FOREIGN_ENTITY foreignEntity = callback.callbackGetForeignEntity(entity);
            if (foreignEntity == null || foreignSet.contains(foreignEntity)) {
                continue;
            }
            foreignSet.add(foreignEntity);
        }
        return new ArrayList<FOREIGN_ENTITY>(foreignSet);
    }

    protected static interface InternalPulloutCallback<LOCAL_ENTITY extends ${glEntityInterfaceName}, FOREIGN_ENTITY extends ${glEntityInterfaceName}> {
        public FOREIGN_ENTITY callbackGetForeignEntity(LOCAL_ENTITY entity);
    }

    // ===================================================================================
    //                                                                          Token File
    //                                                                          ==========
    public TokenFileOutputExecutor tokenFileOutput() throws java.io.FileNotFoundException, java.io.IOException {
        return new TokenFileOutputExecutor();
    }

    public class TokenFileOutputExecutor {
        /**
         * Output token-file from this table records.
         * @param cb Condition-bean. (NotNull)
         * @param filename Name of the file. (NotNull and NotEmpty)
         * @param tokenFileOutputOption token-file-output-option. (NotNull and Required{delimiter and encoding})
         * @return Token-file-output-result. (NotNull)
         * @throws java.io.FileNotFoundException
         * @throws java.io.IOException
         */
        public ${glTokenFileOutputResultName} outputTokenFile(${glConditionBeanInterfaceName} cb, String filename, ${glTokenFileOutputOptionName} tokenFileOutputOption) throws java.io.FileNotFoundException, java.io.IOException {
            assertConditionBeanNotNull(cb);
            assertStringNotNullAndNotTrimmedEmpty("filename", filename);
            assertObjectNotNull("tokenFileOutputOption", tokenFileOutputOption);

            final List<${glEntityInterfaceName}> ls = readList(cb);
            List<List<String>> rowList = new ArrayList<List<String>>();
            for (java.util.Iterator ite = ls.iterator(); ite.hasNext(); ) {
                final ${glEntityInterfaceName} entity = (${glEntityInterfaceName})ite.next();
                final List<String> valueList = getDBMeta().convertToColumnStringValueList(entity);
                rowList.add(valueList);
            }
            final ${glFileMakingSimpleFacadeName} fileMakingSimpleFacade = new ${glFileMakingSimpleFacadeImplName}();
            final ${glFileMakingOptionName} fileMakingOption = tokenFileOutputOption.getFileMakingOption();
            final ${glFileMakingHeaderInfoName} fileMakingHeaderInfo = new ${glFileMakingHeaderInfoName}();
            final List<String> columnDbNameList = new ArrayList<String>();
            for (final java.util.Iterator ite = getDBMeta().getColumnInfoList().iterator(); ite.hasNext(); ) {
                final ${glColumnInfoName} columnInfo = (${glColumnInfoName})ite.next();
                columnDbNameList.add(columnInfo.getColumnDbName());
            }
            fileMakingHeaderInfo.setColumnNameList(columnDbNameList);
            fileMakingOption.setFileMakingHeaderInfo(fileMakingHeaderInfo);
            fileMakingSimpleFacade.makeFromRowList(filename, rowList, fileMakingOption);
            final ${glTokenFileOutputResultName} tokeFileOutputResult = new ${glTokenFileOutputResultName}();
            tokeFileOutputResult.setSelectedList(ls);
            return tokeFileOutputResult;
        }
    }

    // ===================================================================================
    //                                                                     Delegate Method
    //                                                                     ===============
    /**
     * ${database.ImplementComment}
     * @return All count.
     */
    protected int callGetCountAll() {
        final java.lang.reflect.Method mtd = getMethod(getDaoReadable().getClass(), "getCountAll", new Class[]{});
        final Object result = invoke(mtd, getDaoReadable(), new Object[]{});
        return ((Integer)result).intValue();
    }

    /**
     * ${database.ImplementComment}
     * @return All list. (NotNull)
     */
    protected List<${glEntityInterfaceName}> callGetListAll() {
        final java.lang.reflect.Method mtd = getMethod(getDaoReadable().getClass(), "getListAll", new Class[]{});
        final Object result = invoke(mtd, getDaoReadable(), new Object[]{});
        return (List<${glEntityInterfaceName}>)result;
    }

    /**
     * ${database.ImplementComment}
     * @param cb Condition-bean that the type is condition-bean-interface. (NotNull)
     * @return Read count. (NotNull)
     */
    protected int callReadCount(${glConditionBeanInterfaceName} cb) {
        assertConditionBeanNotNull(cb);
        final Class[] types = new Class[]{cb.getClass()};
        final java.lang.reflect.Method mtd = getMethod(getDaoReadable().getClass(), "selectCount", types);
        final Object result = invoke(mtd, getDaoReadable(), new Object[]{cb});
        return ((Integer)result).intValue();
    }

    /**
     * ${database.ImplementComment}
     * @param cb Condition-bean that the type is condition-bean-interface. (NotNull)
     * @return Read list. If the select result is zero, it returns empty list. (NotNull)
     */
    protected List<${glEntityInterfaceName}> callReadList(${glConditionBeanInterfaceName} cb) {
        assertConditionBeanNotNull(cb);
        final Class[] types = new Class[]{cb.getClass()};
        final java.lang.reflect.Method mtd = getMethod(getDaoReadable().getClass(), "selectList", types);
        final Object result = invoke(mtd, getDaoReadable(), new Object[]{cb});
        return (List<${glEntityInterfaceName}>)result;
    }

    private java.lang.reflect.Method getMethod(Class clazz, String methodName, Class[] argTypes) {
        try {
            return clazz.getMethod(methodName, argTypes);
        } catch (NoSuchMethodException ex) {
            String msg = "class=" + clazz + " method=" + methodName + "-" + java.util.Arrays.asList(argTypes);
            throw new RuntimeException(msg, ex);
        }
    }

    private Object invoke(java.lang.reflect.Method method, Object target, Object[] args) {
        try {
            return method.invoke(target, args);
        } catch (java.lang.reflect.InvocationTargetException ex) {
            Throwable t = ex.getCause();
            if (t instanceof RuntimeException) {
                throw (RuntimeException) t;
            }
            if (t instanceof Error) {
                throw (Error) t;
            }
            String msg = "target=" + target + " method=" + method + "-" + java.util.Arrays.asList(args);
            throw new RuntimeException(msg, ex);
        } catch (IllegalAccessException ex) {
            String msg = "target=" + target + " method=" + method + "-" + java.util.Arrays.asList(args);
            throw new RuntimeException(msg, ex);
        }
    }

    // ===================================================================================
    //                                                                Optimistic Lock Info
    //                                                                ====================
    protected abstract boolean hasVersionNoValue(${glEntityInterfaceName} entity);
    protected abstract boolean hasUpdateDateValue(${glEntityInterfaceName} entity);

    // ===================================================================================
    //                                                                              Helper
    //                                                                              ======
    /**
     * To lower case if the type is String.
     * @param obj Object. (Nullable)
     * @return Lower object. (Nullable)
     */
    protected Object toLowerCaseIfString(Object obj) {
        if (obj != null && obj instanceof String) {
            return ((String)obj).toLowerCase();
        }
        return obj;
    }

    /**
     * Get the value of line separator.
     * @return The value of line separator. (NotNull)
     */
    protected String getLineSeparator() {
        return System.getProperty("line.separator");
    }

    protected <ENTITY extends ${glEntityInterfaceName}> ENTITY helpDowncastInternally(${glEntityInterfaceName} entity, Class<ENTITY> clazz) {
        assertObjectNotNull("entity", entity);
        assertObjectNotNull("clazz", clazz);
        try {
            return (ENTITY)entity;
        } catch (ClassCastException e) {
            String msg = "The entity should be " + clazz.getSimpleName() + " but it was: " + entity.getClass();
            throw new RuntimeException(msg, e);
        }
    }

    // ----------------------------------------------------------------
    //                                                    Assert Object
    //                                                    -------------
    /**
     * Assert that the object is not null.
     * @param variableName Variable name. (NotNull)
     * @param value Value. (NotNull)
     * @exception IllegalArgumentException
     */
    protected void assertObjectNotNull(String variableName, Object value) {
        if (variableName == null) {
            String msg = "The value should not be null: variableName=" + variableName + " value=" + value;
            throw new IllegalArgumentException(msg);
        }
        if (value == null) {
            String msg = "The value should not be null: variableName=" + variableName;
            throw new IllegalArgumentException(msg);
        }
    }

    /**
     * Assert that the entity is not null.
     * @param entity Entity. (NotNull)
     */
    protected void assertEntityNotNull(${glEntityInterfaceName} entity) {
        assertObjectNotNull("entity", entity);
    }

    /**
     * Assert that the condition-bean is not null.
     * @param cb Condition-bean. (NotNull)
     */
    protected void assertConditionBeanNotNull(${glPackageBaseCommonCBean}.${glConditionBeanInterfaceName} cb) {
        assertObjectNotNull("cb", cb);
    }

    /**
     * Assert that the entity has primary-key value.
     * @param entity Entity. (NotNull)
     */
    protected void assertEntityNotNullAndHasPrimaryKeyValue(${glEntityInterfaceName} entity) {
        assertEntityNotNull(entity);
        if (!entity.hasPrimaryKeyValue()) {
            String msg = "The entity must should primary-key: entity=" + entity;
            throw new IllegalArgumentException(msg + entity);
        }
    }

    // ----------------------------------------------------------------
    //                                                    Assert String
    //                                                    -------------
    /**
     * Assert that the entity is not null and not trimmed empty.
     * @param variableName Variable name. (NotNull)
     * @param value Value. (NotNull)
     */
    protected void assertStringNotNullAndNotTrimmedEmpty(String variableName, String value) {
        assertObjectNotNull("variableName", variableName);
        assertObjectNotNull(variableName, value);
        if (value.trim().length() ==0) {
            String msg = "The value should not be empty: variableName=" + variableName + " value=" + value;
            throw new IllegalArgumentException(msg);
        }
    }

    // ----------------------------------------------------------------
    //                                                      Assert List
    //                                                      -----------
    /**
     * Assert that the list is empty.
     * @param ls List. (NotNull)
     */
    protected void assertListNotNullAndEmpty(List ls) {
        assertObjectNotNull("ls", ls);
        if (!ls.isEmpty()) {
            String msg = "The list should be empty: ls=" + ls.toString();
            throw new IllegalArgumentException(msg);
        }
    }

    /**
     * Assert that the list is not empty.
     * @param ls List. (NotNull)
     */
    protected void assertListNotNullAndNotEmpty(List ls) {
        assertObjectNotNull("ls", ls);
        if (ls.isEmpty()) {
            String msg = "The list should not be empty: ls=" + ls.toString();
            throw new IllegalArgumentException(msg);
        }
    }

    /**
     * Assert that the list having only one.
     * @param ls List. (NotNull)
     */
    protected void assertListNotNullAndHasOnlyOne(List ls) {
        assertObjectNotNull("ls", ls);
        if (ls.size() != 1) {
            String msg = "The list should contain only one object: ls=" + ls.toString();
            throw new IllegalArgumentException(msg);
        }
    }

    // ===================================================================================
    //                                                                            Accessor
    //                                                                            ========
    /**
     * Get the selector of behavior.
     * @return The select of behavior. (Nullable: But normally NotNull)
     */
    protected ${glBehaviorSelectorInterfaceName} getBehaviorSelector() {
        return _behaviorSelector;
    }

    /**
     * Set the selector of behavior.
     * @param behaviorSelector The selector of behavior. (NotNull)
     */
    public void setBehaviorSelector(${glBehaviorSelectorInterfaceName} behaviorSelector) {
        this._behaviorSelector = behaviorSelector;
    }

    /**
     * Get the selector of DAO.
     * @return The select of DAO. (Nullable: But normally NotNull)
     */
    protected ${glDaoSelectorInterfaceName} getDaoSelector() {
        return _daoSelector;
    }

    /**
     * Set the selector of DAO.
     * @param daoSelector The selector of DAO. (NotNull)
     */
    public void setDaoSelector(${glDaoSelectorInterfaceName} daoSelector) {
        _daoSelector = daoSelector;
    }
}
