${database.allClassCopyright}package ${glPackageBaseCommonCBeanOutsidesql};

/**
 * The parameter-bean for procedure.
 * @author ${database.ClassAuthor}
 */
public interface ${glProcedurePmb} {

    /**
     * Get the value of procedure name.
     * @return The value of procedure name. (NotNull)
     */
    public String getProcedureName();
}
