${database.allClassCopyright}package ${glPackageBaseCommonDBMetaHierarchyBasic};

#set ($myClassName = "${glHierarchySourceEntityColumnName}")

import ${glPackageBaseCommonDBMetaHierarchy}.${glHierarchySourceColumnName};
import ${glPackageBaseCommonDBMetaInfo}.${glColumnInfo};

/**
 * @author ${database.ClassAuthor}
 */
public class ${myClassName} implements ${glHierarchySourceColumnName} {

    protected ${glColumnInfo} columnInfo;

    public ${myClassName}(${glColumnInfo} columnInfo) {
        this.columnInfo = columnInfo;
    }

    public String getColumnName() {
        return columnInfo.getColumnDbName();
    }

    public java.lang.reflect.Method findGetter() {
        return columnInfo.findGetter();
    }
}