${database.allClassCopyright}package ${glPackageExtendedBhv};
#set ($myClassName = "${myExtendedBhvClassName}")

import ${glPackageBaseBhv}.${myBaseBhvClassName};

/**
 * The behavior of ${table.name}.
 * <p>
 * You can implement your original methods here.
 * This class remains when re-generating.
 * </p>
 * @author ${database.ClassAuthor}
 */
public class $myClassName extends ${myBaseBhvClassName} {
}
