${database.allClassCopyright}package ${myExtendedEntityPackageName};

#set ($myClassName = "${myExtendedObjectClassName}")

/**
 * The entity of ${table.name}. <br />
 * You can implement your original methods here. <br />
 * This class is NOT overrided when re-generating. <br />
 * 
 * @author ${database.ClassAuthor}
 */${database.outputSuppressWarningsAfterLineSeparator()}
public class $myClassName extends ${myBaseEntityPackageName}.${myBaseObjectClassName} {

    /** Serial version UID. (Default) */
    private static final long serialVersionUID = 1L;
}
