package ${glPackageBaseCommonJdbcHistory};

/**
 * The bean of prepared execution.
 * 
 * @author ${database.ClassAuthor}
 */
public class ${glPreparedExecutionBeanName} {

    // ===================================================================================
    //                                                                           Attribute
    //                                                                           =========
    protected java.util.List<${glPreparedParameterElementName}> preparedParameterElementList = new java.util.ArrayList<${glPreparedParameterElementName}>();

    protected String displaySql;

    // ===================================================================================
    //                                                                         Easy-to-Use
    //                                                                         ===========
    public void addParameterElement(${glPreparedParameterElementName} parameterElement) {
        this.preparedParameterElementList.add(parameterElement);
    }

    public int size() {
        return preparedParameterElementList.size();
    }

    // ===================================================================================
    //                                                                            Accessor
    //                                                                            ========
    public java.util.List<${glPreparedParameterElementName}> getPreparedParameterElementList() {
        return preparedParameterElementList;
    }

    public String getDisplaySql() {
        return displaySql;
    }

    public void setDisplaySql(String displaySql) {
        this.displaySql = displaySql;
    }
}
