package ${glPackageBaseCommonJdbcHistory};

/**
 * The history of statement.
 * 
 * @author ${database.ClassAuthor}
 */
public class ${glStatementHistoryName} {

    // ===================================================================================
    //                                                                           Attribute
    //                                                                           =========
    protected java.util.List<${glPreparedExecutionBeanName}> preparedExecutionBeanList = new java.util.ArrayList<${glPreparedExecutionBeanName}>();

    // ===================================================================================
    //                                                                         Easy-to-Use
    //                                                                         ===========
    public void addExecutionBean(${glPreparedExecutionBeanName} parameterBean) {
        this.preparedExecutionBeanList.add(parameterBean);
    }

    public ${glPreparedExecutionBeanName} current() {
        if (preparedExecutionBeanList.isEmpty()) {
            preparedExecutionBeanList.add(new ${glPreparedExecutionBeanName}());
        }
        return preparedExecutionBeanList.get(preparedExecutionBeanList.size() - 1);
    }

    public ${glPreparedExecutionBeanName} next() {
        preparedExecutionBeanList.add(new ${glPreparedExecutionBeanName}());
        return current();
    }

    public ${glPreparedExecutionBeanName} removeLast() {
        return preparedExecutionBeanList.remove(preparedExecutionBeanList.size() - 1);
    }

    public int size() {
        return preparedExecutionBeanList.size();
    }

    // ===================================================================================
    //                                                                            Accessor
    //                                                                            ========
    public java.util.List<${glPreparedExecutionBeanName}> getPreparedExecutionBeanList() {
        return preparedExecutionBeanList;
    }
}
