${database.allClassCopyright}package ${myExtendedDaoCursorPackageName};

#set ($myClassName = "${myExtendedTypeSafeCursorClassName}")

/**
 * The cursor of ${table.name}.
 * 
 * @author ${database.ClassAuthor}
 */${database.outputSuppressWarningsAfterLineSeparator()}
public class ${myClassName} extends ${myBaseTypeSafeCursorClassName} {
}
