${database.allClassCopyright}package ${glPackageExtendedBhv};
#set ($myClassName = "${myBaseBhvImplClassName}")

import ${glPackageBaseBhv}.${myBaseBhvImplClassName};

/**
 * The base behavior of ${table.name} as implementation of an application.
 * <p>
 * You can NOT implement your original methods here.
 * This class is overridden when re-generating.
 * (basically for definitions of Behavior Query Path)
 * </p>
 * @author ${database.classAuthor}
 */
public class ${myClassName} extends ${myBaseBhvClassName} {

    // ===================================================================================
    //                                                                          Definition
    //                                                                          ==========
    ${database.behaviorQueryPathBeginMark}
    ${database.behaviorQueryPathEndMark}
}
