<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans
    PUBLIC "-//SPRING//DTD BEAN//EN"
    "http://www.springframework.org/dtd/spring-beans.dtd"
>
<beans>
    <!-- The component of DBFlute. (Basically internal components except for behaviorSelector) -->
    <bean id="dbfluteInitializer" class="${glPackageBaseCommon}.DBFluteInitializer"/>
    <bean id="invokerAssistant" class="${glPackageBaseCommon}.ImplementedInvokerAssistant" autowire="byType"/>
    <bean id="commonColumnAutoSetupper" class="${glPackageBaseCommon}.ImplementedCommonColumnAutoSetupper" autowire="byType"/>
    <bean id="behaviorSelector" class="${glPackageBaseCommon}.ImplementedBehaviorSelector" autowire="byType"/>
    <bean id="behaviorCommandInvoker" class="org.seasar.dbflute.bhv.core.BehaviorCommandInvoker" autowire="byType"/>

#foreach ($table in $database.tables)
	<bean id="${table.behaviorComponentName}" class="${table.extendedBehaviorFullClassName}" autowire="byType"/>
#end
</beans>
