<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE components PUBLIC "-//SEASAR2.1//DTD S2Container//EN"
    "http://www.seasar.org/dtd/components21.dtd">

<components namespace="${glDBFluteDiconNamespace}">
#foreach ($includePath in $database.DBFluteDiconBeforeJ2eeIncludePathList)
    <include path="${includePath}"/>
#end
    <include path="${glJ2eeDiconResourceName}"/>
#foreach ($includePath in $database.DBFluteDiconOtherIncludePathList)
    <include path="${includePath}"/>
#end
#if ($database.isUseBuri())
    <include path="buri/dicon/buriSimple.dicon"/>
#end

    <!-- The client component of DBFlute. (Basically internal components except for behaviorSelector) -->
    <component class="com.example.dbflute.basic.dbflute.allcommon.DBFluteInitializer"/>
    <component name="invokerAssistant" class="com.example.dbflute.basic.dbflute.allcommon.ImplementedInvokerAssistant"/>
    <component name="commonColumnAutoSetupper" class="com.example.dbflute.basic.dbflute.allcommon.ImplementedCommonColumnAutoSetupper"/>
    <component name="behaviorSelector" class="com.example.dbflute.basic.dbflute.allcommon.ImplementedBehaviorSelector">
        <destroyMethod name="destroy"/>
    </component>

    <!-- The runtime component of DBFlute. -->
    <component name="behaviorCommandInvoker" class="org.dbflute.bhv.core.BehaviorCommandInvoker"/>
    <component name="beanMetaDataFactory" class="org.dbflute.s2dao.extension.TnBeanMetaDataFactoryExtension"/>
    <component name="valueTypeFactory" class="org.dbflute.s2dao.valuetype.impl.TnValueTypeFactoryImpl"/>
    <component name="latestSqlProvider" class="org.dbflute.resource.SqlLogRegistryLatestSqlProvider"/>

    <!-- The special value type. -->
	<component name="dbfluteStringClobType" class="org.seasar.extension.jdbc.types.StringClobType" />
	<component name="dbfluteBytesOidType" class="${glPackageBaseCommonS2DaoInternalValueType}.${glInternalBytesOidType}" />

#foreach ($table in $database.tables)
#if ($database.isMakeDaoInterface())
    <!-- ${table.name} -->
    <component name="${table.daoComponentName}" class="${table.extendedDaoFullClassName}">
        <aspect>${glDBFluteDiconNamespace}.interceptor</aspect>
    </component>
#end
    <component name="${table.behaviorComponentName}" class="${table.extendedBehaviorFullClassName}"/>
#end

</components>
