<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans
    PUBLIC "-//SPRING//DTD BEAN//EN"
    "http://www.springframework.org/dtd/spring-beans.dtd"
>
<beans>

	<bean id="resultSetFactory" class="org.seasar.extension.jdbc.impl.BasicResultSetFactory"/>
	<bean id="statementFactory" class="org.seasar.extension.jdbc.impl.BasicStatementFactory"/>

	<bean id="daoMetaDataFactory" class="${database.extendedDaoMetaDataFactoryImplClassName}">
        <constructor-arg index="0">
            <ref bean="dataSource"/>
        </constructor-arg>
        <constructor-arg index="1">
            <ref bean="statementFactory"/>
        </constructor-arg>
        <constructor-arg index="2">
            <ref bean="resultSetFactory"/>
        </constructor-arg>
        <constructor-arg index="3">
            <ref bean="annotationReaderFactory"/>
        </constructor-arg>
        <constructor-arg index="4">
            <ref bean="xaDataSource"/>
        </constructor-arg>
        <property name="resultSetHandlerFactory" ref="resultSetHandlerFactory"></property>
        <property name="valueTypeFactory" ref="valueTypeFactory"></property>
        <property name="daoNamingConvention" ref="daoNamingConvention"></property>
        <property name="dtoMetaDataFactory" ref="dtoMetaDataFactory"></property>
        <property name="beanMetaDataFactory" ref="beanMetaDataFactory"></property>
        <property name="procedureMetaDataFactory" ref="procedureMetaDataFactory"></property>
        <property name="propertyTypeFactoryBuilder" ref="propertyTypeFactoryBuilder"></property>
        <property name="relationPropertyTypeFactoryBuilder" ref="relationPropertyTypeFactoryBuilder"></property>
        <property name="tableNaming" ref="tableNaming"></property>
        <property name="columnNaming" ref="columnNaming"></property>
        <property name="beanEnhancer" ref="beanEnhancer"></property>
        <property name="sqlFileEncoding"><value>${database.daoSqlFileEncoding}</value></property>
	</bean>
	<bean id="s2daoInterceptor" class="${glPackageBaseCommonS2Dao}.${glDaoInterceptor}">
        <constructor-arg>
            <ref bean="daoMetaDataFactory"/>
        </constructor-arg>
    </bean>
    <bean id="beanMetaDataFactory" class="${glPackageBaseCommonS2Dao}.${glBeanMetaDataFactoryImpl}" autowire="byType"/>
	<bean id="annotationReaderFactory" class="${database.extendedAnnotationReaderFactoryClassName}" autowire="byType"/>
	<bean id="valueTypeFactory" class="org.seasar.dao.impl.ValueTypeFactoryImpl" autowire="byType"/>
    <bean id="daoNamingConvention" class="org.seasar.dao.impl.DaoNamingConventionImpl" autowire="byType"/>
	<bean id="beanEnhancer" class="org.seasar.dao.impl.NullBeanEnhancer" autowire="byType"/>
	<bean id="resultSetHandlerFactory" class="${glPackageBaseCommonS2Dao}.${glDaoMetaDataExtension}$ResultSetHandlerFactoryExtension" autowire="byType"/>
	<bean id="dtoMetaDataFactory" class="org.seasar.dao.impl.DtoMetaDataFactoryImpl" autowire="byType"/>
	<bean id="propertyTypeFactoryBuilder" class="${glPackageBaseCommonS2Dao}.${glDaoPropertyTypeFactoryBuilderExtension}" autowire="byType"/>
	<bean id="relationPropertyTypeFactoryBuilder" class="org.seasar.dao.impl.RelationPropertyTypeFactoryBuilderImpl" autowire="byType"/>
	<bean id="tableNaming" class="org.seasar.dao.impl.DefaultTableNaming" autowire="byType"/>
	<bean id="columnNaming" class="org.seasar.dao.impl.DefaultColumnNaming" autowire="byType"/>
	<bean id="procedureMetaDataFactory" class="org.seasar.dao.impl.ProcedureMetaDataFactoryImpl" autowire="byType"/>

	<bean id="dbfluteStringClobType" class="org.seasar.extension.jdbc.types.StringClobType"/>

	<bean id="${database.behaviorSelectorComponentName}" class="${glPackageBaseCommon}.${glCacheBehaviorSelectorName}" autowire="byType" destroy-method="destroy"/>
	<bean id="${database.daoSelectorComponentName}" class="${glPackageBaseCommon}.${glCacheDaoSelectorName}" autowire="byType" destroy-method="destroy"/>

    <bean class="org.seasar.dao.spring.autoregister.FileSystemBeanAutoRegister">
        <property name="addPackageName">
            <value>${glPackageBaseCommonCBeanOutsidesql}</value>
        </property>
        <property name="addClassNames">
            <value>OutsideSqlDao</value>
        </property>
        <property name="interceptorNames">
            <list>
                <value>s2daoInterceptor</value>
            </list>
        </property>
    </bean>
    
    <bean class="org.seasar.dao.spring.autoregister.FileSystemBeanAutoRegister">
        <property name="addPackageName">
            <value>${glPackageExtendedDao}</value>
        </property>
        <property name="addClassNames">
            <value>.*Dao</value>
        </property>
        <property name="interceptorNames">
            <list>
                <value>s2daoInterceptor</value>
            </list>
        </property>
    </bean>

#foreach ($table in $database.tables)
	<bean id="${table.behaviorComponentName}" class="${table.extendedBehaviorFullClassName}" autowire="byType"/>
#end
</beans>
