<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE components PUBLIC "-//SEASAR2.1//DTD S2Container//EN"
    "http://www.seasar.org/dtd/components21.dtd">

<components namespace="${glDBFluteDiconNamespace}">
#foreach ($includePath in $database.DBFluteDiconBeforeJ2eeIncludePathList)
    <include path="${includePath}"/>
#end
    <include path="${glJdbcDiconResourceName}"/>
#foreach ($includePath in $database.DBFluteDiconOtherIncludePathList)
    <include path="${includePath}"/>
#end

    <!-- S2Dao component. -->
    <component class="${database.extendedDaoMetaDataFactoryImplClassName}">
#if ($database.hasDaoSqlFileEncoding())
        <property name="sqlFileEncoding">"${database.daoSqlFileEncoding}"</property>
#end
    </component>
    <component name="interceptor" class="${glPackageBaseCommonS2Dao}.${glDaoInterceptor}"/>
    <component class="${database.extendedAnnotationReaderFactoryClassName}"/>
    <component class="org.seasar.dao.impl.ValueTypeFactoryImpl"/>
    <component class="${glPackageBaseCommonS2Dao}.${glBeanMetaDataFactoryImpl}"/>
    <component class="org.seasar.dao.impl.DaoNamingConventionImpl"/>
    <component class="org.seasar.dao.impl.NullBeanEnhancer"/>
    <component class="${glPackageBaseCommonS2Dao}.${glDaoMetaDataExtension}$ResultSetHandlerFactoryExtension"/>
    <component class="org.seasar.dao.impl.DtoMetaDataFactoryImpl"/>
    <component class="${glPackageBaseCommonS2Dao}.${glDaoPropertyTypeFactoryBuilderExtension}"/>
    <component class="org.seasar.dao.impl.RelationPropertyTypeFactoryBuilderImpl"/>
    <component class="org.seasar.dao.impl.DefaultTableNaming"/>
    <component class="org.seasar.dao.impl.DefaultColumnNaming"/>
    <component class="org.seasar.dao.impl.ProcedureMetaDataFactoryImpl"/>
    <component class="${glPackageBaseCommonS2Dao}.${glDaoLatestSqlProvider}"/>
	<component name="dbfluteStringClobType" class="org.seasar.extension.jdbc.types.StringClobType" />
	<component name="dbfluteBytesOidType" class="${glPackageBaseCommonS2DaoInternalValueType}.${glInternalBytesOidType}" />

    <!-- The selector of behavior. -->
    <component name="${database.behaviorSelectorComponentName}" class="${glPackageBaseCommon}.${glCacheBehaviorSelectorName}">
        <destroyMethod name="destroy"/>
    </component>

    <!-- The selector of DAO. -->
    <component name="${database.daoSelectorComponentName}" class="${glPackageBaseCommon}.${glCacheDaoSelectorName}">
        <destroyMethod name="destroy"/>
    </component>

    <!-- The dao of outsideSql. -->
    <component class="${glPackageBaseCommonCBeanOutsidesql}.${glOutsideSqlDaoName}">
        <aspect>${glDBFluteDiconNamespace}.interceptor</aspect>
    </component>

#foreach ($table in $database.tables)

    <!-- ${table.name} -->
    <component name="${table.daoComponentName}" class="${table.extendedDaoFullClassName}">
        <aspect>${glDBFluteDiconNamespace}.interceptor</aspect>
    </component>
    <component name="${table.behaviorComponentName}" class="${table.extendedBehaviorFullClassName}"/>
#end

</components>
