<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans
    PUBLIC "-//SPRING//DTD BEAN//EN"
    "http://www.springframework.org/dtd/spring-beans.dtd"
>
<beans>
    <bean id="dbfluteInitializer" class="${glPackageBaseCommon}.${glDBFluteInitializer}">
        <constructor-arg index="0">
            <ref bean="xaDataSource"/>
        </constructor-arg>
	</bean>
    <bean id="behaviorCommandInvoker" class="${glPackageBaseCommonBhvCore}.${glBehaviorCommandInvoker}" autowire="byType">
        <property name="dataSource" ref="dataSource"></property>
        <property name="beanMetaDataFactory" ref="beanMetaDataFactory"></property>
        <property name="valueTypeFactory" ref="valueTypeFactory"></property>
	</bean>
    <bean id="invokerAssistant" class="${glPackageBaseCommon}.${glImplementedInvokerAssistant}" autowire="byType"/>
    <bean id="commonColumnAutoSetupper" class="${glPackageBaseCommon}.${glCommonColumnBasicAutoSetupper}" autowire="byType"/>
	<bean id="${database.behaviorSelectorComponentName}" class="${glPackageBaseCommon}.${glCacheBehaviorSelector}" autowire="byType" destroy-method="destroy"/>

    <bean id="beanMetaDataFactory" class="${glPackageBaseCommonS2Dao}.${glBeanMetaDataFactoryExtension}" autowire="byType"/>
	<bean id="propertyTypeFactoryBuilder" class="${glPackageBaseCommonS2Dao}.${glPropertyTypeFactoryBuilderExtension}" autowire="byType"/>
	<bean id="latestSqlProvider" class="${glPackageBaseCommonS2Dao}.${glSqlLogRegistryLatestSqlProvider}" autowire="byType"/>
	<bean id="annotationReaderFactory" class="${database.extendedAnnotationReaderFactoryClassName}" autowire="byType"/>
	<bean id="valueTypeFactory" class="org.seasar.dao.impl.ValueTypeFactoryImpl" autowire="byType"/>
    <bean id="daoNamingConvention" class="org.seasar.dao.impl.DaoNamingConventionImpl" autowire="byType"/>
	<bean id="beanEnhancer" class="org.seasar.dao.impl.NullBeanEnhancer" autowire="byType"/>
	<bean id="dtoMetaDataFactory" class="org.seasar.dao.impl.DtoMetaDataFactoryImpl" autowire="byType"/>
	<bean id="relationPropertyTypeFactoryBuilder" class="org.seasar.dao.impl.RelationPropertyTypeFactoryBuilderImpl" autowire="byType"/>
	<bean id="tableNaming" class="org.seasar.dao.impl.DefaultTableNaming" autowire="byType"/>
	<bean id="columnNaming" class="org.seasar.dao.impl.DefaultColumnNaming" autowire="byType"/>
	<bean id="procedureMetaDataFactory" class="org.seasar.dao.impl.ProcedureMetaDataFactoryImpl" autowire="byType"/>

	<bean id="dbfluteStringClobType" class="org.seasar.extension.jdbc.types.StringClobType"/>
	<bean id="dbfluteBytesOidType" class="${glPackageBaseCommonS2DaoInternalValueType}.${glInternalBytesOidType}" />

#foreach ($table in $database.tables)
	<bean id="${table.behaviorComponentName}" class="${table.extendedBehaviorFullClassName}" autowire="byType"/>
#end
</beans>
