<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE components PUBLIC "-//SEASAR2.1//DTD S2Container//EN"
	"http://www.seasar.org/dtd/components21.dtd">

<components namespace="${glDBFluteDiconNamespace}">
#foreach ($includePath in $database.DBFluteDiconBeforeJ2eeIncludePathList)
    <include path="${includePath}"/>
#end

    <include path="${glJdbcDiconResourceName}"/>
#foreach ($includePath in $database.DBFluteDiconOtherIncludePathList)
    <include path="${includePath}"/>
#end

    <!-- S2Dao component. -->
    <component class="org.seasar.dao.impl.FieldAnnotationReaderFactory"/>
    <component class="org.seasar.dao.impl.ValueTypeFactoryImpl"/>
    <component class="${glPackageBaseCommonS2Dao}.${glDaoMetaDataFactoryImpl}"/>
    <component name="interceptor" class="${glPackageBaseCommonS2Dao}.${glDaoInterceptor}"/>
#if ($database.isVersionAfter1040())
    <component class="${glPackageBaseCommonS2Dao}.${glBeanMetaDataFactoryImpl}"/>
    <component class="org.seasar.dao.impl.DaoNamingConventionImpl"/>
    <component class="org.seasar.dao.impl.BeanEnhancerImpl"/>
#end

    <!-- Common column setup interceptor. -->
    <component name="commonColumnSetupBeforeInsertInterceptor" class="${glPackageBaseCommonInterceptor}.${glCommonColumnSetupBeforeInsertInterceptor}"/>
    <component name="commonColumnSetupBeforeUpdateInterceptor" class="${glPackageBaseCommonInterceptor}.${glCommonColumnSetupBeforeUpdateInterceptor}"/>
    <component name="commonColumnSetupBeforeDeleteInterceptor" class="${glPackageBaseCommonInterceptor}.${glCommonColumnSetupBeforeDeleteInterceptor}"/>

    <!-- Dao selector. -->
    <component name="daoSelector" class="${glPackageBaseCommon}.${glCacheDaoSelectorName}">
        <destroyMethod name="destroy"/>
    </component>

</components>
