${database.allClassCopyright}package ${glPackageBaseCommonDBMetaHierarchyBasic};

#set ($myClassName = "${glHierarchySourceEntityRow}")

/**
 * @author ${database.ClassAuthor}
 */
public class ${myClassName} implements ${glPackageBaseCommonDBMetaHierarchy}.${glHierarchySourceRow} {

    protected Object sourceBean;

    public ${myClassName}(Object sourceBean) {
        this.sourceBean = sourceBean;
    }

    public Object extractColumnValue(${glPackageBaseCommonDBMetaHierarchy}.${glHierarchySourceColumn} columnInfo) {
        if (!(columnInfo instanceof ${glHierarchySourceEntityColumn})) {
            String msg = "The column info should be ${glHierarchySourceEntityColumn}! but: " + columnInfo;
            throw new IllegalStateException(msg);
        }
        final ${glHierarchySourceEntityColumn} sourceEntityColumn = (${glHierarchySourceEntityColumn}) columnInfo;
        return invoke(sourceEntityColumn.findGetter(), sourceBean, new Object[] {});
    }

    private Object invoke(java.lang.reflect.Method method, Object target, Object[] args) {
        try {
            return method.invoke(target, args);
        } catch (java.lang.reflect.InvocationTargetException ex) {
            Throwable t = ex.getCause();
            if (t instanceof RuntimeException) {
                throw (RuntimeException) t;
            }
            if (t instanceof Error) {
                throw (Error) t;
            }
            String msg = "target=" + target + " method=" + method + "-" + java.util.Arrays.asList(args);
            throw new RuntimeException(msg, ex);
        } catch (IllegalAccessException ex) {
            String msg = "target=" + target + " method=" + method + "-" + java.util.Arrays.asList(args);
            throw new RuntimeException(msg, ex);
        }
    }
}