${database.allClassCopyright}package ${myBaseDaoCursolPackageName};

#set ($myClassName = "${myTypeSafeCursolHandlerClassName}")

/**
 * The cursol handler of ${table.name}.
 * 
 * @author ${database.ClassAuthor}
 */${database.outputSuppressWarningsAfterLineSeparator()}
public abstract class ${myClassName} implements ${glCursolHandlerName} {

    public Object handle(java.sql.ResultSet rs) {
        return handle(createTypeSafeResultSet(rs));
    }

    protected ${myTypeSafeResultSetClassName} createTypeSafeResultSet(java.sql.ResultSet rs) {
        return new ${myTypeSafeResultSetClassName}(rs);
    }

    abstract protected Object doHandle(${myTypeSafeResultSetClassName} rs);
}
