${database.allClassCopyright}package ${glPackageBaseCommonCOption};
#set ($myClassName = "${glConditionOptionLikeSearchName}")

import java.util.List;
import java.util.ArrayList;
import java.util.Iterator;

import ${glPackageBaseCommon}.${glDBDef};
import ${glPackageBaseCommonCOptionPartsLocal}.${glConditionOptionPartsAgentJapaneseName};

/**
 * The class of like-search-option.
 * @author ${database.ClassAuthor}
 */
public class ${myClassName} extends ${glConditionOptionSimpleStringName} {

    // ===================================================================================
    //                                                                          Definition
    //                                                                          ==========
    protected static final String LIKE_PREFIX = "prefix";
    protected static final String LIKE_SUFFIX = "suffix";
    protected static final String LIKE_CONTAIN = "contain";

    // ===================================================================================
    //                                                                           Attribute
    //                                                                           =========
    protected String _like;
    protected String _escape;
    protected boolean _asOrSplit;
    protected List<LikeAsOrCallback> _likeAsOrCallbackList;

    // ===================================================================================
    //                                                                         Rear Option
    //                                                                         ===========
    public String getRearOption() {
        if (_escape == null || _escape.trim().length() == 0) {
            return "";
        }
        return " escape '" + _escape + "'";
    }

    // ===================================================================================
    //                                                                                AsOr
    //                                                                                ====
    /** @deprecated */
    public static interface LikeAsOrCallback {
        public String getAdditionalTargetPropertyName();
        public String filterValue(String currentValue);
        public ${myClassName} filterOption(${myClassName} optionDeepCopyWithoutCallback);
    }

	/** @deprecated */
    public static abstract class DefaultLikeAsOrCallback implements LikeAsOrCallback {
        public String filterValue(String currentValue) {
            return currentValue;
        }
        public ${myClassName} filterOption(${myClassName} optionDeepCopyWithoutCallback) {
            return optionDeepCopyWithoutCallback;
        }
    }

    public boolean hasLikeAsOrCallback() {
        return _likeAsOrCallbackList != null && !_likeAsOrCallbackList.isEmpty();
    }
	
    public List<LikeAsOrCallback> getLikeAsOrCallbackList() {
		if (_likeAsOrCallbackList == null) {
		    _likeAsOrCallbackList = new ArrayList<LikeAsOrCallback>();
		}
        return _likeAsOrCallbackList;
    }

	/** 
     * @param likeAsOrCallback Callback.
     * @deprecated
     */
    public void addLikeAsOrCallback(LikeAsOrCallback likeAsOrCallback) {
        getLikeAsOrCallbackList().add(likeAsOrCallback);
    }

    public void clearLikeAsOrCallback() {
        getLikeAsOrCallbackList().clear();
    }

    // ===================================================================================
    //                                                                                Like
    //                                                                                ====
    public ${myClassName} likePrefix() {
        _like = LIKE_PREFIX;
        return this;
    }
    public ${myClassName} likeSuffix() {
        _like = LIKE_SUFFIX;
        return this;
    }
    public ${myClassName} likeContain() {
        _like = LIKE_CONTAIN;
        return this;
    }

    // ===================================================================================
    //                                                                              Escape
    //                                                                              ======
    public ${myClassName} escapeByPipeLine() {
        _escape = "|";
        return this;
    }

    public ${myClassName} escapeByAtMark() {
        _escape = "@";
        return this;
    }

    public ${myClassName} escapeBySlash() {
        _escape = "/";
        return this;
    }

    public ${myClassName} escapeByBackSlash() {
        _escape = "\\";
        return this;
    }

    // ===================================================================================
    //                                                                               Split
    //                                                                               =====
    public ${myClassName} splitBySpace() {
        return (${myClassName})doSplitBySpace();
    }

    public ${myClassName} splitBySpace(int splitLimitCount) {
        return (${myClassName})doSplitBySpace(splitLimitCount);
    }

    public ${myClassName} splitBySpaceContainsDoubleByte() {
        return (${myClassName})doSplitBySpaceContainsDoubleByte();
    }

    public ${myClassName} splitBySpaceContainsDoubleByte(int splitLimitCount) {
        return (${myClassName})doSplitBySpaceContainsDoubleByte(splitLimitCount);
    }

    public ${myClassName} splitByPipeLine() {
        return (${myClassName})doSplitByPipeLine();
    }

    public ${myClassName} splitByPipeLine(int splitLimitCount) {
        return (${myClassName})doSplitByPipeLine(splitLimitCount);
    }
	
	public ${myClassName} asOrSplit() {
	    _asOrSplit = true;
		return this;
	}
	
	public boolean isAsOrSplit() {
	    return _asOrSplit;
	}

    // ===================================================================================
    //                                                                 To Upper/Lower Case
    //                                                                 ===================
    public ${myClassName} toUpperCase() {
        return (${myClassName})doToUpperCase();
    }

    public ${myClassName} toLowerCase() {
        return (${myClassName})doToLowerCase();
    }

    // ===================================================================================
    //                                                                      To Single Byte
    //                                                                      ==============
    public ${myClassName} toSingleByteSpace() {
        return (${myClassName})doToSingleByteSpace();
    }

    public ${myClassName} toSingleByteAlphabetNumber() {
        return (${myClassName})doToSingleByteAlphabetNumber();
    }

    public ${myClassName} toSingleByteAlphabetNumberMark() {
        return (${myClassName})doToSingleByteAlphabetNumberMark();
    }

    // ===================================================================================
    //                                                                      To Double Byte
    //                                                                      ==============

    // ===================================================================================
    //                                                                            Japanese
    //                                                                            ========
    public ${glConditionOptionPartsAgentJapaneseName} localJapanese() {
        return doLocalJapanese();
    }

    // ===================================================================================
    //                                                                          Real Value
    //                                                                          ==========
    public String generateRealValue(String value) {
        value = super.generateRealValue(value);

        // Escape
        if (_escape != null && _escape.trim().length() != 0) {
            String tmp = replace(value, _escape, _escape + _escape);
            tmp = replace(tmp, "%", _escape + "%");
            tmp = replace(tmp, "_", _escape + "_");
            if (${glDBDef}.isCurrentDef(${glDBDef}.Oracle)) {
                tmp = replace(tmp, "\uff05", _escape + "\uff05");
                tmp = replace(tmp, "\uff3f", _escape + "\uff3f");
            }
            value = tmp;
        }
        final String wildCard = "${database.wildCard}";
        if (_like == null || _like.trim().length() == 0) {
            return value;
        } else if (_like.equals(LIKE_PREFIX)) {
            return value + wildCard;
        } else if (_like.equals(LIKE_SUFFIX)) {
            return wildCard + value;
        } else if (_like.equals(LIKE_CONTAIN)) {
            return wildCard + value + wildCard;
        } else {
            String msg = "The like was wrong string: " + _like;
            throw new IllegalStateException(msg);
        }
    }

    // ===================================================================================
    //                                                                            DeepCopy
    //                                                                            ========
    public Object createDeepCopy() {
        final ${myClassName} deepCopy = (${myClassName})super.createDeepCopy();
        deepCopy._like = _like;
        deepCopy._escape = _escape;
		if (hasLikeAsOrCallback()) {
            for (Iterator<LikeAsOrCallback> ite = _likeAsOrCallbackList.iterator(); ite.hasNext(); ) {
                deepCopy.addLikeAsOrCallback((LikeAsOrCallback)ite.next());
            }
		}
        return deepCopy;
    }

    protected ${glConditionOptionSimpleStringName} newDeepCopyInstance() {
        return new ${myClassName}();
    }

    // ===================================================================================
    //                                                                      Basic Override
    //                                                                      ==============
    @Override
    public String toString() {
        return "like=" + _like + ", escape=" + _escape + ", split=" + isSplit() + ", asOrSplit = " + _asOrSplit;  
    }
}
