package ${glPackageBaseCommonInterceptor};

import org.apache.commons.logging.Log;
import org.apache.commons.logging.LogFactory;

import ${glPackageBaseCommon}.${glEntityDefinedCommonColumnInterfaceName};

/**
 * CommonColumn-Setup-before-Delete Interceptor.
 * 
 * @author ${database.ClassAuthor}
 */
public class ${glCommonColumnSetupBeforeDeleteInterceptor} extends ${glCommonColumnSetupAbstractInterceptor} {

    /** Serial version UID. (Default) */
    private static final long serialVersionUID = 1L;

    /** Log-instance. */
    private static final Log _log = LogFactory.getLog(${glCommonColumnSetupBeforeDeleteInterceptor}.class);

    /**
     * Set up the entity.
     * 
     * @param entity Entity. (Nullable)
     */
    protected void setupEntity(${glEntityDefinedCommonColumnInterfaceName} entity) {
        if (_log.isDebugEnabled()) {
            _log.debug("  before setup : " + entity.extractCommonColumnValueMapString());
        }
#foreach ($columnName in ${database.CommonColumnNameList})
  #set ($entityCommonColumnMap = ${database.CommonColumnMap})
  #set ($columnType = ${entityCommonColumnMap.get(${columnName})})
  #set ($javaNative = ${database.convertJavaNativeByJdbcType(${columnType})})
  #set ($javaName = ${database.convertJavaNameByJdbcNameAsColumn(${columnName})})
  #set ($uncapitalisedJavaName = ${database.convertUncapitalisedJavaNameByJdbcNameAsColumn(${columnName})})
  #if (${database.containsValidColumnNameKeyCommonColumnSetupBeforeDeleteInterceptorLogicMap(${columnName})})
    #set ($logic = ${database.getCommonColumnSetupBeforeDeleteInterceptorLogicByColumnName(${columnName})})
    #if ($database.isCommonColumnSetupInvokingLogic($logic))
      #set ($filteredLogic = $database.removeCommonColumnSetupInvokingMark($logic))

        ${filteredLogic}
        if (_log.isDebugEnabled()) {
            _log.debug("    ${columnName} has been set up: invoking=${filteredLogic}");
        }
    #else

        final ${javaNative} ${uncapitalisedJavaName} = ${logic};
        entity.set${javaName}(${uncapitalisedJavaName});
        if (_log.isDebugEnabled()) {
            _log.debug("    ${columnName} has been set up: value=" + ${uncapitalisedJavaName});
        }
    #end
  #end
#end

        if (_log.isDebugEnabled()) {
            _log.debug("  after setup  : " + entity.extractCommonColumnValueMapString());
        }
    }
}