${database.allClassCopyright}package ${glPackageBaseCommonBhvLoad};

import ${glPackageBaseCommon}.${glEntityInterfaceName};
import ${glPackageBaseCommonBhvSetup}.${glConditionBeanSetupperName};
import ${glPackageBaseCommonBhvSetup}.${glEntityListSetupperName};
import ${glPackageBaseCommonCBean}.${glConditionBeanInterfaceName};

/**
 * The class of load referrer option.
 * 
 * ${database.filterGenericsParamOutput('<REFERRER_CONDITION_BEAN>', 'The type of referrer condition-bean.')}
 * ${database.filterGenericsParamOutput('<REFERRER_ENTITY>', 'The type of referrer entity.')}
 * @author ${database.ClassAuthor}
 */
public class ${glLoadRefererOptionName}<REFERRER_CONDITION_BEAN extends ${glConditionBeanInterfaceName}, REFERRER_ENTITY extends ${glEntityInterfaceName}> extends ${glLoadReferrerOptionName}<REFERRER_CONDITION_BEAN, REFERRER_ENTITY> {

    // ===================================================================================
    //                                                                         Constructor
    //                                                                         ===========
    public ${glLoadRefererOptionName}() {
    }

    public ${glLoadRefererOptionName}(${glConditionBeanSetupperName}<REFERRER_CONDITION_BEAN> conditionBeanSetupper) {
        super(conditionBeanSetupper);
    }

    public ${glLoadRefererOptionName}(${glConditionBeanSetupperName}<REFERRER_CONDITION_BEAN> conditionBeanSetupper, ${glEntityListSetupperName}<REFERRER_ENTITY> entityListSetupper) {
        super(conditionBeanSetupper, entityListSetupper);
    }

    public ${glLoadRefererOptionName}(${glLoadReferrerOptionName}<REFERRER_CONDITION_BEAN, REFERRER_ENTITY> option) {
        super(option);
    }

    // ===================================================================================
    //                                                                            Accessor
    //                                                                            ========
    /**
     * @return The condition-bean of referrer.
     * @deprecated Sorry! This methid have typo! Please use getRefererConditionBean().
     */
    public REFERRER_CONDITION_BEAN getReffererConditionBean() {
        return super.getReferrerConditionBean();
    }

    /**
     * @param referrerConditionBean The condition-bean of referrer.
     * @deprecated Sorry! This methid have typo! Please use setReferrerConditionBean().
     */
    public void setReffererConditionBean(REFERRER_CONDITION_BEAN referrerConditionBean) {
        super.setReferrerConditionBean(referrerConditionBean);
    }

    /**
     * @return The condition-bean of referrer.
     */
    public REFERRER_CONDITION_BEAN getRefererConditionBean() {
        return super.getReferrerConditionBean();
    }

    /**
     * @param referrerConditionBean The condition-bean of referrer.
     */
    public void setRefererConditionBean(REFERRER_CONDITION_BEAN referrerConditionBean) {
        super.setReferrerConditionBean(referrerConditionBean);
    }
}
