${database.allClassCopyright}package ${glPackageBaseCommonDBMetaInfo};
#set ($myClassName = "${glForeignInfo}")

import java.util.Arrays;
import java.util.Set;
import java.util.Map;
import java.util.LinkedHashMap;
import java.util.Iterator;

import ${glPackageBaseCommonDBMeta}.${glDBMeta};

/**
 * The information of foreign relation.
 * @author ${database.ClassAuthor}
 */
public class ${myClassName} implements ${glRelationInfo} {

#set ($genericsColumnInfoMap = "${glColumnInfo}, ${glColumnInfo}")
    // ===================================================================================
    //                                                                           Attribute
    //                                                                           =========
    protected final String foreignPropertyName;
    protected final ${glDBMeta} localDBMeta;
    protected final ${glDBMeta} foreignDBMeta;
    protected final Map<${genericsColumnInfoMap}> localForeignColumnInfoMap;
    protected final Map<${genericsColumnInfoMap}> foreignLocalColumnInfoMap;
    protected final int relationNo;
    protected final boolean oneToOne;

    // ===================================================================================
    //                                                                         Constructor
    //                                                                         ===========
    public ${myClassName}(String foreignPropertyName, ${glDBMeta} localDBMeta, ${glDBMeta} foreignDBMeta
                        , Map<${genericsColumnInfoMap}> localForeignColumnInfoMap
                        , int relationNo, boolean oneToOne) {
        this.foreignPropertyName = foreignPropertyName;
        this.localDBMeta = localDBMeta;
        this.foreignDBMeta = foreignDBMeta;
        this.localForeignColumnInfoMap = localForeignColumnInfoMap;
        final Set<${glColumnInfo}> keySet = localForeignColumnInfoMap.keySet();
        foreignLocalColumnInfoMap = new LinkedHashMap<${genericsColumnInfoMap}>();
        for (final Iterator<${glColumnInfo}> ite = keySet.iterator(); ite.hasNext(); ) {
            final ${glColumnInfo} key = ite.next();
            final ${glColumnInfo} value = localForeignColumnInfoMap.get(key);
            foreignLocalColumnInfoMap.put(value, key);
        }
        this.relationNo = relationNo;
        this.oneToOne = oneToOne;
    }

    // ===================================================================================
    //                                                                              Finder
    //                                                                              ======
    public ${glColumnInfo} findLocalByForeign(String foreignColumnDbName) {
        final ${glColumnInfo} keyColumnInfo = foreignDBMeta.findColumnInfo(foreignColumnDbName);
        final ${glColumnInfo} resultColumnInfo = (${glColumnInfo})foreignLocalColumnInfoMap.get(keyColumnInfo);
        if (resultColumnInfo == null) {
            String msg = "Not found by foreignColumnDbName in foreignLocalColumnInfoMap:";
            msg = msg + " foreignColumnDbName=" + foreignColumnDbName + " foreignLocalColumnInfoMap=" + foreignLocalColumnInfoMap;
            throw new IllegalArgumentException(msg);
        }
        return resultColumnInfo;
    }

    // ===================================================================================
    //                                                                             Builder
    //                                                                             =======
    public String buildInitCapPropertyName() {
        return initCap(this.foreignPropertyName);
    }

    // ===================================================================================
    //                                                                              Finder
    //                                                                              ======
    public java.lang.reflect.Method findSetter() {
        return findMethod(localDBMeta.getEntityType(), "set" + buildInitCapPropertyName(), new Class[] { java.util.List.class });
    }

    public java.lang.reflect.Method findGetter() {
        return findMethod(localDBMeta.getEntityType(), "get" + buildInitCapPropertyName(), new Class[] {});
    }

    // ===================================================================================
    //                                                                           Implement
    //                                                                           =========
    public String getRelationPropertyName() {
        return getForeignPropertyName();
    }

    public ${glDBMeta} getTargetDBMeta() {
        return getForeignDBMeta();
    }

    public Map<${genericsColumnInfoMap}> getLocalTargetColumnInfoMap() {
        return getLocalForeignColumnInfoMap();
    }

    public boolean isReferrer() {
        return false;
    }

    // ===================================================================================
    //                                                                            Accessor
    //                                                                            ========
    public String getForeignPropertyName() {
        return foreignPropertyName;
    }

    public ${glDBMeta} getLocalDBMeta() {
        return localDBMeta;
    }

    public ${glDBMeta} getForeignDBMeta() {
        return foreignDBMeta;
    }

    public Map<${genericsColumnInfoMap}> getLocalForeignColumnInfoMap() {
        return localForeignColumnInfoMap;
    }

    public Map<${genericsColumnInfoMap}> getForeignLocalColumnInfoMap() {
        return foreignLocalColumnInfoMap;
    }

    public int getRelationNo() {
        return relationNo;
    }

    public boolean isOneToOne() {
        return oneToOne;
    }

    // ===================================================================================
    //                                                                      General Helper
    //                                                                      ==============
    protected java.lang.reflect.Method findMethod(Class<?> clazz, String methodName, Class<?>[] argTypes) {
        try {
            return clazz.getMethod(methodName, argTypes);
        } catch (NoSuchMethodException ex) {
            String msg = "class=" + clazz + " method=" + methodName + "-" + Arrays.asList(argTypes);
            throw new RuntimeException(msg, ex);
        }
    }
	
    protected String initCap(final String name) {
        return name.substring(0, 1).toUpperCase() + name.substring(1);
    }
}
