${database.allClassCopyright}package ${glPackageBaseCommonDBMetaInfo};

#set ($myClassName = "${glReferrerInfo}")

import ${glPackageBaseCommonDBMeta}.${glDBMeta};

/**
 * The class of referrer information.
 * 
 * @author ${database.ClassAuthor}
 */${database.outputSuppressWarningsAfterLineSeparator()}
public class ${myClassName} implements ${glRelationInfo} {

#set ($genericsColumnInfoMap = "${glColumnInfo}, ${glColumnInfo}")
    // ===================================================================================
    //                                                                           Attribute
    //                                                                           =========
    protected String referrerPropertyName;
    protected ${glDBMeta} localDBMeta;
    protected ${glDBMeta} referrerDBMeta;
    protected java.util.Map${database.filterGenericsString($genericsColumnInfoMap)} localReferrerColumnInfoMap;
    protected java.util.Map${database.filterGenericsString($genericsColumnInfoMap)} referrerLocalColumnInfoMap;
    protected boolean oneToOne;

    // ===================================================================================
    //                                                                              Finder
    //                                                                              ======
    public ${glColumnInfo} findLocalByReferrer(String referrerColumnDbName) {
        final ${glColumnInfo} keyColumnInfo = new ${glColumnInfo}(referrerDBMeta, referrerColumnDbName);
        final ${glColumnInfo} resultColumnInfo = (${glColumnInfo})referrerLocalColumnInfoMap.get(keyColumnInfo);
        if (resultColumnInfo == null) {
            String msg = "Not found by referrerColumnDbName in referrerLocalColumnInfoMap:";
            msg = msg + " referrerColumnDbName=" + referrerColumnDbName + " referrerLocalColumnInfoMap=" + referrerLocalColumnInfoMap;
            throw new IllegalArgumentException(msg);
        }
        return resultColumnInfo;
    }

    public ${glColumnInfo} findReferrerByLocal(String localColumnDbName) {
        final ${glColumnInfo} keyColumnInfo = new ${glColumnInfo}(localDBMeta, localColumnDbName);
        final ${glColumnInfo} resultColumnInfo = (${glColumnInfo})localReferrerColumnInfoMap.get(keyColumnInfo);
        if (resultColumnInfo == null) {
            String msg = "Not found by localColumnDbName in localReferrerColumnInfoMap:";
            msg = msg + " localColumnDbName=" + localColumnDbName + " localReferrerColumnInfoMap=" + localReferrerColumnInfoMap;
            throw new IllegalArgumentException(msg);
        }
        return resultColumnInfo;
    }

    // ===================================================================================
    //                                                                             Builder
    //                                                                             =======
    public String buildInitCapPropertyName() {
        return initCap(this.referrerPropertyName);
    }

    // ===================================================================================
    //                                                                              Finder
    //                                                                              ======
    public java.lang.reflect.Method findSetter() {
        return findMethod(localDBMeta.getEntityType(), "set" + buildInitCapPropertyName(), new Class[] { java.util.List.class });
    }

    public java.lang.reflect.Method findGetter() {
        return findMethod(localDBMeta.getEntityType(), "get" + buildInitCapPropertyName(), new Class[] {});
    }

    // ===================================================================================
    //                                                                           Implement
    //                                                                           =========
    public String getRelationPropertyName() {
        return getReferrerPropertyName();
    }

    public ${glDBMeta} getTargetDBMeta() {
        return getReferrerDBMeta();
    }

    public java.util.Map${database.filterGenericsString($genericsColumnInfoMap)} getLocalTargetColumnInfoMap() {
        return getLocalReferrerColumnInfoMap();
    }

    public boolean isReferrer() {
        return true;
    }

    // ===================================================================================
    //                                                                            Accessor
    //                                                                            ========
    public String getReferrerPropertyName() {
        return referrerPropertyName;
    }

    public void setReferrerPropertyName(String referrerPropertyName) {
        this.referrerPropertyName = referrerPropertyName;
    }

    public ${glDBMeta} getLocalDBMeta() {
        return localDBMeta;
    }

    public void setLocalDBMeta(${glDBMeta} localDBMeta) {
        this.localDBMeta = localDBMeta;
    }

    public ${glDBMeta} getReferrerDBMeta() {
        return referrerDBMeta;
    }

    public void setReferrerDBMeta(${glDBMeta} referrerDBMeta) {
        this.referrerDBMeta = referrerDBMeta;
    }

    public java.util.Map${database.filterGenericsString($genericsColumnInfoMap)} getLocalReferrerColumnInfoMap() {
        return localReferrerColumnInfoMap;
    }

    public void setLocalReferrerColumnInfoMap(java.util.Map${database.filterGenericsString($genericsColumnInfoMap)} localReferrerColumnInfoMap) {
        this.localReferrerColumnInfoMap = localReferrerColumnInfoMap;
        final java.util.Set keySet = localReferrerColumnInfoMap.keySet();
        referrerLocalColumnInfoMap = new java.util.LinkedHashMap${database.filterGenericsString(${genericsColumnInfoMap})}();
        for (final java.util.Iterator ite = keySet.iterator(); ite.hasNext(); ) {
            final ${glColumnInfo} key = (${glColumnInfo})ite.next();
            final ${glColumnInfo} value = (${glColumnInfo})localReferrerColumnInfoMap.get(key);
            referrerLocalColumnInfoMap.put(value, key);
        }
    }

    public java.util.Map${database.filterGenericsString($genericsColumnInfoMap)} getReferrerLocalColumnInfoMap() {
        return referrerLocalColumnInfoMap;
    }

    public boolean isOneToOne() {
        return oneToOne;
    }

    public void setOneToOne(boolean oneToOne) {
        this.oneToOne = oneToOne;
    }

    // ===================================================================================
    //                                                                     Internal Helper
    //                                                                     ===============
    protected String initCap(final String name) {
        return name.substring(0, 1).toUpperCase() + name.substring(1);
    }

    protected java.lang.reflect.Method findMethod(Class clazz, String methodName, Class[] argTypes) {
        try {
            return clazz.getMethod(methodName, argTypes);
        } catch (NoSuchMethodException ex) {
            String msg = "class=" + clazz + " method=" + methodName + "-" + java.util.Arrays.asList(argTypes);
            throw new RuntimeException(msg, ex);
        }
    }
}
