${database.allClassCopyright}package ${glPackageBaseCommonDBMetaInfo};

#set ($myClassName = "${glRelationInfoName}")

import ${glPackageBaseCommonDBMeta}.${glDBMetaInterfaceName};

/**
 * The class of referer information.
 * 
 * @author ${database.ClassAuthor}
 */
public interface ${myClassName} {

    public String getRelationPropertyName();

    public ${glDBMetaInterfaceName} getLocalDBMeta();

    public ${glDBMetaInterfaceName} getTargetDBMeta();

    public java.util.Map${database.filterGenericsString('String, String')} getLocalTargetColumnMap();

    public boolean isOneToOne();

    public boolean isReferer();
}
