${database.allClassCopyright}package ${glPackageBaseCommonDBMetaInfo};
#set ($myClassName = "${glUniqueInfo}")

import java.util.List;
import java.util.Iterator;

import ${glPackageBaseCommonDBMeta}.${glDBMeta};

/**
 * The information of unique.
 * @author ${database.ClassAuthor}
 */
public class ${myClassName} {

    // ===================================================================================
    //                                                                           Attribute
    //                                                                           =========
    protected final ${glDBMeta} dbmeta;
    protected final List<${glColumnInfo}> uniqueColumnList;
    protected final boolean primary;

    // ===================================================================================
    //                                                                         Constructor
    //                                                                         ===========
    public ${myClassName}(${glDBMeta} dbmeta, List<${glColumnInfo}> uniqueColumnList, boolean primary) {
        this.dbmeta = dbmeta;
        this.uniqueColumnList = uniqueColumnList;
        this.primary = primary;
    }

    // ===================================================================================
    //                                                                         Easy-to-Use
    //                                                                         ===========
    public boolean containsColumn(String columnName) {
        for (final Iterator<${glColumnInfo}> ite = uniqueColumnList.iterator(); ite.hasNext(); ) {
            final ${glColumnInfo} columnInfo = (${glColumnInfo})ite.next();
            if (columnInfo.getColumnDbName().equals(columnName)) {
                return true;
            }
        }
        return false;
    }

    public boolean containsColumn(${glColumnInfo} column) {
        return containsColumn(column.getColumnDbName());
    }

    // ===================================================================================
    //                                                                            Accessor
    //                                                                            ========
    public ${glDBMeta} getDBMeta() {
        return dbmeta;
    }

    public List<${glColumnInfo}> getUniqueColumnList() {
        return uniqueColumnList;
    }

    public ${glColumnInfo} getFirstColumn() {
        return (${glColumnInfo})this.uniqueColumnList.get(0);
    }

    public boolean isTwoOrMore() {
        return this.uniqueColumnList.size() > 1;
    }

    public boolean isPrimary() {
        return this.primary;
    }
}
