${database.allClassCopyright}package ${glPackageBaseCommonDBMetaInfo};

#set ($myClassName = "${glUniqueInfo}")

import ${glPackageBaseCommonDBMeta}.${glDBMeta};

/**
 * The class of unique info.
 * 
 * @author ${database.ClassAuthor}
 */${database.outputSuppressWarningsAfterLineSeparator()}
public class ${myClassName} {

    // ===================================================================================
    //                                                                           Attribute
    //                                                                           =========
    protected ${glDBMeta} dbmeta;
    protected java.util.List${database.filterGenericsString(${glColumnInfo})} uniqueColumnList = new java.util.ArrayList${database.filterGenericsString(${glColumnInfo})}();
    protected boolean primary;

    // ===================================================================================
    //                                                                         Easy-to-Use
    //                                                                         ===========
    public boolean containsColumn(String columnName) {
        for (final java.util.Iterator ite = uniqueColumnList.iterator(); ite.hasNext(); ) {
            final ${glColumnInfo} columnInfo = (${glColumnInfo})ite.next();
            if (columnInfo.getColumnDbName().equals(columnName)) {
                return true;
            }
        }
        return false;
    }

    public boolean containsColumn(${glColumnInfo} column) {
        return containsColumn(column.getColumnDbName());
    }

    // ===================================================================================
    //                                                                            Accessor
    //                                                                            ========
    public ${glDBMeta} getDBMeta() {
        return dbmeta;
    }

    public void setDBMeta(${glDBMeta} dbmeta) {
        this.dbmeta = dbmeta;
    }

    public java.util.List${database.filterGenericsString(${glColumnInfo})} getUniqueColumnList() {
        return uniqueColumnList;
    }

    public void addUniqueColumnList(${glColumnInfo} uniqueColumn) {
        this.uniqueColumnList.add(uniqueColumn);
    }

    public ${glColumnInfo} getFirstColumn() {
        return (${glColumnInfo})this.uniqueColumnList.get(0);
    }

    public boolean isTwoOrMore() {
        return this.uniqueColumnList.size() > 1;
    }

    public boolean isPrimary() {
        return this.primary;
    }

    public void setPrimary(boolean primary) {
        this.primary = primary;
    }
}
