${database.allClassCopyright}package ${glPackageBaseCommonSqlClause};

import ${glPackageBaseCommonCBean}.${glConditionBean};

/**
 * The creator of SQL clause.
 * @author ${database.ClassAuthor}
 */
public interface ${glSqlClauseCreator} {

	/**
	 * Create SQL clause. {for condition-bean}
	 * @param cb Condition-bean. (NotNull) 
	 * @return SQL clause. (NotNull)
	 */
    public ${glSqlClause} createSqlClause(${glConditionBean} cb);

	/**
	 * Create SQL clause.
	 * @param tableDbName The DB name of table. (NotNull) 
	 * @return SQL clause. (NotNull)
	 */
    public ${glSqlClause} createSqlClause(String tableDbName);
}
