package ${glPackageBaseCommonSqlClause};

#set ($myClassName = "${glSqlClauseInterfaceName}H2")

/**
 * SqlClause for H2.
 * 
 * @author ${database.ClassAuthor}
 */
public class ${myClassName} extends ${glSqlClauseAbstractName} {

    /** String of fetch-scope as sql-suffix. */
    protected String _fetchScopeSqlSuffix = "";

    /** String of lock as sql-suffix. */
    protected String _lockSqlSuffix = "";

    /**
     * Constructor.
     * <p>
     * @param tableName Table name. (NotNull)
     **/
    public ${myClassName}(String tableName) {
        super(tableName);
    }

    /**
     * ${database.ImplementComment}
     */
    protected void doFetchFirst() {
        doFetchPage();
    }

    /**
     * ${database.ImplementComment}
     */
    protected void doFetchPage() {
        _fetchScopeSqlSuffix = " limit " + getFetchSize() + " offset " + getPageStartIndex();
    }

    /**
     * ${database.ImplementComment}
     */
    protected void doClearFetchPageClause() {
        _fetchScopeSqlSuffix = "";
    }

    /**
     * ${database.ImplementComment}
     * 
     * @return this. (NotNull)
     */
    public ${glSqlClauseInterfaceName} lockForUpdate() {
        _lockSqlSuffix = " for update";
        return this;
    }

    /**
     * ${database.ImplementComment}
     * 
     * @return Select-hint. (NotNull)
     */
    protected String createSelectHint() {
        return "";
    }

    /**
     * ${database.ImplementComment}
     * 
     * @return From-base-table-hint. {select * from table [from-base-table-hint] where ...} (NotNull)
     */
    protected String createFromBaseTableHint() {
        return "";
    }

    /**
     * ${database.ImplementComment}
     * 
     * @return From-hint. (NotNull)
     */
    protected String createFromHint() {
        return "";
    }

    /**
     * ${database.ImplementComment}
     * 
     * @return Sql-suffix. (NotNull)
     */
    protected String createSqlSuffix() {
        return _fetchScopeSqlSuffix + _lockSqlSuffix;
    }
}
