${database.allClassCopyright}package ${glPackageBaseCommonS2DaoInternalSqlCommand};

import javax.sql.DataSource;

import org.seasar.extension.jdbc.StatementFactory;
import org.seasar.dao.BeanMetaData;

import ${glPackageBaseCommonS2DaoInternalSqlHandler}.${glInternalAbstractBatchAutoHandler};

/**
 * @author ${database.ClassAuthor}
 */
public abstract class ${glInternalAbstractBatchAutoStaticCommand} extends ${glInternalAbstractAutoStaticCommand} {

	// ===================================================================================
    //                                                                           Attribute
    //                                                                           =========
    protected final boolean returningRows;

	// ===================================================================================
    //                                                                         Constructor
    //                                                                         ===========
    public ${glInternalAbstractBatchAutoStaticCommand}(DataSource dataSource,
            StatementFactory statementFactory, BeanMetaData beanMetaData,
            String[] propertyNames, boolean returningRows) {
        this(dataSource, statementFactory, beanMetaData, propertyNames, returningRows, DEFAULT_VERSION_NO_AUTO_INCREMENT_ON_MEMORY);
    }

    public ${glInternalAbstractBatchAutoStaticCommand}(DataSource dataSource,
            StatementFactory statementFactory, BeanMetaData beanMetaData,
            String[] propertyNames, boolean returningRows, boolean versionNoAutoIncrementOnMemory) {
        super(dataSource, statementFactory, beanMetaData, propertyNames, versionNoAutoIncrementOnMemory);
        this.returningRows = returningRows;
    }

	// ===================================================================================
    //                                                                             Execute
    //                                                                             =======
    public Object execute(Object[] args) {
        final ${glInternalAbstractBatchAutoHandler} handler = createBatchAutoHandler();
        
		// It is unnecessary!
		// injectDaoClass(handler);
        
		handler.setSql(getSql());
        if (this.returningRows) {
            return handler.executeBatch(args);
        } else {
            final int updatedRows = handler.execute(args);
            return new Integer(updatedRows);
        }
    }
	
    protected abstract ${glInternalAbstractBatchAutoHandler} createBatchAutoHandler();
}
