${database.allClassCopyright}package ${glPackageBaseCommonBhvSetup};

import java.util.List;

import ${glPackageBaseCommon}.${glEntityInterfaceName};

/**
 * The interface of entity list setupper.
 * @param <ENTITY> The type of entity.
 * @author ${database.ClassAuthor}
 */
public interface ${glEntityListSetupperName}<ENTITY extends ${glEntityInterfaceName}> {

    /**
     * Set up the list of entity.
     * @param entityList The list of entity. (NotNull)
     */
    public void setup(List<ENTITY> entityList);
}
