${database.allClassCopyright}package ${glPackageBaseCommonBhvSetup};

/**
 * The class of Value-Label Box.
 * 
 * @author ${database.ClassAuthor}
 */
public class ${glValueLabelBoxName} {

    protected Object _value;

    protected String _label;

    public void setValueLabel(Object value, String label) {
        this._value = value;
        this._label = label;
    }

    public Object getValue() {
        return _value;
    }

    public String getLabel() {
        return _label;
    }
}
