# /---------------------------------------------------------------------------
# [Additional Foreign Key] (NotRequired - Default 'map:{}')
#
#   If foreign key does not exist in your database,
#   you can set up here as virtual foreign key for DBFlute.
#
#   And it's one-to-one relation if you add one fixed condition to 'many' table, 
#   you can set virtual foreign key with fixedCondition and fixedSuffix.
#
#    ex) map:{
#            ; FK_MEMBER_MEMBER_STATUS_CODE = map:{
#                ; localTableName  = MEMBER             ; foreignTableName  = MEMBER_STATUS
#                ; localColumnName = MEMBER_STATUS_CODE ; foreignColumnName = MEMBER_STATUS_CODE
#            }
#            ; FK_PURCHASE_MEMBER_ID = map:{
#                ; localTableName  = PURCHASE  ; foreignTableName  = MEMBER
#                ; localColumnName = MEMBER_ID ; foreignColumnName = MEMBER_ID
#            }
#            ; FK_MEMBER_MEMBER_ADDRESS_VALID = map:{
#                ; localTableName  = MEMBER    ; foreignTableName  = MEMBER_ADDRESS
#                ; localColumnName = MEMBER_ID ; foreignColumnName = MEMBER_ID
#                ; fixedCondition = 
#             $$foreignAlias$$.VALID_BEGIN_DATE <= /*targetDate(Date)*/null
#         and $$foreignAlias$$.VALID_END_DATE >= /*targetDate(Date)*/null 
#                ; fixedSuffix = AsValid
#            }
#        }
#
map:{
    ; FK_SUMMARY_PRODUCT_PRODUCT_STATUS = map:{
        ; localTableName  = SUMMARY_PRODUCT     ; foreignTableName  = PRODUCT_STATUS
        ; localColumnName = PRODUCT_STATUS_CODE ; foreignColumnName  = PRODUCT_STATUS_CODE
    }
    ; FK_PURCHASE_SUMMARY_PRODUCT = map:{
        ; localTableName  = PURCHASE   ; foreignTableName  = SUMMARY_PRODUCT
        ; localColumnName = PRODUCT_ID ; foreignColumnName  = PRODUCT_ID
    }
    ; FK_MEMBER_MEMBER_ADDRESS_VALID = map:{
        ; localTableName  = MEMBER    ; foreignTableName  = MEMBER_ADDRESS
        ; localColumnName = MEMBER_ID ; foreignColumnName = MEMBER_ID
        ; fixedCondition = 
     $$foreignAlias$$.VALID_BEGIN_DATE <= /*targetDate(Date)*/null
 and $$foreignAlias$$.VALID_END_DATE >= /*targetDate(Date)*/null
        ; fixedSuffix = AsValid
    }
}
# ----------------/