# /---------------------------------------------------------------------------
# [Additional Table]
#   additionalTableMap: (NotRequired - Default 'map:{}')
# 
#   This property is valid at only JDBC task.
#   The size and primaryKey and autoIncrement of column is NOT required. 
#      
#   map: {
#       [table-name] = map:{
#           columnMap = map:{
#               [column-name] = map:{
#                   type = [column-JDBC-type] ; required = [true or false]
#                   ; size = [column-size]
#                   ; primaryKey = [true or false] ; autoIncrement = [true or false]
#               }
#               [column-name] = map:{
#                   type = [column-JDBC-type] ; required = [true or false]
#                   ; size = [column-size]
#               }
#           }
#       }
#   }
#
map:{
    ; vendor_additional_table = map:{
        ; columnMap = map:{
            test_id = map:{ type = INTEGER ; required = true ; primaryKey = true ; autoIncrement = true}
            test_name = map:{ type = VARCHAR ; required = true ; size = 123 }
        }
    }
}
# ----------------/


