# /---------------------------------------------------------------------------
# classificationDeploymentMap: (NotRequired - Default 'map:{}')
# 
# Example:
# map:{
#     ; $$ALL$$       = map:{suffix:_FLG=Flg}
#     ; MEMBER        = map:{MEMBER_STATUS_CODE=MemberStatus}
#     ; MEMBER_STATUS = map:{MEMBER_STATUS_CODE=MemberStatus}
# }
#
map:{
    ; $$ALL$$       = map:{suffix:_FLG=Flg}
    ; MEMBER        = map:{MEMBER_STATUS_CODE=MemberStatus}
    ; MEMBER_STATUS = map:{MEMBER_STATUS_CODE=MemberStatus}
}
# ----------------/

