# /---------------------------------------------------------------------------
# [Document Definition]
#   documentDefinitionMap: (NotRequired - Default 'map:{}')
#
#     ex) map:{
#             ; aliasDelimiterInDbComment = :
#             ; entityJavaDocDbCommentValid = true
#         }
#
map:{
    ; aliasDelimiterInDbComment = :
    # ; entityJavaDocDbCommentValid = true
    # ; dataXlsTemplateRecordLimit = 10
}
# ----------------/