# /---------------------------------------------------------------------------
# documentDefinitionMap: (NotRequired - Default 'map:{}')
#
# Example:
# map:{
#     ; aliasDelimiterInDbComment = :
#     ; entityJavaDocDbCommentValid = true
# }
#
map:{
    #; aliasDelimiterInDbComment = :
    #; entityJavaDocDbCommentValid = true
    #; dataXlsTemplateRecordLimit = 10
    #; dataXlsTemplateContainsCommonColumn = false
}
# ----------------/