# /---------------------------------------------------------------------------
# [Include Query] (NotRequired - Default 'map:{}')
#
map:{
    ; String = map:{
        ; GreaterThan = map:{}
        ; LessThan = map:{}
        ; GreaterEqual = map:{}
        ; LessEqual = map:{}
    }
    ; Number = map:{
    }
    ; Date = map:{
        ; NotEqual = map:{}
    }
}
# ----------------/