# /---------------------------------------------------------------------------
# [OutsideSql Definition]
#
map:{
    ; generateProcedureParameterBean = true
    # ; targetProcedureList = list:{prefix:SP_}
}
# ----------------/

