# /---------------------------------------------------------------------------
# replaceSchemaDefinitionMap: (Default 'map:{}')
#
# Various settings about replace-schema.
# 
# Example:
# map:{
#     ; dataLoadingType = ut
#     ; loggingInsertSql = true
#     # /- - - - - - - - - - - - - - - - - - - - - - - - - -
#     # You can specify the skip sheet by regular expression
#     # - - - - - - - - - -/
#     #; skipSheet = P.+
#     # /- - - - - - - - - - - - - - - - - - - - - - - - - -
#     # You can specify the filter variables for DDL.
#     # - - - - - - - - - -/
#     #; filterVariablesMap = map:{abc=AAA}
# }
#
# *The line that starts with '#' means comment-out.
#
map:{
    ; dataLoadingType = ut
    ; loggingInsertSql = true
    # /- - - - - - - - - - - - - - - - - - - - - - - - - -
    # You can specify the skip sheet by regular expression
    # - - - - - - - - - -/
    #; skipSheet = P.+
    # /- - - - - - - - - - - - - - - - - - - - - - - - - -
    # You can specify the filter variables for DDL.
    # - - - - - - - - - -/
    #; filterVariablesMap = map:{abc=AAA}
}
# ----------------/