# /---------------------------------------------------------------------------
# [Sql Log Registry] (NotRequired - Default 'map:{}')
#
map:{
    ; valid = true
    ; limitSize = 5
}
# ----------------/