${database.allClassCopyright}package ${glPackageBaseCommon};

import ${glPackageBaseCommonBhv}.${glBehaviorReadableInterfaceName};

/**
 * The interface of behavior-selector.
 * @author ${database.ClassAuthor}
 */
public interface ${glBehaviorSelectorInterfaceName} {

    /**
     * Initialize condition-bean meta data.
     */
    public void initializeConditionBeanMetaData();
	
    /**
     * Select behavior.
	 * @param <BEHAVIOR_TYPE> The type of behavior.
     * @param behaviorType Behavior type. (NotNull)
     * @return Behavior. (NotNull)
     */
    public <BEHAVIOR_TYPE extends ${glBehaviorReadableInterfaceName}> BEHAVIOR_TYPE select(Class<BEHAVIOR_TYPE> behaviorType);

    /**
     * Select behavior-readable.
     * @param tableFlexibleName Table flexible-name. (NotNull)
     * @return Behavior-readable. (NotNull)
     */
    public ${glBehaviorReadableInterfaceName} byName(String tableFlexibleName);
}
