${database.allClassCopyright}package ${glPackageBaseCommon};

/**
 * The definition of Buri.
 * @author ${database.ClassAuthor}
 */
public class ${glBuriDef} {
#foreach ($packageName in $database.getBuriPackageList())
#set ($count = 0)
#set ($processList = $database.getBuriProcessList($packageName))
#foreach ($processName in $processList)
#set ($statusList = $database.getBuriStatusList($packageName, $processName))
    public enum ${packageName}_${processName}_Status {
#set ($count = 0)
#foreach ($statusName in $statusList)
#if ($count != 0)
        ,
#end
        $database.initCap(${statusName})
#set ($count = $count + 1)
#end
        ;
        public static String path() {
            return "${packageName}.${processName}";
        }
    }
#end
#foreach ($processName in $processList)
#set ($actionList = $database.getBuriStatusList($packageName, $processName))
    public enum ${packageName}_${processName}_Action {
#set ($count = 0)
#foreach ($actionName in $actionList)
#if ($count != 0)
        ,
#end
        $database.initCap(${actionName})
#set ($count = $count + 1)
#end
        ;
    }
#end
#end
}
