${database.allClassCopyright}package ${glPackageBaseCommon};

import java.util.HashMap;
import java.util.Map;

/**
 * The definition of Buri.
 * @author ${database.ClassAuthor}
 */
public class ${glBuriDef} {
#foreach ($packageName in $database.getBuriPackageList())
#set ($count = 0)
#set ($processList = $database.getBuriProcessList($packageName))
#foreach ($processName in $processList)
#set ($statusList = $database.getBuriStatusList($packageName, $processName))

    public enum ${packageName}_${processName}_Status {
#set ($count = 0)
#foreach ($statusName in $statusList)
#if ($count != 0)
        ,
#end
        $database.initCap(${statusName})("${statusName}")
#set ($count = $count + 1)
#end
        ;
        private static final Map<String, ${packageName}_${processName}_Status> _codeValueMap = new HashMap<String, ${packageName}_${processName}_Status>();
        static { for (${packageName}_${processName}_Status value : values()) { _codeValueMap.put(value.code().toLowerCase(), value); } }
        private String _code;
        private ${packageName}_${processName}_Status(String code) {
            _code = code;
        }
        public String code() {
            return _code;
        }
        public String fullPath() {
            return basePath() + "." + _code;
        }
        public static String basePath() {
            return "${packageName}.${processName}";
        }
        public static ${packageName}_${processName}_Status codeOf(Object code) {
            if (code == null) { return null; }
            final String codeStr = code.toString();
            if (codeStr.contains(".")) {
                final int beginIndex = codeStr.lastIndexOf(".") + ".".length();
                return _codeValueMap.get(codeStr.substring(beginIndex));
            } else {
                return _codeValueMap.get(codeStr);
            }
        }
        @Override
        public String toString() {
            return fullPath();
        }
    }
#end
#foreach ($processName in $processList)
#set ($actionList = $database.getBuriActionList($packageName, $processName))

    public enum ${packageName}_${processName}_Action {
#set ($count = 0)
#foreach ($actionName in $actionList)
#if ($count != 0)
        ,
#end
        $database.initCap(${actionName})("${actionName}")
#set ($count = $count + 1)
#end
        ;
        private static final Map<String, ${packageName}_${processName}_Action> _codeValueMap = new HashMap<String, ${packageName}_${processName}_Action>();
        static { for (${packageName}_${processName}_Status value : values()) { _codeValueMap.put(value.code().toLowerCase(), value); } }
        private String _code;
        private ${packageName}_${processName}_Action(String code) {
            _code = code;
        }
        public String code() {
            return _code;
        }
        public String fullPath() {
            return basePath() + "." + _code;
        }
        private static String basePath() {
            return "${packageName}.${processName}";
        }
        public static ${packageName}_${processName}_Action codeOf(Object code) {
            if (code == null) { return null; }
            final String codeStr = code.toString();
            if (codeStr.contains(".")) {
                final int beginIndex = codeStr.lastIndexOf(".") + ".".length();
                return _codeValueMap.get(codeStr.substring(beginIndex));
            } else {
                return _codeValueMap.get(codeStr);
            }
        }
        @Override
        public String toString() {
            return fullPath();
        }
    }
#end
#end
}
