${database.allClassCopyright}package ${glPackageBaseCommon};
#set ($myClassName = "${glClassificationDefinition}")

import java.util.Collections;
import java.util.List;
import java.util.ArrayList;
import java.util.Map;
import java.util.LinkedHashMap;
import java.util.Iterator;

/**
 * The definition class that has classification.
 * 
 * @author ${database.ClassAuthor}
 */${database.outputSuppressWarningsAfterLineSeparator()}
public class ${myClassName} {

    // ===================================================================================
    //                                                                 Classification Code
    //                                                                 ===================
#foreach ($classificationName in $database.ClassificationNameList)
  #set ($classificationMapList = $database.ClassificationDefinitionMap.get($classificationName))
  #set ($existTop = false)
  #if ($database.classificationTopDefinitionMap.containsKey($classificationName))
    #set ($classificationTopMap = $database.classificationTopDefinitionMap.get($classificationName))
    #set ($existTop = true)
  #else
    #set ($existTop = false)
  #end

    // /- - - - - - - - - - - - - - - - - - - - - - - - - -
    // [${classificationName}]
#if ($existTop && $classificationTopMap.containsKey('topComment'))
    // $classificationTopMap.get('topComment')
#end
    // - - - - - - - - - -/
#if ($existTop && $classificationTopMap.containsKey('topCode'))

    /**
     * The classification TOP code of ${classificationName}. <br />
#if ($classificationTopMap.containsKey('topComment'))
     * $classificationTopMap.get('topComment') <br />
#end
     */
    public static final String ${database.classificationTopCodeVariableNamePrefix}${classificationName} = "$classificationTopMap.get('topCode')";
#end
#foreach ($classificationMap in $classificationMapList)

    /**
     * The classification code of ${classificationMap.get('name')} on ${classificationName}. <br />
#if ($classificationMap.containsKey('comment'))
     * ${classificationMap.get('comment')} <br />
#end
     */
    public static final String ${database.classificationCodeVariableNamePrefix}${classificationName}_${classificationMap.get('name')} = "$classificationMap.get('code')";
#end
#end

    // ===================================================================================
    //                                                          Classification CodeNameMap
    //                                                          ==========================
#foreach ($classificationName in $database.ClassificationNameListValidNameOnly)
#set ($classificationMapList = $database.ClassificationDefinitionMap.get($classificationName))

    /** The classification code-name map of ${classificationName}. */
    public static final Map<String, String> CODE_NAME_MAP_${classificationName};
    static {
        final Map<String, String> map = new LinkedHashMap<String, String>();
#foreach ($classificationMap in $classificationMapList)
        map.put(${database.classificationCodeVariableNamePrefix}${classificationName}_${classificationMap.get('name')}, "${classificationMap.get('name')}");
#end

        CODE_NAME_MAP_${classificationName} = Collections.unmodifiableMap(map);
    }
#end

#foreach ($classificationName in $database.ClassificationNameListValidAliasOnly)
#set ($classificationMapList = $database.ClassificationDefinitionMap.get($classificationName))

    /** The classification code-alias map of ${classificationName}. */
    public static final Map<String, String> CODE_ALIAS_MAP_${classificationName};
    static {
        final Map<String, String> map = new LinkedHashMap<String, String>();
#foreach ($classificationMap in $classificationMapList)
        map.put(${database.classificationCodeVariableNamePrefix}${classificationName}_${classificationMap.get('name')}, "${classificationMap.get('alias')}");
#end

        CODE_ALIAS_MAP_${classificationName} = Collections.unmodifiableMap(map);
    }
#end


    // ===================================================================================
    //                                                       Classification ValueLabelList
    //                                                       =============================
#foreach ($classificationName in $database.ClassificationNameListValidNameOnly)
  #set ($classificationMapList = $database.ClassificationDefinitionMap.get($classificationName))

    /** The classification code-name map of ${classificationName}. */
    public static final List<Map<String, String>> VALUE_LABEL_NAME_LIST_${classificationName};
    static {
        final List<Map<String, String>> list = new ArrayList<Map<String, String>>();
#foreach ($classificationMap in $classificationMapList)
        setupValueLabelElement(list, ${database.classificationCodeVariableNamePrefix}${classificationName}_${classificationMap.get('name')}, "${classificationMap.get('name')}");
#end

        VALUE_LABEL_NAME_LIST_${classificationName} = Collections.unmodifiableList(list);
    }
    public static List<Map<String, String>> createValueLabelNameList${classificationName}() {
        return setupValueLabelList(VALUE_LABEL_NAME_LIST_${classificationName});
    }
#end
#foreach ($classificationName in $database.ClassificationNameListValidAliasOnly)
  #set ($classificationMapList = $database.ClassificationDefinitionMap.get($classificationName))

    /** The classification code-name map of ${classificationName}. */
    public static final List<Map<String, String>> VALUE_LABEL_ALIAS_LIST_${classificationName};
    static {
        final List<Map<String, String>> list = new ArrayList<Map<String, String>>();
#foreach ($classificationMap in $classificationMapList)
        setupValueLabelElement(list, ${database.classificationCodeVariableNamePrefix}${classificationName}_${classificationMap.get('name')}, "${classificationMap.get('alias')}");
#end

        VALUE_LABEL_ALIAS_LIST_${classificationName} = Collections.unmodifiableList(list);
    }
    public static List<Map<String, String>> createValueLabelAliasList${classificationName}() {
        return setupValueLabelList(VALUE_LABEL_ALIAS_LIST_${classificationName});
    }
#end

    // ===================================================================================
    //                                                                              Helper
    //                                                                              ======
    protected static List<Map<String, String>> setupValueLabelList(List<Map<String, String>> ls) {
        final List<Map<String, String>> newList = new ArrayList<Map<String, String>>();
        for (final Iterator ite = ls.iterator(); ite.hasNext(); ) {
            final Map<String, String> map = (Map<String, String>)ite.next();
            final Map<String, String> newMap = new LinkedHashMap<String, String>(map);
            newList.add(newMap);
        }
        return newList;
    }

    protected static void setupValueLabelElement(List<Map<String, String>> ls, String value, String label) {
        final Map<String, String> map = new LinkedHashMap<String, String>();
        map.put("value", value);
        map.put("label", label);
        ls.add(Collections.unmodifiableMap(map));
    }
}
