${database.allClassCopyright}package ${glPackageBaseCommon};

/**
 * The interface of dao-readable.
 * 
 * @author ${database.ClassAuthor}
 */
public interface ${glDaoReadableInterfaceName} {
    // [Developer's comment] (2006/06/08)
    // It cannot be done for the convenience of s2dao though I want to define methods for condition-bean here.
    // DTO argument as Interface is not accepted.
}
