${database.allClassCopyright}package ${glPackageBaseCommon};

/**
 * @author ${database.ClassAuthor}
 */
public class ${glQLog} {

    // ===================================================================================
    //                                                                          Definition
    //                                                                          ==========
    /** Log instance. */
    private static final org.apache.commons.logging.Log _log = org.apache.commons.logging.LogFactory.getLog(${glQLog}.class);

    // ===================================================================================
    //                                                                             Logging
    //                                                                             =======
	public static void log(String sql) {
	    if (_log.isDebugEnabled()) {
	        _log.debug(sql);
		}
	}
}
