${database.allClassCopyright}package ${glPackageBaseCommonBhvCore};

import ${glPackageBaseCommon}.${glDBDef};
import ${glPackageBaseCommonDBMeta}.${glDBMeta};
import ${glPackageBaseCommonDBMeta}.${glDBMetaProvider};
import ${glPackageBaseCommonSqlClause}.${glSqlClauseCreator};

/**
 * The context of resource.
 * @author ${database.ClassAuthor}
 */
public class ${glResourceContext} {

    // ===================================================================================
    //                                                                        Thread Local
    //                                                                        ============
    /** The thread-local for this. */
    private static final ThreadLocal<${glResourceContext}> threadLocal = new ThreadLocal<${glResourceContext}>();

    /**
     * Get the context of resource by the key.
     * @return The context of resource. (Nullable)
     */
    public static ${glResourceContext} getResourceContextOnThread() {
        return threadLocal.get();
    }

    /**
     * Set the context of resource.
     * @param resourceCountext The context of resource. (NotNull)
     */
    public static void setResourceContextOnThread(${glResourceContext} resourceCountext) {
        threadLocal.set(resourceCountext);
    }

    /**
     * Is existing the context of resource on thread?
     * @return Determination.
     */
    public static boolean isExistResourceContextOnThread() {
        return (threadLocal.get() != null);
    }

    /**
     * Clear the context of resource on thread.
     */
    public static void clearResourceContextOnThread() {
        threadLocal.set(null);
    }

    // ===================================================================================
    //                                                                         Easy-to-Use
    //                                                                         ===========
    /**
     * @return The current database definition. (NotNull)
     */
    public static ${glDBDef} currentDBDef() {
        if (!isExistResourceContextOnThread()) {
            return ${glDBDef}.Unknown;
        }
        ${glDBDef} currentDBDef = getResourceContextOnThread().getCurrentDBDef();
        if (currentDBDef == null) {
            return ${glDBDef}.Unknown;
        }
        return currentDBDef;
    }

    public static boolean isCurrentDBDef(${glDBDef} targetDBDef) {
        return currentDBDef().equals(targetDBDef);
    }

    /**
     * @param tableFlexibleName The flexible name of table. (NotNull)
     * @return The instance of DB meta. (Nullable)
     */
    public static ${glDBMeta} provideDBMeta(String tableFlexibleName) {
        if (!isExistResourceContextOnThread()) {
            return null;
        }
        ${glDBMetaProvider} provider = getResourceContextOnThread().getDBMetaProvider();
        if (provider == null) {
            return null;
        }
        return provider.provideDBMeta(tableFlexibleName);
    }

    /**
     * Is the SQLException from unique constraint? {Use both SQLState and ErrorCode}
     * @param sqlState SQLState of the SQLException. (Nullable)
     * @param errorCode ErrorCode of the SQLException. (Nullable)
     * @return Is the SQLException from unique constraint?
     */
    public static boolean isUniqueConstraintException(String sqlState, Integer errorCode) {
        if (!isExistResourceContextOnThread()) {
            return false;
        }
        ${glSqlClauseCreator} sqlClauseCreator = getResourceContextOnThread().getSqlClauseCreator();
        if (sqlClauseCreator == null) {
            return false;
        }
        return sqlClauseCreator.createSqlClause("dummy").isUniqueConstraintException(sqlState, errorCode);
    }
    
    public static String getOutsideSqlPackage() {
        ${glResourceParameter} resourceParameter = resourceParameter();
        if (resourceParameter == null) {
            return null;
        }
        return resourceParameter.getOutsideSqlPackage();
    }
    
    public static String getLogDateFormat() {
        ${glResourceParameter} resourceParameter = resourceParameter();
        if (resourceParameter == null) {
            return null;
        }
        return resourceParameter.getLogDateFormat();
    }
    
    public static String getLogTimestampFormat() {
        ${glResourceParameter} resourceParameter = resourceParameter();
        if (resourceParameter == null) {
            return null;
        }
        return resourceParameter.getLogTimestampFormat();
    }
    
    protected static ${glResourceParameter} resourceParameter() {
        if (!isExistResourceContextOnThread()) {
            return null;
        }
        ${glResourceParameter} resourceParameter = getResourceContextOnThread().getResourceParameter();
        if (resourceParameter == null) {
            return null;
        }
        return resourceParameter;
    }

    // ===================================================================================
    //                                                                           Attribute
    //                                                                           =========
    protected ${glDBDef} _currentDBDef;
    protected ${glDBMetaProvider} _dbmetaProvider;
    protected ${glSqlClauseCreator} _sqlClauseCreator;
    protected ${glResourceParameter} _resourceParameter;

    // ===================================================================================
    //                                                                            Accessor
    //                                                                            ========
    public ${glDBDef} getCurrentDBDef() {
        return _currentDBDef;
    }

    public void setCurrentDBDef(${glDBDef} currentDBDef) {
        _currentDBDef = currentDBDef;
    }

    public ${glDBMetaProvider} getDBMetaProvider() {
        return _dbmetaProvider;
    }

    public void setDBMetaProvider(${glDBMetaProvider} dbmetaProvider) {
        _dbmetaProvider = dbmetaProvider;
    }

    public ${glSqlClauseCreator} getSqlClauseCreator() {
        return _sqlClauseCreator;
    }

    public void setSqlClauseCreator(${glSqlClauseCreator} sqlClauseCreator) {
        _sqlClauseCreator = sqlClauseCreator;
    }

    public ${glResourceParameter} getResourceParameter() {
        return _resourceParameter;
    }

    public void setResourceParameter(${glResourceParameter} resourceParameter) {
        _resourceParameter = resourceParameter;
    }
}
