${database.allClassCopyright}package ${glPackageBaseCommonCOptionPartsLocal};

#set ($myClassName = "${glConditionOptionPartsAgentJapaneseName}")

import ${glPackageBaseCommonHelperCharacter}.${glJapaneseCharacterName};
import ${glPackageBaseCommonHelperCharacterImpl}.${glJapaneseCharacterImplName};

/**
 * The class of condition-option-parts-agent.
 * 
 * @author ${database.ClassAuthor}
 */
public class ${myClassName} {

    // =====================================================================================
    //                                                                             Attribute
    //                                                                             =========
    protected boolean _toDoubleByteKatakana;
    protected boolean _removeLastLongVowel;
    private ${glJapaneseCharacterName} _japaneseCharacter;

    // =====================================================================================
    //                                                                                  Main
    //                                                                                  ====
    public boolean isToDoubleByteKatakana() {
        return _toDoubleByteKatakana;
    }

    public void toDoubleByteKatakana() {
        _toDoubleByteKatakana = true;
    }

    public boolean isRemoveLastLongVowel() {
        return _removeLastLongVowel;
    }
    public void removeLastLongVowel() {
        _removeLastLongVowel = true;
    }

    // =====================================================================================
    //                                                                            Real Value
    //                                                                            ==========
    public String generateRealValue(String value) {
        if (value == null || value.trim().length() == 0) {
            String msg = "The argument[value] should not be null.";
            throw new IllegalArgumentException(msg);
        }

        // To Double Byte
        if (_toDoubleByteKatakana) {
            value = getJapaneseCharacter().toDoubleByteKatakana(value);
        }

        // Remove
        if (_removeLastLongVowel) {
            if (value != null && value.endsWith("\u30fc")) {
                value = value.substring(0, value.length() - "\u30fc".length());
            }
        }
        return value;
    }

    // =====================================================================================
    //                                                                                Helper
    //                                                                                ======
    protected ${glJapaneseCharacterName} getJapaneseCharacter() {
        if (_japaneseCharacter == null) {
            _japaneseCharacter = new ${glJapaneseCharacterImplName}();
        }
        return _japaneseCharacter;
    }

    // =====================================================================================
    //                                                                              DeepCopy
    //                                                                              ========
    public Object createDeepCopy() {
        final ${myClassName} deepCopy = new ${myClassName}();
        deepCopy._toDoubleByteKatakana = _toDoubleByteKatakana;
        deepCopy._removeLastLongVowel = _removeLastLongVowel;
        return deepCopy;
    }
}
