${database.allClassCopyright}package ${myExtendedDaoPackageName};

#set ($myClassName = "${myExtendedDaoClassName}")

/**
 * The dao interface of ${table.name}. <br />
 * You can implement your original methods here. <br />
 * This class is NOT overrided when re-generating. <br />
 * 
 * @author ${database.ClassAuthor}
 */${database.outputSuppressWarningsAfterLineSeparator()}
public interface ${myClassName} extends ${myBaseDaoPackageName}.${myBaseDaoClassName} {
}
