${database.allClassCopyright}package ${myExtendedBaoPackageName};
#set ($myClassName = "${myExtendedBaoClassName}")

import ${myBaseBaoPackageName}.${myBaseBaoClassName};

/**
 * The entity of ${table.name}.
 * <p>
 * You can implement your original methods here.
 * This class is NOT overrided when re-generating.
 * </p>
 * @author ${database.ClassAuthor}
 */
public interface ${myClassName} extends ${myBaseBaoClassName} {
}
