#
# @since DBFlute-0.9.0
#
#set ($database = $schemaData.database)
$database.enableDocumentOutputDirectory()

#if ($outputFormat=="html")
  #set ($outFile = "${schemaData.name}.html")
#else
  #set ($outFile = "${schemaData.name}.xml")
#end

File to be created: $outFile

## - - - - - - - - - - - -
## Initialize properties.
## - - - - - - - - - - - -
$database.initializeVersion(90)
$database.initializeAdditionalPrimaryKey()
$database.initializeAdditionalUniqueKey()
$database.initializeAdditionalForeignKey()
$database.initializeClassificationDeployment()

$generator.parse("doc/$outputFormat/datamodel.vm", $outFile, "dataModel", $dataModel)
