${database.allClassCopyright}package ${glPackageBaseCommonBhvCoreCommand};

import java.sql.ResultSet;
import java.sql.SQLException;

import org.seasar.extension.jdbc.ResultSetHandler;

import ${glPackageBaseCommonBhvCore}.${glSqlExecution};
import ${glPackageBaseCommonBhvCore}.${glSqlExecutionCreator};

/**
 * @author ${database.ClassAuthor}
 */
public class ${glSelectCountCBCommand} extends ${glAbstractSelectCBCommand}<Integer> {

    // ===================================================================================
    //                                                                   Basic Information
    //                                                                   =================
    public String getCommandName() {
        return "selectCount";
    }

    public Class<?> getCommandReturnType() {
        return Integer.class;
    }

    // ===================================================================================
    //                                                                  Detail Information
    //                                                                  ==================
    public boolean isSelectCount() {
        return true;
    }

    // ===================================================================================
    //                                                               SqlExecution Handling
    //                                                               =====================
    public ${glSqlExecutionCreator} createSqlExecutionCreator() {
        assertStatus("createSqlExecutionCreator");
        return new ${glSqlExecutionCreator}() {
            public ${glSqlExecution} createSqlExecution() {
                ResultSetHandler handler = new InternalCountResultSetHandler();
                return createSelectCBExecution(_conditionBeanType, handler);
            }
        };
    }

    protected static class InternalCountResultSetHandler implements ResultSetHandler {
        public Object handle(ResultSet rs) throws SQLException {
            if (rs.next()) {
                return rs.getInt(1);
            }
            return null;
        }
    }
}
