package ${glPackageBaseCommonS2Dao};

import java.sql.PreparedStatement;
import java.sql.ResultSet;

import org.apache.commons.logging.Log;
import org.apache.commons.logging.LogFactory;

import org.seasar.extension.jdbc.ResultSetFactory;
import org.seasar.framework.util.PreparedStatementUtil;

import ${glPackageBaseCommonCBean}.${glFetchNarrowingBeanInterfaceName};
import ${glPackageBaseCommonCBean}.${glFetchNarrowingBeanContextName};

/**
 * Fetch page result set factory.
 * 
 * @author ${database.ClassAuthor}
 */
public class ${glFetchNarrowingResultSetFactory} implements ResultSetFactory {

    /** Log-instance. */
    private static final Log _log = LogFactory.getLog(${glFetchNarrowingResultSetFactory}.class);

    /** Is internal-debug enabled? */
    private boolean _isInternalDebugEnabled = false;

    /**
     * Constructor.
     */
    public ${glFetchNarrowingResultSetFactory}() {
    }

    /**
     * Create result set.
     * 
     * @param ps Prepared statement.
     * @return Result set. (NotNull)
     */
    public ResultSet createResultSet(PreparedStatement ps) {
        if (_isInternalDebugEnabled) {
            if (_log.isDebugEnabled()) {
                _log.debug("executeQuery(ps) ps=" + ps);
            }
        }
        final ResultSet resultSet = PreparedStatementUtil.executeQuery(ps);

        if (!${glFetchNarrowingBeanContextName}.isExistFetchNarrowingBeanOnThread()) {
            return resultSet;
        }

        final ${glFetchNarrowingBeanInterfaceName} ${glAttachedCBArgsVariableName} = ${glFetchNarrowingBeanContextName}.getFetchNarrowingBeanOnThread();
        if (!${glAttachedCBArgsVariableName}.isFetchNarrowingEffective()) {
            return resultSet;// It is not necessary to control.
        }
        if (!${glAttachedCBArgsVariableName}.isFetchNarrowingSkipStartIndexEffective() && !${glAttachedCBArgsVariableName}.isFetchNarrowingLoopCountEffective()) {
            return resultSet;// It is not necessary to control. The sql already have been controlled.
        }

        if (_isInternalDebugEnabled) {
            if (_log.isDebugEnabled()) {
                _log.debug("Necessary to control fetch-narrowing! ${glAttachedCBArgsVariableName}=" + ${glAttachedCBArgsVariableName});
            }
        }
        return new ${glFetchNarrowingResultSetWrapper}(resultSet, ${glAttachedCBArgsVariableName});
    }
}
