${database.allClassCopyright}package ${glPackageBaseCommonS2Dao};

import java.lang.reflect.Method;
import java.lang.reflect.ParameterizedType;
import java.lang.reflect.Type;
import java.sql.Connection;
import java.sql.DatabaseMetaData;
import java.sql.SQLException;
import java.sql.Statement;
import java.util.List;

import javax.sql.DataSource;

import org.seasar.dao.BeanEnhancer;
import org.seasar.dao.BeanMetaData;
import org.seasar.dao.BeanMetaDataFactory;
import org.seasar.dao.ColumnNaming;
import org.seasar.dao.PropertyTypeFactoryBuilder;
import org.seasar.dao.RelationPropertyTypeFactoryBuilder;
import org.seasar.dao.RelationRowCreator;
import org.seasar.dao.RowCreator;
import org.seasar.dao.SqlCommand;
import org.seasar.dao.TableNaming;
import org.seasar.dao.dbms.DbmsManager;
import org.seasar.dao.impl.BeanMetaDataImpl;
import org.seasar.dao.impl.DaoMetaDataImpl;
import org.seasar.dao.impl.ResultSetHandlerFactoryImpl;
import org.seasar.dao.impl.SelectDynamicCommand;
import org.seasar.dao.impl.UpdateAutoStaticCommand;
import org.seasar.extension.jdbc.ResultSetHandler;
import org.seasar.extension.jdbc.StatementFactory;
import org.seasar.extension.jdbc.types.ValueTypes;
import org.seasar.framework.beans.MethodNotFoundRuntimeException;
import org.seasar.framework.beans.factory.BeanDescFactory;
import org.seasar.framework.util.MethodUtil;

import ${glPackageBaseCommon}.${glBehaviorSelectorInterfaceName};
import ${glPackageBaseCommon}.${glEntityInterfaceName};
import ${glPackageBaseCommonAnnotation}.${glOutsideSqlAnnotation};
import ${glPackageBaseCommonCBean}.${glConditionBeanInterfaceName};
import ${glPackageBaseCommonCBean}.${glConditionBeanContextName};
import ${glPackageBaseCommonDBMeta}.${glDBMetaInterfaceName};
import ${glPackageBaseCommonJdbc}.${glCursorHandlerName};
import ${glPackageBaseCommonS2DaoInternalRsHandler}.${glInternalBeanListMetaDataResultSetHandler};
import ${glPackageBaseCommonS2DaoInternalRsHandler}.${glInternalBeanArrayMetaDataResultSetHandler};
import ${glPackageBaseCommonS2DaoInternalSqlCommand}.${glInternalDeleteAutoStaticCommand};
import ${glPackageBaseCommonS2DaoInternalSqlCommand}.${glInternalDeleteBatchAutoStaticCommand};
import ${glPackageBaseCommonS2DaoInternalSqlCommand}.${glInternalDeleteQueryAutoDynamicCommand};
import ${glPackageBaseCommonS2DaoInternalSqlCommand}.${glInternalInsertAutoDynamicCommand};
import ${glPackageBaseCommonS2DaoInternalSqlCommand}.${glInternalInsertBatchAutoStaticCommand};
import ${glPackageBaseCommonS2DaoInternalSqlCommand}.${glInternalUpdateAutoDynamicCommand};
import ${glPackageBaseCommonS2DaoInternalSqlCommand}.${glInternalUpdateBatchAutoStaticCommand};
import ${glPackageBaseCommonS2DaoInternalSqlCommand}.${glInternalUpdateDynamicCommand};
import ${glPackageBaseCommonS2DaoInternalSqlCommand}.${glInternalUpdateModifiedOnlyCommand};
import ${glPackageBaseCommonS2DaoInternalSqlCommand}.${glInternalUpdateQueryAutoDynamicCommand};
import ${glPackageBaseCommonS2DaoInternalSqlHandler}.${glInternalBasicHandler}.SQLExceptionHandler;
import ${glPackageBaseCommonS2DaoInternalVarious}.${glInternalRowCreator};
import ${glPackageBaseCommonS2DaoInternalVarious}.${glInternalRelationRowCreator};
import ${glPackageBaseCommonUtil}.${glSimpleSystemUtil};

/**
 * The extension of DaoMetaDataImpl for DBFlute.
 * @author ${database.ClassAuthor}
 */${database.outputSuppressWarningsAfterLineSeparator()}
public class ${glDaoMetaDataExtension} extends DaoMetaDataImpl {

    // ===================================================================================
    //                                                                          Definition
    //                                                                          ==========
    /** Log instance. */
    private static final org.apache.commons.logging.Log _log = org.apache.commons.logging.LogFactory.getLog(${glDaoMetaDataExtension}.class);
    
    // ===================================================================================
    //                                                                           Attribute
    //                                                                           =========
    /** Bean enhancer. */
    protected BeanEnhancer beanEnhancer;

    /** The factory of annotation reader. */
    protected org.seasar.dao.AnnotationReaderFactory annotationReaderFactory;

    /** The naming of column. {After S2Dao-1.0.47} */
    protected ColumnNaming columnNaming;

    /** The builder of property type factory. {After S2Dao-1.0.47} */
    protected PropertyTypeFactoryBuilder propertyTypeFactoryBuilder;

    /** The builder of relation property type factory. {After S2Dao-1.0.47} */
    protected RelationPropertyTypeFactoryBuilder relationPropertyTypeFactoryBuilder;

    /** The builder of table naming. {After S2Dao-1.0.47} */
    protected TableNaming tableNaming;

    // -----------------------------------------------------
    //                                     DBFlute Extension
    //                                     -----------------
    /** The selector of behavior. {Since DBFlute-0.7.1} */
    protected ${glBehaviorSelectorInterfaceName} _behaviorSelector;
    
    /** The lock monitor of method initialization. */
    protected Object _methodInitializationLockMonitor = new Object();
    
    /** The determination of internal debug. {Since DBFlute-0.6.2} */
    protected boolean _internalDebug;
    
    // ===================================================================================
    //                                                                         Constructor
    //                                                                         ===========
    public ${glDaoMetaDataExtension}() {
    }

    // ===================================================================================
    //                                                                 Initialize Override
    //                                                                 ===================
    @Override
    public void initialize() {
        beanClass = daoAnnotationReader.getBeanClass();
        daoInterface = getDaoInterface(daoClass);
        daoBeanDesc = BeanDescFactory.getBeanDesc(daoClass);
        final Connection conn = getConnection();// It is first impact to Database!
        try {
            final DatabaseMetaData dbMetaData = getMetaData(conn);
            dbms = DbmsManager.getDbms(getDatabaseProductName(dbMetaData));
        } finally {
            close(conn);
        }
        this.beanMetaData = beanMetaDataFactory.createBeanMetaData(daoInterface, beanClass);
        checkSingleRowUpdateForAll = daoAnnotationReader.isCheckSingleRowUpdate();

        // Comment out for lazy-load!
        // setupSqlCommand();
    }

    // ===================================================================================
    //                                                           SqlCommand Setup Override
    //                                                           =========================
    @Override
    public SqlCommand getSqlCommand(String methodName) throws MethodNotFoundRuntimeException {
        SqlCommand cmd = (SqlCommand) sqlCommands.get(methodName);
        if (cmd != null) {
            return cmd;
        }
        synchronized (_methodInitializationLockMonitor) {
            cmd = (SqlCommand) sqlCommands.get(methodName);
            if (cmd != null) {
                if (_log.isDebugEnabled()) {
                    _log.debug("...Getting sqlCommand as cache because the previous thread have already initilized.");
                }
                return cmd;
            }
            if (_log.isDebugEnabled()) {
                _log.debug("...Initializing sqlCommand for " + methodName + "().");
            }
            cmd = initializeSqlCommand(methodName);
        }
        return cmd;
    }

    protected SqlCommand initializeSqlCommand(String methodName) throws MethodNotFoundRuntimeException {
        final Method[] methods = daoBeanDesc.getMethods(methodName);
        if (methods.length == 1 && MethodUtil.isAbstract(methods[0])) {
            setupMethod(methods[0]);
        }
        final SqlCommand cmd = (SqlCommand) sqlCommands.get(methodName);
        if (cmd != null) {
            return cmd;
        }
        throw new MethodNotFoundRuntimeException(daoClass, methodName, null);
    }

    // ===================================================================================
    //                                                                     Assert Override
    //                                                                     ===============
    @Override
    protected void setupMethodByAnnotation(Class daoInterface, Method method) {
        final String sql = daoAnnotationReader.getSQL(method, dbms.getSuffix());
        if (isInternalSelectMethodEntityForBuri(method)) {
            assertSQLAnnotationRequiredForBuri(method, sql);
        } else {
            assertSQLAnnotationUnsupported(method, sql);
        }
        super.setupMethodByAnnotation(daoInterface, method);
    }

    protected boolean isInternalSelectMethodEntityForBuri(final Method method) { // For Buri
        return "getEntity".equals(method.getName());
    }

    protected void assertSQLAnnotationRequiredForBuri(final Method method, String sql) {
        if (sql == null) {
            throwGetEntityMethodForBuriNotFoundSQLAnnotationException(method, sql);
        }
    }

    protected void throwGetEntityMethodForBuriNotFoundSQLAnnotationException(final Method method, String sql) {
        String msg = "Look! Read the message below." + getLineSeparator();
        msg = msg + "/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *" + getLineSeparator();
        msg = msg + "The method of getEntity() for Buri should have the SQL annotation!" + getLineSeparator();
        msg = msg + getLineSeparator();
        msg = msg + "[Advice]" + getLineSeparator();
        msg = msg + "The method of getEntity() is for Buri." + getLineSeparator();
        msg = msg + "Don't use the method name at your extended DAO interface!" + getLineSeparator();
        msg = msg + getLineSeparator();
        msg = msg + "[Method]" + getLineSeparator() + method + getLineSeparator();
        msg = msg + getLineSeparator();
        msg = msg + "[SQL]" + getLineSeparator() + sql + getLineSeparator();
        msg = msg + "* * * * * * * * * */";
        throw new IllegalStateException(msg);
    }

    protected void assertSQLAnnotationUnsupported(final Method method, String sql) {
        if (sql != null) {
            throwS2DaoSQLAnnotationUnsupportedException(method, sql);
        }
    }

    protected void throwS2DaoSQLAnnotationUnsupportedException(final Method method, String sql) {
        String msg = "Look! Read the message below." + getLineSeparator();
        msg = msg + "/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *" + getLineSeparator();
        msg = msg + "Sorry, the SQL annotation of S2Dao is unsupported on DBFlute!" + getLineSeparator();
        msg = msg + getLineSeparator();
        msg = msg + "[Advice]" + getLineSeparator();
        msg = msg + "Please use outside-sql of behavior." + getLineSeparator();
        msg = msg + "  For example:" + getLineSeparator();
        msg = msg + "    memberBhv.outsideSql().selectList(...)" + getLineSeparator();
        msg = msg + getLineSeparator();
        msg = msg + "If you've got to use it, you can set the property:" + getLineSeparator();
        msg = msg + "{torque.isCompatibleS2DaoSQLAnnotationValid = true}" + getLineSeparator();
        msg = msg + "But pay attention to version up of DBFlute" + getLineSeparator();
        msg = msg + " because the property will not always supported at the future." + getLineSeparator();
        msg = msg + getLineSeparator();
        msg = msg + "[Method]" + getLineSeparator() + method + getLineSeparator();
        msg = msg + getLineSeparator();
        msg = msg + "[SQL]" + getLineSeparator() + sql + getLineSeparator();
        msg = msg + "* * * * * * * * * */";
#if ($database.isCompatibleS2DaoSQLAnnotationValid())
        _log.debug(msg);
#else
        throw new UnsupportedOperationException(msg);
#end
    }

    @Override
    protected void setupMethodByAuto(Method method) {
        final ${glOutsideSqlAnnotation} outsideSql = method.getAnnotation(${glOutsideSqlAnnotation}.class);
        if (outsideSql != null) {
            String msg = "This method '" + method.getName() + "()' should use Outside Sql but the file was not found!";
            msg = msg + " Expected sql file name is '" + method.getDeclaringClass().getSimpleName() + "_" + method.getName() + ".sql'";
            throw new IllegalStateException(msg);
        }
        super.setupMethodByAuto(method);
    }

    // ===================================================================================
    //                                                              ConditionBean Override
    //                                                              ======================
    @Override
    protected void setupSelectMethodByAuto(final Method method) {
        if (setupInternalSelectMethodSequenceNextVal(method)) { // For sequence
            return;
        }
        if (setupInternalSelectMethodEntityByIdsForBuri(method)) { // For Buri
            return;
        }

        // Assert unsupported
        final String query = daoAnnotationReader.getQuery(method);
        assertQueryAnnotationUnsupported(method, query);
        final String[] argNames = daoAnnotationReader.getArgNames(method);
        assertAutoQueryByArgsAnnotationUnsupported(method, argNames);

        // Here it is the only method that the argument is DTO.
        final ResultSetHandler handler = createResultSetHandler(method);
        final SqlCommand cmd = setupInternalNonQuerySelectMethodByDto(method, handler);

        putSqlCommand(method.getName(), cmd);
    }

    protected boolean setupInternalSelectMethodSequenceNextVal(final Method method) { // For sequence
        if (!"selectNextVal".equals(method.getName())) {
            return false;
        }
        final ${glDBMetaInterfaceName} dbmeta = findDBMeta();
        if (!dbmeta.hasSequence()) {
            String msg = "If the method 'selectNextVal()' exists, DBMeta.hasSequence() should return true:";
            msg = msg + " dbmeta.hasSequence()=" + dbmeta.hasSequence() + " method=" + method;
            throw new IllegalStateException(msg);
        }
        final String nextValSql = dbmeta.getSequenceNextValSql();
        if (nextValSql == null) {
            String msg = "If the method 'selectNextVal()' exists, DBMeta.getSequenceNextValSql() should not return null:";
            msg = msg + " dbmeta.getSequenceNextValSql()=" + dbmeta.getSequenceNextValSql() + " method=" + method;
            throw new IllegalStateException(msg);
        }
        setupSelectMethodByManual(method, nextValSql);
        return true;
    }

    protected boolean setupInternalSelectMethodEntityByIdsForBuri(final Method method) { // For Buri
        if (!"getEntityByIds".equals(method.getName())) {
            return false;
        }
        final ResultSetHandler handler = createResultSetHandler(method);
        final String[] argNames = daoAnnotationReader.getArgNames(method);
        final String query = daoAnnotationReader.getQuery(method);
        if (query == null) {
            String msg = "The method 'getEntityByIds()' should have QUERY annotation:";
            msg = msg + " method=" + method;
            throw new IllegalStateException(msg);
        }
        final Class[] types = method.getParameterTypes();
        final SelectDynamicCommand cmd = createSelectDynamicCommand(handler, query);
        cmd.setArgNames(argNames);
        cmd.setArgTypes(types);
        putSqlCommand(method.getName(), cmd);
        return true;
    }

    protected void assertQueryAnnotationUnsupported(final Method method, String query) {
        if (query != null) {
            String msg = "Sorry! The QUERY annotation of S2Dao is unsupported on DBFlute:";
            msg = msg + " query=" + query + " method=" + method;
            throw new UnsupportedOperationException(msg);
        }
    }

    protected void assertAutoQueryByArgsAnnotationUnsupported(final Method method, String[] argNames) {
        if (!isAutoSelectSqlByDto(method, argNames)) {
            String msg = "Sorry! The auto query by ARGS annotation of S2Dao is unsupported on DBFlute:";
            msg = msg + " argNames=" + argNames + " method=" + method;
            throw new UnsupportedOperationException(msg);
        }
    }

    // For condition-bean!
    protected SqlCommand setupInternalNonQuerySelectMethodByDto(Method method, ResultSetHandler handler) {
        final Class[] argTypes = method.getParameterTypes();
        assertAutoQueryByDtoUnsupported(method, argTypes);
        final ${glSelectDynamicCommand} cmd = createCustomizeSelectDynamicCommand(handler);
        cmd.setArgNames(new String[] { "dto" });
        cmd.setArgTypes(argTypes);
        return cmd;
    }

    protected void assertAutoQueryByDtoUnsupported(final Method method, Class[] argTypes) {
        final Class firstArgType = argTypes[0];
        if (!${glConditionBeanContextName}.isTheTypeConditionBean(firstArgType)) {
            String msg = "Sorry! The auto query by DTO of S2Dao is unsupported on DBFlute:";
            msg = msg + " dto=" + firstArgType + " method=" + method;
            throw new UnsupportedOperationException(msg);
        }
    }

    // ===================================================================================
    //                                       Insert and Update and Delete By Auto Override
    //                                       =============================================
    // -----------------------------------------------------
    //                                                Insert
    //                                                ------
    @Override
    protected void setupInsertMethodByAuto(final Method method) {
        checkAutoUpdateMethod(method);
#if ($database.isAvailableNonPrimaryKeyWritable())
        if (setupInternalNonPrimaryInsertMethodByAuto(method)) {
            return;
        }
#end
        final String[] propertyNames = getPersistentPropertyNames(method);
        final SqlCommand command;
        if (isUpdateSignatureForBean(method)) {
            final ${glInternalInsertAutoDynamicCommand} cmd = new ${glInternalInsertAutoDynamicCommand}();
            cmd.setBeanMetaData(getBeanMetaData());
            cmd.setDataSource(dataSource);
            cmd.setPropertyNames(propertyNames);
            cmd.setStatementFactory(statementFactory);
            command = cmd;
        } else {
            // The static command is set up at constructor so all properties is specified at constructor.
            command = new ${glInternalInsertBatchAutoStaticCommand}(dataSource, statementFactory, getBeanMetaData(), propertyNames);
        }
        putSqlCommand(method.getName(), command);
    }
#if ($database.isAvailableNonPrimaryKeyWritable())

    /**
     * @param method The target method. (NotNull)
     * @return Whether the method is target. (For example if it has primary key, returns false.)
     */
    protected boolean setupInternalNonPrimaryInsertMethodByAuto(final Method method) {
        checkAutoUpdateMethod(method);
        final ${glDBMetaInterfaceName} dbmeta = findDBMeta();
        if (dbmeta.hasPrimaryKey()) {
            return false;
        }
        final List<${glPackageBaseCommonDBMetaInfo}.${glColumnInfoName}> columnInfoList = dbmeta.getColumnInfoList();
        final StringBuilder columnDefSb = new StringBuilder();
        for (${glPackageBaseCommonDBMetaInfo}.${glColumnInfoName} columnInfo : columnInfoList) {
            columnDefSb.append(", ").append(columnInfo.getColumnDbName());
        }
        columnDefSb.delete(0, ", ".length()).insert(0, "(").append(")");
        final StringBuilder columnValuesSb = new StringBuilder();
        for (${glPackageBaseCommonDBMetaInfo}.${glColumnInfoName} columnInfo : columnInfoList) {
            columnValuesSb.append(", /*dto.").append(columnInfo.getPropertyName()).append("*/null");
        }
        columnValuesSb.delete(0, ", ".length()).insert(0, "(").append(")");
        final String sql = "insert into " + dbmeta.getTableSqlName() + columnDefSb + " values" + columnValuesSb;
        final ${glInternalUpdateDynamicCommand} cmd = new ${glInternalUpdateDynamicCommand}(dataSource, statementFactory);
        registerSqlCommand(method.getName(), method, sql, new String[]{"dto"}, method.getParameterTypes(), cmd);
        setupUpdateMethodByManual(method, sql); // It's S2Dao plain method.
        return true;
    }
#end

    // -----------------------------------------------------
    //                                                Update
    //                                                ------
    @Override
    protected void setupUpdateMethodByAuto(final Method method) {
        if (isFirstArgumentConditionBean(method)) {
            final SqlCommand cmd = new ${glInternalUpdateQueryAutoDynamicCommand}(dataSource, statementFactory);
            putSqlCommand(method.getName(), cmd);
            return;
        }
        checkAutoUpdateMethod(method);
        final String[] propertyNames = getPersistentPropertyNames(method);
        SqlCommand cmd;
        if (isUpdateSignatureForBean(method)) {
            if (isUnlessNull(method.getName())) {
                cmd = createInternalUpdateAutoDynamicCommand(method, propertyNames);
            } else if (isModifiedOnly(method.getName())) {
                cmd = createInternalUpdateModifiedOnlyCommand(method, propertyNames);
            } else {
                cmd = createInternalUpdateAutoStaticCommand(method, propertyNames);
            }
        } else {
            cmd = createInternalUpdateBatchAutoStaticCommand(method, propertyNames);
        }
        putSqlCommand(method.getName(), cmd);
    }

    protected UpdateAutoStaticCommand createInternalUpdateAutoStaticCommand(final Method method, final String[] propertyNames) {
        final UpdateAutoStaticCommand cmd = new UpdateAutoStaticCommand(dataSource, statementFactory, beanMetaData, propertyNames);
        cmd.setCheckSingleRowUpdate(isCheckSingleRowUpdate(method));
        return cmd; // [Unused on DBFlute]
    }
    
    protected ${glInternalUpdateAutoDynamicCommand} createInternalUpdateAutoDynamicCommand(Method method, String[] propertyNames) {
        final ${glInternalUpdateAutoDynamicCommand} cmd = newUpdateAutoDynamicCommand(method, dataSource, statementFactory);
        cmd.setBeanMetaData(getBeanMetaData());// Extension Point!
        cmd.setPropertyNames(propertyNames);
        cmd.setOptimisticLockHandling(isOptimisticLockHandling(method));
        cmd.setVersionNoAutoIncrementOnMemory(isUpdateVersionNoAutoIncrementOnMemory(method));
        return cmd;
    }

    protected ${glInternalUpdateAutoDynamicCommand} newUpdateAutoDynamicCommand(Method method, DataSource ds, StatementFactory sf) {
        return new ${glInternalUpdateAutoDynamicCommand}(ds, sf);
    }

    protected ${glInternalUpdateModifiedOnlyCommand} createInternalUpdateModifiedOnlyCommand(final Method method, final String[] propertyNames) {
        final ${glInternalUpdateModifiedOnlyCommand} cmd = newInternalUpdateModifiedOnlyCommand(method, dataSource, statementFactory);
        cmd.setBeanMetaData(getBeanMetaData());
        cmd.setPropertyNames(propertyNames);
        cmd.setOptimisticLockHandling(isOptimisticLockHandling(method));
        cmd.setVersionNoAutoIncrementOnMemory(isUpdateVersionNoAutoIncrementOnMemory(method));
        return cmd;
    }

    protected ${glInternalUpdateModifiedOnlyCommand} newInternalUpdateModifiedOnlyCommand(Method method, DataSource ds, StatementFactory sf) {
        return new ${glInternalUpdateModifiedOnlyCommand}(ds, sf);
    }

    protected ${glInternalUpdateBatchAutoStaticCommand} createInternalUpdateBatchAutoStaticCommand(final Method method, final String[] propertyNames) {
        // The static command is set up at constructor so all properties is specified at constructor.
        final ${glInternalUpdateBatchAutoStaticCommand} cmd = new ${glInternalUpdateBatchAutoStaticCommand}(dataSource, statementFactory
                                                      , getBeanMetaData(), propertyNames
                                                      , isOptimisticLockHandling(method)
                                                      , isUpdateVersionNoAutoIncrementOnMemory(method));
        return cmd;
    }

    // -----------------------------------------------------
    //                                                Delete
    //                                                ------
    @Override
    protected void setupDeleteMethodByAuto(final Method method) {
        if (isFirstArgumentConditionBean(method)) {
            final SqlCommand cmd = new ${glInternalDeleteQueryAutoDynamicCommand}(dataSource, statementFactory);
            putSqlCommand(method.getName(), cmd);
            return;
        }
        checkAutoUpdateMethod(method);
        final String[] propertyNames = getPersistentPropertyNames(method);
        final SqlCommand cmd;
        if (isUpdateSignatureForBean(method)) {
            cmd = createInternalDeleteAutoStaticCommand(method, propertyNames);
        } else {
            cmd = createInternalDeleteBatchAutoStaticCommand(method, propertyNames);
        }
        putSqlCommand(method.getName(), cmd);
    }

    protected ${glInternalDeleteAutoStaticCommand} createInternalDeleteAutoStaticCommand(final Method method, final String[] propertyNames) {
        // The static command is set up at constructor so all properties is specified at constructor.
        return new ${glInternalDeleteAutoStaticCommand}(dataSource, statementFactory, getBeanMetaData(), propertyNames, isOptimisticLockHandling(method));
    }

    protected ${glInternalDeleteBatchAutoStaticCommand} createInternalDeleteBatchAutoStaticCommand(final Method method, final String[] propertyNames) {
        // The static command is set up at constructor so all properties is specified at constructor.
        return new ${glInternalDeleteBatchAutoStaticCommand}(dataSource, statementFactory, getBeanMetaData(), propertyNames, isOptimisticLockHandling(method));
    }

    // -----------------------------------------------------
    //                                         Common Helper
    //                                         -------------
    protected boolean isUpdateVersionNoAutoIncrementOnMemory(Method method) {
        return !isNonstrictMethod(method);
    }

    protected boolean isOptimisticLockHandling(Method method) {
        return !isNonstrictMethod(method);
    }

    protected boolean isNonstrictMethod(Method method) {
        return method.getName().contains("Nonstrict");
    }

    protected boolean isFirstArgumentConditionBean(final Method method) {
        final Class<?>[] pmbTypes = method.getParameterTypes();
        return pmbTypes.length > 0 && ${glConditionBeanInterfaceName}.class.isAssignableFrom(pmbTypes[0]);
    }

    // ===================================================================================
    //                                                                 OutsideSql Override
    //                                                                 ===================
    // -----------------------------------------------------
    //                                Traditional OutsideSql
    //                                ----------------------
    @Override
    protected void setupSelectMethodByManual(Method method, String sql) {
        final Class<?>[] pmbTypes = method.getParameterTypes();
        final String[] argNames = this.daoAnnotationReader.getArgNames(method);
        final Class<?>[] argTypes;
        if (pmbTypes != null && pmbTypes.length > 0
                && ${glCursorHandlerName}.class.isAssignableFrom(pmbTypes[pmbTypes.length-1])) {
            argTypes = new Class<?>[pmbTypes.length - 1];
            for (int i=0; i < pmbTypes.length - 1; i++) {
                argTypes[i] = pmbTypes[i];
            }
        } else {
            argTypes = pmbTypes;
        }
        final BeanMetaData myBeanMetaData = getOutsideSqlBeanMetaData(method);
        registerSqlCommand(method.getName(), method, sql, argNames, argTypes, myBeanMetaData);
    }

    protected BeanMetaData getOutsideSqlBeanMetaData(Method method) {
        final Class beanClass4SelectMethodByManual = getOutsideSqlDefaultBeanClass(method);
        if (beanClass4SelectMethodByManual.equals(getBeanClass())) {
            return getBeanMetaData();
        }
        return createOutsideSqlCustomizeBeanMetaDataFactory().createBeanMetaData(getOutsideSqlDefaultBeanClass(method));
    }

    @Override
    protected void setupUpdateMethodByManual(Method method, final String sql) {
        // DBFlute Extesion does not exist. Because DBFlute methods don't use this!
        // The insert/update/delete methods on DAO interface as outside SQL are target.
        // And especially NonPrimaryInsertMethod uses this for using S2Dao's BindVariableNode.
        super.setupUpdateMethodByManual(method, sql);
    }

    // -----------------------------------------------------
    //                                  Common of OutsideSql
    //                                  --------------------
    protected BeanMetaDataFactory createOutsideSqlCustomizeBeanMetaDataFactory() {
        final ${glBeanMetaDataFactoryExtension} originalBmdFactory = new ${glBeanMetaDataFactoryExtension}() {
            protected BeanMetaDataImpl createBeanMetaDataImpl() {
                return newOutsideSqlCustomizeBeanMetaDataImpl();
            }
        };
        originalBmdFactory.setAnnotationReaderFactory(this.annotationReaderFactory);
        originalBmdFactory.setPropertyTypeFactoryBuilder(createOutsideSqlPropertyTypeFactoryBuilder());
        originalBmdFactory.setRelationPropertyTypeFactoryBuilder(this.relationPropertyTypeFactoryBuilder);
        originalBmdFactory.setTableNaming(this.tableNaming);
        originalBmdFactory.setDataSource(this.dataSource);
        originalBmdFactory.setDaoNamingConvention(this.daoNamingConvention);
        originalBmdFactory.setBeanEnhancer(this.beanEnhancer);
        return originalBmdFactory;
    }

    protected BeanMetaDataImpl newOutsideSqlCustomizeBeanMetaDataImpl() {
        return new OutsideSqlCustomizeBeanMetaDataImpl();
    }

    protected static class OutsideSqlCustomizeBeanMetaDataImpl extends BeanMetaDataImpl {
        // Though nothing to override, it uses original class just in case.
    }

    protected ${glPropertyTypeFactoryBuilderExtension} createOutsideSqlPropertyTypeFactoryBuilder() {
        final ${glPropertyTypeFactoryBuilderExtension} impl = new ${glPropertyTypeFactoryBuilderExtension}();
        if (columnNaming == null) {
            String msg = "Internal Error! The columnNaming should not be null! {Failed to Injection!}";
            throw new IllegalStateException(msg);
        }
        impl.setColumnNaming(columnNaming);
        impl.setValueTypeFactory(valueTypeFactory);
        return impl;
    }

    protected Class getOutsideSqlDefaultBeanClass(Method method) {
        final Class retType = method.getReturnType();
        if (java.util.List.class.isAssignableFrom(retType)) {
            final Class elementType = InternalMethodUtil.getElementTypeOfListFromReturnMethod(method);
            if (elementType != null) {
                return elementType;
            } else {
                return getBeanClass();
            }
        } else if (retType.isArray()) {
            return retType.getComponentType();
        } else if (retType.isPrimitive() || !ValueTypes.getValueType(retType).equals(ValueTypes.OBJECT)) {
            return getBeanClass();
        } else {
            return retType;
        }
    }

    // ===================================================================================
    //                                                            Sql Command Registration
    //                                                            ========================
    protected void registerSqlCommand(String sqlCommandKey, Method method, String sql, String[] argNames, Class[] argTypes, BeanMetaData myBeanMetaData) {
        registerSqlCommand(sqlCommandKey, method, sql, argNames, argTypes, createResultSetHandler(myBeanMetaData, method));
    }

    protected void registerSqlCommand(String sqlCommandKey, Method method, String sql, String[] argNames, Class[] argTypes, ResultSetHandler myResultSetHandler) {
        final ${glSelectDynamicCommand} cmd = createCustomizeSelectDynamicCommand(myResultSetHandler);
        registerSqlCommand(sqlCommandKey, method, sql, argNames, argTypes, cmd);
    }

    protected void registerSqlCommand(String sqlCommandKey, Method method, String sql, String[] argNames, Class[] argTypes, ${glSelectDynamicCommand} cmd) {
        cmd.setSql(sql);
        cmd.setArgNames(argNames);
        cmd.setArgTypes(argTypes);
        this.sqlCommands.put(sqlCommandKey, cmd);
    }

    protected void registerSqlCommand(String sqlCommandKey, Method method, String sql, String[] argNames, Class[] argTypes, ${glInternalUpdateDynamicCommand} cmd) {
        cmd.setSql(sql);
        cmd.setArgNames(argNames);
        cmd.setArgTypes(argTypes);
        this.sqlCommands.put(sqlCommandKey, cmd);
    }

    // ===================================================================================
    //                                                                     Common Handlnig
    //                                                                     ===============
    @Override
    protected void putSqlCommand(String methodName, SqlCommand cmd) {
        sqlCommands.put(methodName, cmd);
    }
    
    protected boolean isCheckSingleRowUpdate(Method method) {
        return checkSingleRowUpdateForAll & daoAnnotationReader.isCheckSingleRowUpdate(method);
    }

    // ===================================================================================
    //                                             Customize SelectDynamicCommand Creation
    //                                             =======================================
    /**
     * Create the customize select dynamic command that is for all select SQL on DBFlute.
     * @param handler The handler of result set. (NotNull)
     * @return The customize select dynamic command. (NotNull)
     */
    protected ${glSelectDynamicCommand} createCustomizeSelectDynamicCommand(ResultSetHandler handler) {
        return new ${glSelectDynamicCommand}(dataSource, statementFactory, handler);
    }

    // ===================================================================================
    //                                                           ResultSetHandler Override
    //                                                           =========================
    @Override
    protected ResultSetHandler createResultSetHandler(Method method) {
        return this.resultSetHandlerFactory.getResultSetHandler(daoAnnotationReader, beanMetaData, method);
    }

    protected ResultSetHandler createResultSetHandler(BeanMetaData specifiedBeanMetaData, Method method) {// For specified BeanMetaData
        return this.resultSetHandlerFactory.getResultSetHandler(daoAnnotationReader, specifiedBeanMetaData, method);
    }

    // ===================================================================================
    //                                                                      JDBC Delegator
    //                                                                      ==============
    protected Connection getConnection() {
        if (dataSource == null) {
            throw new IllegalStateException("The dataSource should not be null!");
        }
        try {
            return dataSource.getConnection();
        } catch (SQLException e) {
            handleSQLException(e, null);
            return null;// Unreachable!
        }
    }

    protected DatabaseMetaData getMetaData(Connection conn) {
        try {
            return conn.getMetaData();
        } catch (SQLException e) {
            handleSQLException(e, null);
            return null;// Unreachable!
        }
    }

    protected String getDatabaseProductName(DatabaseMetaData dbMetaData) {
        try {
            return dbMetaData.getDatabaseProductName();
        } catch (SQLException e) {
            handleSQLException(e, null);
            return null;// Unreachable!
        }
    }

    protected void close(Connection conn) {
        if (conn == null) {
            return;
        }
        try {
            conn.close();
        } catch (SQLException e) {
            handleSQLException(e, null);
        }
    }

    // ===================================================================================
    //                                                                  Exception Handlnig
    //                                                                  ==================
    protected void handleSQLException(SQLException e, Statement statement) {
        new SQLExceptionHandler().handleSQLException(e, statement);
    }

    // ===================================================================================
    //                                               ResultSetHandlerFactoryImpl Extension
    //                                               =====================================
    public static class ResultSetHandlerFactoryExtension extends ResultSetHandlerFactoryImpl {
        public ResultSetHandlerFactoryExtension() {
            super();
        }

        @Override
        protected RowCreator createRowCreator() { // [DAO-118] (2007/08/25)
            return createInternalRowCreator(null);
        }

        @Override
        protected RelationRowCreator createRelationRowCreator() {
            return createInternalRelationRowCreator(null);
        }
        
        @Override
        protected ResultSetHandler createBeanListMetaDataResultSetHandler(BeanMetaData bmd) { // DBFlute Target
            final ${glInternalRowCreator} rowCreator = createInternalRowCreator(bmd);
            final ${glInternalRelationRowCreator} relationRowCreator = createInternalRelationRowCreator(bmd);
            return new ${glInternalBeanListMetaDataResultSetHandler}(bmd, rowCreator, relationRowCreator);
        }
        
        @Override
        protected ResultSetHandler createBeanArrayMetaDataResultSetHandler(BeanMetaData bmd) { // DBFlute Target
            final ${glInternalRowCreator} rowCreator = createInternalRowCreator(bmd);
            final ${glInternalRelationRowCreator} relationRowCreator = createInternalRelationRowCreator(bmd);
            return new ${glInternalBeanArrayMetaDataResultSetHandler}(bmd, rowCreator, relationRowCreator);
        }

        protected ${glInternalRowCreator} createInternalRowCreator(BeanMetaData bmd) {
            final Class<?> clazz = bmd != null ? bmd.getBeanClass() : null;
            return ${glInternalRowCreator}.createInternalRowCreator(clazz);
        }

        protected ${glInternalRelationRowCreator} createInternalRelationRowCreator(BeanMetaData bmd) {
            return new ${glInternalRelationRowCreator}(); // Not yet implemented about performance tuning!
        }
    }

    // ===================================================================================
    //                                                                       Vert Internal
    //                                                                       =============
    protected static class InternalMethodUtil {
        public static Class getElementTypeOfListFromReturnMethod(Method method) {
            return InternalReflectionUtil.getElementTypeOfListFromReturnType(method);
        }
    }
    protected static class InternalReflectionUtil {
        public static Class<?> getElementTypeOfList(final Type parameterizedList) {
            if (!(parameterizedList instanceof ParameterizedType)) {
                return null;
            }
            final ParameterizedType parameterizedType = ParameterizedType.class.cast(parameterizedList);
            final Type rawType = parameterizedType.getRawType();
            if (!(rawType instanceof Class)) {
                return null;
            }
            final Class<?> rawClass = Class.class.cast(rawType);
            if (!rawClass.isAssignableFrom(List.class)) {
                return null;
            }
            final Type[] actualTypeArgument = parameterizedType.getActualTypeArguments();
            if (actualTypeArgument == null || actualTypeArgument.length != 1) {
                return null;
            }
            if (!(actualTypeArgument[0] instanceof Class)) {
                return null;
            }
            return Class.class.cast(actualTypeArgument[0]);
        }
        public static Class<?> getElementTypeOfListFromParameterType(final Method method, final int parameterPosition) {
            final Type[] pmbTypes = method.getGenericParameterTypes();
            return getElementTypeOfList(pmbTypes[parameterPosition]);
        }
        public static Class<?> getElementTypeOfListFromReturnType(final Method method) {
            return getElementTypeOfList(method.getGenericReturnType());
        }
    }

    // ===================================================================================
    //                                                                       Assist Helper
    //                                                                       =============
    protected ${glDBMetaInterfaceName} findDBMeta() {
        final Class<?> beanType = getBeanClass();
        if (beanType == null) {
            return null;
        }
        if (!${glEntityInterfaceName}.class.isAssignableFrom(beanType)) {
            return null;
        }
        final ${glEntityInterfaceName} entity;
        try {
            entity = (${glEntityInterfaceName})beanType.newInstance();
        } catch (InstantiationException e) {
            throw new IllegalStateException(e);
        } catch (IllegalAccessException e) {
            throw new IllegalStateException(e);
        }
        return entity.getDBMeta();
    }

    // ===================================================================================
    //                                                                      General Helper
    //                                                                      ==============
    protected String getLineSeparator() {
        return ${glSimpleSystemUtil}.getLineSeparator();
    }

    // ===================================================================================
    //                                                                            Accessor
    //                                                                            ========
    // -----------------------------------------------------
    //                                     Sql File Encoding
    //                                     -----------------
    public String getSqlFileEncoding() {
        return sqlFileEncoding;
    }

    // -----------------------------------------------------
    //                                         Bean Enhancer
    //                                         -------------
    public BeanEnhancer getBeanEnhancer() {
        return beanEnhancer;
    }

    public void setBeanEnhancer(final BeanEnhancer beanEnhancer) {
        this.beanEnhancer = beanEnhancer;
    }

    // -----------------------------------------------------
    //                             Annotation Reader Factory
    //                             -------------------------
    public void setAnnotationReaderFactory(org.seasar.dao.AnnotationReaderFactory annotationReaderFactory) {
        this.annotationReaderFactory = annotationReaderFactory;
    }

    // -----------------------------------------------------
    //                                  Version After 1.0.47
    //                                  --------------------
    public ColumnNaming getColumnNaming() {
        return columnNaming;
    }

    public void setColumnNaming(final ColumnNaming columnNaming) {
        this.columnNaming = columnNaming;
    }

    public PropertyTypeFactoryBuilder getPropertyTypeFactoryBuilder() {
        return propertyTypeFactoryBuilder;
    }

    public void setPropertyTypeFactoryBuilder(final PropertyTypeFactoryBuilder propertyTypeFactoryBuilder) {
        this.propertyTypeFactoryBuilder = propertyTypeFactoryBuilder;
    }

    public RelationPropertyTypeFactoryBuilder getRelationPropertyTypeFactoryBuilder() {
        return relationPropertyTypeFactoryBuilder;
    }

    public void setRelationPropertyTypeFactoryBuilder(final RelationPropertyTypeFactoryBuilder relationPropertyTypeFactoryBuilder) {
        this.relationPropertyTypeFactoryBuilder = relationPropertyTypeFactoryBuilder;
    }

    public TableNaming getTableNaming() {
        return tableNaming;
    }

    public void setTableNaming(final TableNaming tableNaming) {
        this.tableNaming = tableNaming;
    }

    // -----------------------------------------------------
    //                                     DBFlute Extension
    //                                     -----------------
    public ${glBehaviorSelectorInterfaceName} getBehaviorSelector() {
        return _behaviorSelector;
    }

    public void setBehaviorSelector(final ${glBehaviorSelectorInterfaceName} behaviorSelector) {
        this._behaviorSelector = behaviorSelector;
    }
    
    public boolean isInternalDebug() {
        return _internalDebug;
    }

    public void setInternalDebug(final boolean internalDebug) {
        this._internalDebug = internalDebug;
    }
}
