${database.allClassCopyright}package ${glPackageBaseCommonS2Dao};

import javax.sql.DataSource;

import org.apache.commons.logging.Log;
import org.apache.commons.logging.LogFactory;
#if ($database.isVersionAfter1040())
  #if ($database.isAvailableOtherConnectionDaoInitialization())

import javax.transaction.TransactionManager;
  #end

import org.seasar.dao.AnnotationReaderFactory;
import org.seasar.dao.BeanEnhancer;
import org.seasar.dao.impl.DaoMetaDataFactoryImpl;
import org.seasar.dao.impl.DaoMetaDataImpl;
import org.seasar.extension.jdbc.ResultSetFactory;
import org.seasar.extension.jdbc.StatementFactory;
#else

import org.seasar.dao.AnnotationReaderFactory;
import org.seasar.dao.DaoMetaData;
import org.seasar.dao.impl.DaoMetaDataFactoryImpl;
import org.seasar.dao.impl.DaoMetaDataImpl;
import org.seasar.extension.jdbc.ResultSetFactory;
import org.seasar.extension.jdbc.StatementFactory;
#end

import ${glPackageBaseCommonCBean}.${glConditionBeanContextName};

/**
 * DaoMetaDataFactoryImpl for DBFlute.
 * 
 * @author ${database.ClassAuthor}
 */
public class ${glDaoMetaDataFactoryImpl} extends DaoMetaDataFactoryImpl {

    // ===================================================================================
    //                                                                          Definition
    //                                                                          ==========
    /** Log-instance. */
    private static final Log _log = LogFactory.getLog(${glDaoInterceptor}.class);

#if ($database.isVersionAfter1040() && $database.isAvailableOtherConnectionDaoInitialization())
    // ===================================================================================
    //                                                                           Attribute
    //                                                                           =========
    private TransactionManager transactionManager;
#end

    // ===================================================================================
    //                                                                         Constructor
    //                                                                         ===========
    /**
     * Constructor.
     * 
     * @param dataSource Data source.
     * @param statementFactory Statement factory.
     * @param resultSetFactory Result set factory.
     * @param readerFactory Annotation reader factory.
     * @param xaDataSource XA data source.
     */
    public ${glDaoMetaDataFactoryImpl}(DataSource dataSource,
            StatementFactory statementFactory,
            ResultSetFactory resultSetFactory,
            AnnotationReaderFactory readerFactory,
            javax.sql.XADataSource xaDataSource) {
        super(dataSource, statementFactory, resultSetFactory, readerFactory);

        _log.info("/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * {DBFlute}");
        showInformation(dataSource, xaDataSource);

        // Stop the LinkageError!
        ${glConditionBeanContextName}.initialize();

        initializeDatabaseProductNameOfContext(xaDataSource);

        _log.info("* * * * */");
    }

    protected void showInformation(DataSource dataSource, javax.sql.XADataSource xaDataSource) {
        if (xaDataSource != null && xaDataSource instanceof org.seasar.extension.dbcp.impl.XADataSourceImpl) {
            final org.seasar.extension.dbcp.impl.XADataSourceImpl xaDataSourceImpl = (org.seasar.extension.dbcp.impl.XADataSourceImpl)xaDataSource;
            final String driverClassName = xaDataSourceImpl.getDriverClassName();
            final String url = xaDataSourceImpl.getURL();
            final String user = xaDataSourceImpl.getUser();
            _log.info("[XADataSource]: " + xaDataSourceImpl);
            _log.info("    driver = " + driverClassName);
            _log.info("    url    = " + url);
            _log.info("    user   = " + user);
        }
        _log.info("[StatementFactory]: " + statementFactory);
        _log.info("[ResultSetFactory]: " + resultSetFactory);
#if ($database.isVersionAfter1040())
        _log.info("[BeanEnhancer]: " + beanEnhancer);
#end
    }

    // -----------------------------------------------------
    //                                 Database Product Name
    //                                 ---------------------
    protected void initializeDatabaseProductNameOfContext(javax.sql.XADataSource xaDataSource) {
        if (getDatabaseProductNameFromContext() != null) {
            return;
        }

        // From JDBC Driver!
        if (xaDataSource != null && xaDataSource instanceof org.seasar.extension.dbcp.impl.XADataSourceImpl) {
            final org.seasar.extension.dbcp.impl.XADataSourceImpl xaDataSourceImpl = (org.seasar.extension.dbcp.impl.XADataSourceImpl)xaDataSource;
            final String driverClassName = xaDataSourceImpl.getDriverClassName();
            if (driverClassName != null) {
                if (setupDatabaseProductNameByDriverClassName(driverClassName)) {
                    _log.info("...Initializing database product name from driverClassName: " + getDatabaseProductNameFromContext());
                    return;
                }
            }
        }

        _log.info("...Initializing database product name as default: ${database.daoGenDbName}");
        setDatabaseProductNameToContext("${database.daoGenDbName}");
    }

    protected String getDatabaseProductNameFromContext() {
        return ${glConditionBeanContextName}.getDatabaseProductName();
    }

    protected void setDatabaseProductNameToContext(String name) {
        ${glConditionBeanContextName}.setDatabaseProductName(name);
    }

    protected boolean setupDatabaseProductNameByDriverClassName(String driverClassName) {
        return ${glConditionBeanContextName}.setupDatabaseProductNameByDriverClassName(driverClassName);
    }

#if ($database.isVersionAfter1046())
    // ===================================================================================
    //                                                                          Initialize
    //                                                                          ==========
    public void initialize() {
        if (dtoMetaDataFactory == null) {
            final org.seasar.dao.impl.DtoMetaDataFactoryImpl factory = new org.seasar.dao.impl.DtoMetaDataFactoryImpl();
            factory.setAnnotationReaderFactory(this.annotationReaderFactory);
            factory.setValueTypeFactory(valueTypeFactory);
            dtoMetaDataFactory = factory;
        }
        if (resultSetHandlerFactory == null) {
            final org.seasar.dao.impl.ResultSetHandlerFactoryImpl factory = new ${glDaoMetaDataExtension}.ResultSetHandlerFactoryExtension();
            factory.setDtoMetaDataFactory(dtoMetaDataFactory);
            resultSetHandlerFactory = factory;
        }
    }
#end

    // ===================================================================================
    //                                                                   Sql File Encoding
    //                                                                   =================
    public String getSqlFileEncoding() {
        return sqlFileEncoding;
    }

#if ($database.isVersionAfter1040())

    // ===================================================================================
    //                                                                       Bean Enhancer
    //                                                                       =============
    protected BeanEnhancer beanEnhancer;

    public BeanEnhancer getBeanEnhancer() {
        return beanEnhancer;
    }

    public void setBeanEnhancer(final BeanEnhancer beanEnhancer) {
        this.beanEnhancer = beanEnhancer;
    }

#if ($database.isAvailableOtherConnectionDaoInitialization())

    // ===================================================================================
    //                                                      DataMetaData Creation Override
    //                                                      ==============================
    protected DaoMetaDataImpl createDaoMetaDataImpl() {// Override!
        final ${glDaoMetaDataExtension} dmdExtension = newDaoMetaDataExtension();
        dmdExtension.setBeanEnhancer(this.beanEnhancer);
        dmdExtension.setTransactionManager(this.transactionManager);
#if ($database.isVersionAfter1046())
        dmdExtension.setAnnotationReaderFactory(this.annotationReaderFactory);
#end
        return dmdExtension;
    }

    // ===================================================================================
    //                                                                            Accessor
    //                                                                            ========
    public TransactionManager getTransactionManager() {
        return transactionManager;
    }

    public void setTransactionManager(TransactionManager transactionManager) {
        this.transactionManager = transactionManager;
    }
#else

    protected DaoMetaDataImpl createDaoMetaDataImpl() {// Override!
        final ${glDaoMetaDataExtension} dmdExtension = newDaoMetaDataExtension();
        dmdExtension.setBeanEnhancer(this.beanEnhancer);
#if ($database.isVersionAfter1046())
        dmdExtension.setAnnotationReaderFactory(this.annotationReaderFactory);
#end
        return dmdExtension;
    }
#end

    protected ${glDaoMetaDataExtension} newDaoMetaDataExtension() {
        return new ${glDaoMetaDataExtension}();
    }

#else

    // ===================================================================================
    //                                                                         DaoMetaData
    //                                                                         ===========
    /**
     * Create data meta data.
     * 
     * @param daoClass Dao class
     * @return Data meta data.
     */
    protected DaoMetaData createDaoMetaData(Class daoClass) {
        DaoMetaDataImpl daoMetaData = new ${glDaoMetaDataExtension}();
        daoMetaData.setDaoClass(daoClass);
        daoMetaData.setDataSource(dataSource);
        daoMetaData.setStatementFactory(statementFactory);
        daoMetaData.setResultSetFactory(resultSetFactory);
        daoMetaData.setAnnotationReaderFactory(annotationReaderFactory);
        daoMetaData.setValueTypeFactory(valueTypeFactory);
        if (sqlFileEncoding != null) {
            daoMetaData.setSqlFileEncoding(sqlFileEncoding);
        }
        if (daoSuffixes != null) {
            daoMetaData.setDaoSuffixes(daoSuffixes);
        }
        if (insertPrefixes != null) {
            daoMetaData.setInsertPrefixes(insertPrefixes);
        }
        if (updatePrefixes != null) {
            daoMetaData.setUpdatePrefixes(updatePrefixes);
        }
        if (deletePrefixes != null) {
            daoMetaData.setDeletePrefixes(deletePrefixes);
        }
        daoMetaData.initialize();
        return daoMetaData;
    }
#end
}