package ${glPackageBaseCommonS2Dao};

import java.sql.Connection;
import java.sql.DatabaseMetaData;
import javax.sql.DataSource;

import org.apache.commons.logging.Log;
import org.apache.commons.logging.LogFactory;
#if ($database.isVersionAfter1040())
  #if ($database.isAvailableOtherConnectionDaoInitialization())

import javax.transaction.TransactionManager;
  #end

import org.seasar.dao.AnnotationReaderFactory;
import org.seasar.dao.BeanEnhancer;
import org.seasar.dao.impl.DaoMetaDataFactoryImpl;
import org.seasar.dao.impl.DaoMetaDataImpl;
import org.seasar.extension.jdbc.ResultSetFactory;
import org.seasar.extension.jdbc.StatementFactory;
#else

import org.seasar.dao.AnnotationReaderFactory;
import org.seasar.dao.DaoMetaData;
import org.seasar.dao.impl.DaoMetaDataFactoryImpl;
import org.seasar.dao.impl.DaoMetaDataImpl;
import org.seasar.extension.jdbc.ResultSetFactory;
import org.seasar.extension.jdbc.StatementFactory;
#end

import org.seasar.dao.Dbms;
import org.seasar.dao.dbms.DbmsManager;
import org.seasar.extension.jdbc.util.ConnectionUtil;
import org.seasar.extension.jdbc.util.DataSourceUtil;

import ${glPackageBaseCommonCBean}.${glConditionBeanContextName};

/**
 * DaoMetaDataFactoryImpl for DBFlute.
 * 
 * @author ${database.ClassAuthor}
 */
public class ${glDaoMetaDataFactoryImpl} extends DaoMetaDataFactoryImpl {

    /** Log-instance. */
    private static final Log _log = LogFactory.getLog(${glDaoInterceptor}.class);
#if ($database.isVersionAfter1040() && $database.isAvailableOtherConnectionDaoInitialization())

    // =====================================================================================
    //                                                                             Attribute
    //                                                                             =========
    private TransactionManager transactionManager;
#end

    // =====================================================================================
    //                                                                           Constructor
    //                                                                           ===========
    /**
     * Constructor.
     * 
     * @param dataSource Data source.
     * @param statementFactory Statement factory.
     * @param resultSetFactory Result set factory.
     * @param readerFactory Annotation reader factory.
     */
    public ${glDaoMetaDataFactoryImpl}(DataSource dataSource,
            StatementFactory statementFactory,
            ResultSetFactory resultSetFactory,
            AnnotationReaderFactory readerFactory) {
        super(dataSource, statementFactory, resultSetFactory, readerFactory);

        // Stop the LinkageError!
        ${glConditionBeanContextName}.initialize();

        initializeDatabaseProductNameOfContext(dataSource);
    }

    // --------------------------------------
    //                  Database Product Name
    //                  ---------------------
    protected void initializeDatabaseProductNameOfContext(DataSource dataSource) {
        if (getDatabaseProductNameFromContext() != null) {
            return;
        }
        String suffix = null;
        try {
            final Connection con = DataSourceUtil.getConnection(dataSource);
            try {
                final DatabaseMetaData dbMetaData = ConnectionUtil.getMetaData(con);
                final Dbms dbms = DbmsManager.getDbms(dbMetaData);
                suffix = dbms.getSuffix();
            } finally {
                ConnectionUtil.close(con);
            }
            if (suffix == null) {
                setDatabaseProductNameToContext("${database.DaoGenDbName}");
                return;
            }
        } catch (RuntimeException e) {
            _log.info("initializeDatabaseProductNameOfContext threw the exception: " + e.getClass(), e);
            return;
        }
        suffix = suffix.startsWith("_") ? suffix.substring("_".length()) : suffix;
        setDatabaseProductNameToContext(suffix);
    }

    protected String getDatabaseProductNameFromContext() {
        return ${glConditionBeanContextName}.getDatabaseProductName();
    }

    protected void setDatabaseProductNameToContext(String name) {
        ${glConditionBeanContextName}.setDatabaseProductName(name);
    }

#if ($database.isVersionAfter1040())

    // =====================================================================================
    //                                                        DataMetaData Creation Override
    //                                                        ==============================
    protected BeanEnhancer beanEnhancer;

    public BeanEnhancer getBeanEnhancer() {
        return beanEnhancer;
    }

    public void setBeanEnhancer(final BeanEnhancer beanEnhancer) {
        this.beanEnhancer = beanEnhancer;
    }
  #if ($database.isAvailableOtherConnectionDaoInitialization())

    protected DaoMetaDataImpl createDaoMetaDataImpl() {// Override!
        ${glDaoMetaDataExtension} dmdExtension = new ${glDaoMetaDataExtension}();
        dmdExtension.setBeanEnhancer(this.beanEnhancer);
        dmdExtension.setTransactionManager(this.transactionManager);
        return dmdExtension;
    }

    // =====================================================================================
    //                                                                              Accessor
    //                                                                              ========
    public TransactionManager getTransactionManager() {
        return transactionManager;
    }

    public void setTransactionManager(TransactionManager transactionManager) {
        this.transactionManager = transactionManager;
    }
  #else

    protected DaoMetaDataImpl createDaoMetaDataImpl() {// Override!
        ${glDaoMetaDataExtension} dmdExtension = new ${glDaoMetaDataExtension}();
        dmdExtension.setBeanEnhancer(this.beanEnhancer);
        return dmdExtension;
    }
  #end
#else

    // =====================================================================================
    //                                                                           DaoMetaData
    //                                                                           ===========
    /**
     * Create data meta data.
     * 
     * @param daoClass Dao class
     * @return Data meta data.
     */
    protected DaoMetaData createDaoMetaData(Class daoClass) {
        DaoMetaDataImpl daoMetaData = new ${glDaoMetaDataExtension}();
        daoMetaData.setDaoClass(daoClass);
        daoMetaData.setDataSource(dataSource);
        daoMetaData.setStatementFactory(statementFactory);
        daoMetaData.setResultSetFactory(resultSetFactory);
        daoMetaData.setAnnotationReaderFactory(annotationReaderFactory);
        daoMetaData.setValueTypeFactory(valueTypeFactory);
        if (sqlFileEncoding != null) {
            daoMetaData.setSqlFileEncoding(sqlFileEncoding);
        }
        if (daoSuffixes != null) {
            daoMetaData.setDaoSuffixes(daoSuffixes);
        }
        if (insertPrefixes != null) {
            daoMetaData.setInsertPrefixes(insertPrefixes);
        }
        if (updatePrefixes != null) {
            daoMetaData.setUpdatePrefixes(updatePrefixes);
        }
        if (deletePrefixes != null) {
            daoMetaData.setDeletePrefixes(deletePrefixes);
        }
        daoMetaData.initialize();
        return daoMetaData;
    }
#end
}