${database.allClassCopyright}package ${glPackageBaseCommonS2Dao};

import ${glPackageBaseCommonJdbc}.${glLatestSqlProviderName};
import ${glPackageBaseCommonS2DaoInternalSqlLog}.${glInternalSqlLogRegistry};

/**
 * The provider of latest SQL using SqlLogRegistry.
 * This instance should be singleton.
 * @author ${database.ClassAuthor}
 */
public class ${glSqlLogRegistryLatestSqlProvider} implements ${glLatestSqlProviderName} {

    public String getDisplaySql() {
        return ${glInternalSqlLogRegistry}.peekCompleteSql();
    }

	public void clearSqlCache() {
        ${glInternalSqlLogRegistry}.clearSqlLogRegistry();
	}
}
