${database.allClassCopyright}package ${glPackageBaseCommonDBMetaHierarchy};

#set ($myClassName = "${glHierarchySourceRow}")

/**
 * @author ${database.ClassAuthor}
 */
public interface ${myClassName} {

    public Object extractColumnValue(${glHierarchySourceColumn} columnInfo);
}
