${database.allClassCopyright}package ${glPackageBaseCommonAnnotation};

import java.lang.annotation.ElementType;
import java.lang.annotation.Inherited;
import java.lang.annotation.Retention;
import java.lang.annotation.RetentionPolicy;
import java.lang.annotation.Target;

@Inherited
@Retention(RetentionPolicy.RUNTIME)
@Target(ElementType.METHOD)
public @interface ${glOutsideSqlAnnotation} {

    /**
     * @deprecated Please use embeddedBinding().
     */
    boolean dynamicAnalysis() default false;

    boolean embeddedBinding() default false;
    boolean offsetByCursor() default false;
    boolean limitByCursor() default false;
}
