${database.allClassCopyright}package ${glPackageBaseCommonCBeanGrouping};

/**
 * The class of option for grouping.
 * @param  <ENTITY> The type of entity.
 * @author ${database.ClassAuthor}
 */
public class ${glGroupingOptionName}<ENTITY> {

    // =====================================================================================
    //                                                                             Attribute
    //                                                                             =========
    protected int _elementCount;

    protected ${glGroupingRowEndDeterminerName}<ENTITY> _groupingRowEndDeterminer;

    // =====================================================================================
    //                                                                           Constructor
    //                                                                           ===========
    /**
     * Constructor. You should set the determiner of grouping row end after you create the instance.
     */
    public ${glGroupingOptionName}() {
    }

    /**
     * Constructor.
     * @param elementCount The count of row element in a group.
     */
    public ${glGroupingOptionName}(int elementCount) {
        _elementCount = elementCount;
    }

    // =====================================================================================
    //                                                                              Accessor
    //                                                                              ========
    public int getElementCount() {
        return this._elementCount;
    }

    public ${glGroupingRowEndDeterminerName}<ENTITY> getGroupingRowEndDeterminer() {
        return this._groupingRowEndDeterminer;
    }

    public void setGroupingRowEndDeterminer(${glGroupingRowEndDeterminerName}<ENTITY> groupingRowEndDeterminer) {
        this._groupingRowEndDeterminer = groupingRowEndDeterminer;
    }
}
