${database.allClassCopyright}package ${glPackageBaseCommonCBeanGrouping};

/**
 * The interface of grouping row setupper.
 * 
 * ${database.filterGenericsParamOutput('<ROW>', 'The type of row.')}
 * ${database.filterGenericsParamOutput('<ENTITY>', 'The type of entity.')}
 * @author ${database.ClassAuthor}
 */
public interface ${glGroupingRowSetupperName}<ROW, ENTITY> {

    /**
     * Set up grouping row object.
     * 
     * @param groupingRowResource Grouping row resource. (NotNull)
     * @return Grouping row object. (NotNull)
     */
    public ROW setup(${glGroupingRowResourceName}<ENTITY> groupingRowResource);
}
