#set ($database = $schemaData.database)
#set ($basepath = $generator.OutputPath)
    
#if ($outputFormat=="html")
  #set ( $outFile = "${schemaData.name}.html" )
#else
  #set ( $outFile = "${schemaData.name}.xml" )
#end

File to be created: $outFile

## - - - - - - - - - - - -
## Initialize properties.
## - - - - - - - - - - - -
$database.initializeVersion(90)
$database.initializeAdditionalPrimaryKey()
$database.initializeAdditionalForeignKey()
$database.initializeClassificationDeployment()

$generator.parse("doc/$outputFormat/datamodel.vm",$outFile,"dataModel",$dataModel)
